Import XSDs/DMS_CCI_DS/EDS/EDS_EXTENSIONS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:eds:datamodel:EDS:EDS_EXTENSIONS:1"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:udt="urn:eds:datamodel:EDS:data:standard:ExtensionsDataType:1"
  targetNamespace="urn:eds:datamodel:EDS:EDS_EXTENSIONS:1"
  elementFormDefault="qualified"
  version="1.0">
  <xs:import namespace="urn:eds:datamodel:EDS:data:standard:ExtensionsDataType:1"
    schemaLocation="EDS_EXTENSIONS_DATATYPE.xsd"/>


  <xs:complexType name="ExtensionType">
    <xs:sequence>
      <xs:element name="SequenceNumeric" minOccurs="1">
        <xs:simpleType>
          <xs:restriction base="udt:NumericType">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ID" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Key" minOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Value" minOccurs="1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DataType" minOccurs="1" default="text">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="object"/>
            <xs:enumeration value="text"/>
            <xs:enumeration value="numeric"/>
            <xs:enumeration value="decimal"/>
            <xs:enumeration value="date"/>
            <xs:enumeration value="dateTime"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Extensions" type="ExtensionType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
