Transit XSDs/D4 XSDs/DMS_D4_PN_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           xmlns="http://ncts.dgtaxud.ec" targetNamespace="http://ncts.dgtaxud.ec"
           elementFormDefault="unqualified" attributeFormDefault="unqualified" version="51.8.0" vc:minVersion="1.1">
  <!--================================================================================-->
  <!--===== IE015: E_DEC_DAT                                                          -->
  <!--===== DECLARATION DATA                                                          -->
  <!--===== NCTS P5 Phase Definition                                                  -->
  <!--===== XSD Version 51.8.0                                                        -->
  <!--================================================================================-->
  <!--================================================================================-->
  <!--===== Includes                                                                  -->
  <!--================================================================================-->
  <xs:include schemaLocation="../NCTS_DS/ctypes.xsd"/>
  <xs:include schemaLocation="../NCTS_DS/htypes.xsd"/>
  <!--================================================================================-->
  <!--===== Root Element                                                              -->
  <!--================================================================================-->
  <xs:element name="CC015C" type="CC015CType"/>
  <!--================================================================================-->
  <!--===== Root Element Content                                                      -->
  <!--================================================================================-->
  <xs:complexType name="CC015CType">
    <xs:sequence>
      <xs:element name="TransitOperation">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="LRN" type="LRNContentType03">
              <xs:annotation>
                <xs:documentation>
                  <description value="LRN"/>
                  <format value="an..22"/>
                  <optionality value="R"/>
                  <xsdBaseType value="AlphaNumeric_MAX22_NoSpaces"/>
                </xs:documentation>
                <xs:documentation>
                  <xs:EUCDMName>LRN</xs:EUCDMName>
                  <xs:Code>12 09 000 000</xs:Code>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Representative" minOccurs="0">
        <xs:documentation>
          <xs:EUCDMName>Representative</xs:EUCDMName>
          <xs:Code>13 06 000 000</xs:Code>
        </xs:documentation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="identificationNumber" type="IdentificationNumberContentType01">
              <xs:annotation>
                <xs:documentation>
                  <description value="Identification number"/>
                  <format value="an..17"/>
                  <optionality value="R"/>
                  <xsdBaseType value="AlphaNumeric_MAX17_NoSpaces"/>
                </xs:documentation>
                <xs:documentation>
                  <xs:EUCDMName>Identification Number</xs:EUCDMName>
                  <xs:Code>13 06 017 000</xs:Code>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="status" type="StatusContentType03">
              <xs:annotation>
                <xs:documentation>
                  <description value="Status"/>
                  <codeList code="CL094" type="business" name="RepresentativeStatusCode"/>
                  <format value="n1"/>
                  <optionality value="R"/>
                </xs:documentation>
                <xs:documentation>
                  <xs:EUCDMName>Type</xs:EUCDMName>
                  <xs:Code>13 06 030 000</xs:Code>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="ContactPerson" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  <description value="CONTACT PERSON"/>
                  <optionality value="O"/>
                </xs:documentation>
                <xs:documentation>
                  <xs:EUCDMName>Contact Person</xs:EUCDMName>
                  <xs:Code>13 06 074 000</xs:Code>
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="name" type="NameContentType02">
                    <xs:annotation>
                      <xs:documentation>
                        <description value="Name"/>
                        <format value="an..70"/>
                        <optionality value="R"/>
                        <xsdBaseType value="AlphaNumeric_MAX70_NoSpaces"/>
                      </xs:documentation>
                      <xs:documentation>
                        <xs:EUCDMName>name</xs:EUCDMName>
                        <xs:Code>13 06 074 016</xs:Code>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="phoneNumber" type="PhoneNumberContentType02">
                    <xs:annotation>
                      <xs:documentation>
                        <description value="Phone number"/>
                        <format value="an..35"/>
                        <optionality value="R"/>
                      </xs:documentation>
                      <xs:documentation>
                        <xs:EUCDMName>Phone Number</xs:EUCDMName>
                        <xs:Code>13 06 074 075</xs:Code>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="eMailAddress" minOccurs="0" type="EMailAddressContentType02">
                    <xs:annotation>
                      <xs:documentation>
                        <description value="E-mail address"/>
                        <format value="an..256"/>
                        <optionality value="O"/>
                        <xsdBaseType value="EmailAddressType256_NoSpaces"/>
                      </xs:documentation>
                      <xs:documentation>
                        <xs:EUCDMName>E-mail address</xs:EUCDMName>
                        <xs:Code>13 06 074 076</xs:Code>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CustomsOfficeOfDeparture">
        <xs:documentation>
          <xs:EUCDMName>Customs Office of Departure</xs:EUCDMName>
          <xs:Code>17 03 000 000</xs:Code>
        </xs:documentation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="referenceNumber" type="ReferenceNumberContentType05">
              <xs:annotation>
                <xs:documentation>
                  <description value="Reference number"/>
                  <codeList code="CL171" type="business" name="CustomsOfficeDeparture"/>
                  <format value="an8"/>
                  <optionality value="R"/>
                  <xsdBaseType value="CORefNumType"/>
                </xs:documentation>
                <xs:documentation>
                  <xs:EUCDMName>Reference Number</xs:EUCDMName>
                  <xs:Code>17 03 001 000</xs:Code>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="HolderOfTheTransitProcedure">
        <xs:documentation>
          <xs:EUCDMName>Holder of the transit procedure</xs:EUCDMName>
          <xs:Code>13 07 000 000</xs:Code>
        </xs:documentation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="identificationNumber" minOccurs="0" type="IdentificationNumberContentType01">
              <xs:annotation>
                <xs:documentation>
                  <description value="Identification number"/>
                  <format value="an..17"/>
                  <optionality value="O"/>
                  <xsdBaseType value="AlphaNumeric_MAX17_NoSpaces"/>
                </xs:documentation>
                <xs:documentation>
                  <xs:EUCDMName>Identification Number</xs:EUCDMName>
                  <xs:Code>13 07 017 000</xs:Code>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="TIRHolderIdentificationNumber" minOccurs="0"
                        type="TIRHolderIdentificationNumberContentType02">
              <xs:annotation>
                <xs:documentation>
                  <description value="TIR holder identification number"/>
                  <format value="an..17"/>
                  <optionality value="D"/>
                  <xsdBaseType value="AlphaNumeric_MAX17_NoSpaces"/>
                </xs:documentation>
                <xs:documentation>
                  <xs:EUCDMName>TIR Holder identification number</xs:EUCDMName>
                  <xs:Code>13 07 000 000</xs:Code>
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Consignment">
        <xs:documentation>
          <xs:EUCDMName>Container Indicator</xs:EUCDMName>
          <xs:Code>19 01 000 000</xs:Code>
        </xs:documentation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ActiveBorderTransportMeans" minOccurs="0" maxOccurs="9">
              <xs:annotation>
                <xs:documentation>
                  <description value="ACTIVE BORDER TRANSPORT MEANS"/>
                  <optionality value="D"/>
                </xs:documentation>
                <xs:documentation>
                  <xs:EUCDMName>Active border transport means</xs:EUCDMName>
                  <xs:Code>19 08 000 000</xs:Code>
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="identificationNumber" minOccurs="0"
                              type="IdentificationNumberContentType06">
                    <xs:annotation>
                      <xs:documentation>
                        <description value="Identification number"/>
                        <format value="an..35"/>
                        <optionality value="O"/>
                        <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces"/>
                      </xs:documentation>
                      <xs:documentation>
                        <xs:EUCDMName>Identification number</xs:EUCDMName>
                        <xs:Code>19 08 017 000</xs:Code>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="typeOfIdentification" minOccurs="0"
                              type="TypeOfIdentificationContentType">
                    <xs:annotation>
                      <xs:documentation>
                        <description value="Type of identification"/>
                        <codeList code="CL219" type="business"
                                  name="Typeofidentificationofmeansoftransportactive"/>
                        <format value="n2"/>
                        <optionality value="O"/>
                      </xs:documentation>
                      <xs:documentation>
                        <xs:EUCDMName>Type of identification</xs:EUCDMName>
                        <xs:Code>19 08 061 000</xs:Code>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="nationality" minOccurs="0" type="NationalityContentType">
                    <xs:annotation>
                      <xs:documentation>
                        <description value="Nationality"/>
                        <codeList code="CL165" type="business" name="Nationality"/>
                        <format value="a2"/>
                        <optionality value="O"/>
                        <xsdBaseType value="CountryCodeType"/>
                      </xs:documentation>
                      <xs:documentation>
                        <xs:EUCDMName>Nationality</xs:EUCDMName>
                        <xs:Code>19 08 062 000</xs:Code>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="PlaceOfLoading" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  <description value="PLACE OF LOADING"/>
                  <optionality value="D"/>
                </xs:documentation>
                <xs:documentation>
                  <xs:EUCDMName>Place of Loading</xs:EUCDMName>
                  <xs:Code>16 13 000 000</xs:Code>
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="UNLocode" minOccurs="0" type="UNLocodeContentType">
                    <xs:annotation>
                      <xs:documentation>
                        <description value="UN LOCODE"/>
                        <codeList code="CL244" type="business" name="Unlocodeextended"/>
                        <format value="an..17"/>
                        <optionality value="O"/>
                      </xs:documentation>
                      <xs:documentation>
                        <xs:EUCDMName>UN/LOCODE</xs:EUCDMName>
                        <xs:Code>16 13 037 000</xs:Code>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="country" minOccurs="0" type="CountryContentType">
                    <xs:annotation>
                      <xs:documentation>
                        <description value="Country"/>
                        <codeList code="CL008" type="business" name="CountryCodesFullList"/>
                        <format value="a2"/>
                        <optionality value="D"/>
                        <xsdBaseType value="CountryCodeType"/>
                      </xs:documentation>
                      <xs:documentation>
                        <xs:EUCDMName>Country</xs:EUCDMName>
                        <xs:Code>16 13 020 000</xs:Code>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="location" minOccurs="0" type="LocationContentType01">
                    <xs:annotation>
                      <xs:documentation>
                        <description value="Location"/>
                        <format value="an..35"/>
                        <optionality value="D"/>
                        <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces"/>
                      </xs:documentation>
                      <xs:documentation>
                        <xs:EUCDMName>Location</xs:EUCDMName>
                        <xs:Code>16 13 036 000</xs:Code>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="LocationOfGoods" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  <description value="LOCATION OF GOODS"/>
                  <optionality value="D"/>
                </xs:documentation>
                <xs:documentation>
                  <xs:EUCDMName>Location of Goods</xs:EUCDMName>
                  <xs:Code>16 15 000 000</xs:Code>
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="UNLocode" minOccurs="0" type="UNLocodeContentType">
                    <xs:annotation>
                      <xs:documentation>
                        <description value="UN LOCODE"/>
                        <codeList code="CL244" type="business" name="Unlocodeextended"/>
                        <format value="an..17"/>
                        <optionality value="D"/>
                      </xs:documentation>
                      <xs:documentation>
                        <xs:EUCDMName>UN/LOCODE</xs:EUCDMName>
                        <xs:Code>16 15 036 000</xs:Code>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="additionalIdentifier" minOccurs="0"
                              type="AdditionalIdentifierContentType02">
                    <xs:annotation>
                      <xs:documentation>
                        <description value="Additional identifier"/>
                        <format value="an..4"/>
                        <optionality value="D"/>
                        <xsdBaseType value="AlphaNumeric_MAX4_NoSpaces"/>
                      </xs:documentation>
                      <xs:documentation>
                        <xs:EUCDMName>Additional identifier</xs:EUCDMName>
                        <xs:Code>16 15 053 000</xs:Code>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="typeOfLocation" type="TypeOfLocationContentType">
                    <xs:annotation>
                      <xs:documentation>
                        <description value="Type of location"/>
                        <codeList code="CL347" type="business" name="TypeOfLocation"/>
                        <format value="a1"/>
                        <optionality value="R"/>
                      </xs:documentation>
                      <xs:documentation>
                        <xs:EUCDMName>Type of location</xs:EUCDMName>
                        <xs:Code>16 15 045 000</xs:Code>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="GNSS" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>
                        <description value="GNSS"/>
                        <optionality value="D"/>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="latitude" type="LatitudeContentType">
                          <xs:annotation>
                            <xs:documentation>
                              <description value="Latitude"/>
                              <format value="an..17"/>
                              <optionality value="R"/>
                              <xsdBaseType value="GNSSLatitude"/>
                            </xs:documentation>
                            <xs:documentation>
                              <xs:EUCDMName>Latitude</xs:EUCDMName>
                              <xs:Code>16 15 048 049</xs:Code>
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="longitude" type="LongitudeContentType">
                          <xs:annotation>
                            <xs:documentation>
                              <description value="Longitude"/>
                              <format value="an..17"/>
                              <optionality value="R"/>
                              <xsdBaseType value="GNSSLongitude"/>
                            </xs:documentation>
                            <xs:documentation>
                              <xs:EUCDMName>Longitude</xs:EUCDMName>
                              <xs:Code>16 15 048 050</xs:Code>
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="qualifierOfIdentification"
                              type="QualifierOfIdentificationContentType">
                    <xs:annotation>
                      <xs:documentation>
                        <description value="Qualifier of identification"/>
                        <codeList code="CL326" type="business"
                                  name="QualifierOfTheIdentification"/>
                        <format value="a1"/>
                        <optionality value="R"/>
                      </xs:documentation>
                      <xs:documentation>
                        <xs:EUCDMName>Qualifier of identification</xs:EUCDMName>
                        <xs:Code>16 15 046 000</xs:Code>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="ContactPerson" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>
                        <description value="CONTACT PERSON"/>
                        <optionality value="D"/>
                      </xs:documentation>
                      <xs:documentation>
                        <xs:EUCDMName>Contact Person</xs:EUCDMName>
                        <xs:Code>16 15 074 000</xs:Code>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="name" type="NameContentType02">
                          <xs:annotation>
                            <xs:documentation>
                              <description value="Name"/>
                              <format value="an..70"/>
                              <optionality value="R"/>
                              <xsdBaseType value="AlphaNumeric_MAX70_NoSpaces"/>
                            </xs:documentation>
                            <xs:documentation>
                              <xs:EUCDMName>Name</xs:EUCDMName>
                              <xs:Code>16 15 074 016</xs:Code>
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="phoneNumber" type="PhoneNumberContentType02">
                          <xs:annotation>
                            <xs:documentation>
                              <description value="Phone number"/>
                              <format value="an..35"/>
                              <optionality value="R"/>
                            </xs:documentation>
                            <xs:documentation>
                              <xs:EUCDMName>Phone number</xs:EUCDMName>
                              <xs:Code>16 15 074 075</xs:Code>
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="eMailAddress" minOccurs="0"
                                    type="EMailAddressContentType02">
                          <xs:annotation>
                            <xs:documentation>
                              <description value="E-mail address"/>
                              <format value="an..256"/>
                              <optionality value="O"/>
                              <xsdBaseType value="EmailAddressType256_NoSpaces"/>
                            </xs:documentation>
                            <xs:documentation>
                              <xs:EUCDMName>E-mail Address</xs:EUCDMName>
                              <xs:Code>16 15 074 076</xs:Code>
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>


                  <xs:element name="authorisationNumber" minOccurs="0"
                              type="AuthorisationNumberContentType02">
                    <xs:annotation>
                      <xs:documentation>
                        <description value="Authorisation number"/>
                        <format value="an..35"/>
                        <optionality value="D"/>
                        <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces"/>
                      </xs:documentation>
                      <xs:documentation>
                        <xs:EUCDMName>Authorisation number</xs:EUCDMName>
                        <xs:Code>16 15 052 000</xs:Code>
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="Address" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>
                        <description value="ADDRESS"/>
                        <optionality value="D"/>
                      </xs:documentation>
                      <xs:documentation>
                        <xs:EUCDMName>Address</xs:EUCDMName>
                        <xs:Code>16 15 018 000</xs:Code>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="streetAndNumber" type="StreetAndNumberContentType02">
                          <xs:annotation>
                            <xs:documentation>
                              <description value="Street and number"/>
                              <format value="an..70"/>
                              <optionality value="R"/>
                              <xsdBaseType value="AlphaNumeric_MAX70_NoSpaces"/>
                            </xs:documentation>
                            <xs:documentation>
                              <xs:EUCDMName>Street and Number</xs:EUCDMName>
                              <xs:Code>16 15 018 019</xs:Code>
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="postcode" minOccurs="0" type="PostcodeContentType02">
                          <xs:annotation>
                            <xs:documentation>
                              <description value="Postcode"/>
                              <format value="an..17"/>
                              <optionality value="D"/>
                              <xsdBaseType value="AlphaNumeric_MAX17_NoSpaces"/>
                            </xs:documentation>
                            <xs:documentation>
                              <xs:EUCDMName>Postcode</xs:EUCDMName>
                              <xs:Code>16 15 018 021</xs:Code>
                            </xs:documentation>
                            <xs:documentation>
                              <xs:EUCDMName>Postcode</xs:EUCDMName>
                              <xs:Code>16 15 081 021</xs:Code>
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="city" type="CityContentType03">
                          <xs:annotation>
                            <xs:documentation>
                              <description value="City"/>
                              <format value="an..35"/>
                              <optionality value="R"/>
                              <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces"/>
                            </xs:documentation>
                            <xs:documentation>
                              <xs:EUCDMName>City</xs:EUCDMName>
                              <xs:Code>16 15 018 022</xs:Code>
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="country" type="CountryContentType">
                          <xs:annotation>
                            <xs:documentation>
                              <description value="Country"/>
                              <codeList code="CL009" type="business"
                                        name="CountryCodesCommonTransit"/>
                              <format value="a2"/>
                              <optionality value="R"/>
                              <xsdBaseType value="CountryCodeType"/>
                            </xs:documentation>
                            <xs:documentation>
                              <xs:EUCDMName>Country</xs:EUCDMName>
                              <xs:Code>16 15 018 020</xs:Code>
                            </xs:documentation>
                            <xs:documentation>
                              <xs:EUCDMName>Country</xs:EUCDMName>
                              <xs:Code>16 15 081 020</xs:Code>
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="EconomicOperator" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>
                        <description value="ECONOMIC OPERATOR"/>
                        <optionality value="D"/>
                      </xs:documentation>
                      <xs:documentation>
                        <xs:EUCDMName>Economic Operator</xs:EUCDMName>
                        <xs:Code>16 15 051 000</xs:Code>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="identificationNumber"
                                    type="IdentificationNumberContentType01">
                          <xs:annotation>
                            <xs:documentation>
                              <description value="Identification number"/>
                              <format value="an..17"/>
                              <optionality value="R"/>
                              <xsdBaseType value="AlphaNumeric_MAX17_NoSpaces"/>
                            </xs:documentation>
                            <xs:documentation>
                              <xs:EUCDMName>Identification Number</xs:EUCDMName>
                              <xs:Code>16 15 051 017</xs:Code>
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="CustomsOffice" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>
                        <description value="CUSTOMS OFFICE"/>
                        <optionality value="D"/>
                      </xs:documentation>
                      <xs:documentation>
                        <xs:EUCDMName>Customs Office</xs:EUCDMName>
                        <xs:Code>16 15 047 000</xs:Code>
                      </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="referenceNumber" type="ReferenceNumberContentType05">
                          <xs:annotation>
                            <xs:documentation>
                              <description value="Reference number"/>
                              <codeList code="CL171" type="business"
                                        name="CustomsOfficeDeparture"/>
                              <format value="an8"/>
                              <optionality value="R"/>
                              <xsdBaseType value="CORefNumType"/>
                            </xs:documentation>
                            <xs:documentation>
                              <xs:EUCDMName>Reference Number</xs:EUCDMName>
                              <xs:Code>16 15 047 001</xs:Code>
                            </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <!-- Den er allerede i Location of Goods Address elementet
                  <xs:element name="PostcodeAddress" minOccurs="0">
                      <xs:annotation>
                          <xs:documentation>
                              <description value="POSTCODE ADDRESS" />
                              <optionality value="D" />
                          </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                          <xs:sequence>
                              <xs:element name="houseNumber" minOccurs="0" type="HouseNumberContentType02">
                                  <xs:annotation>
                                      <xs:documentation>
                                          <description value="House number" />
                                          <format value="an..17" />
                                          <optionality value="D" />
                                          <xsdBaseType value="AlphaNumeric_MAX17_NoSpaces" />
                                      </xs:documentation>
                                  </xs:annotation>
                              </xs:element>
                              <xs:element name="postcode" type="PostcodeContentType02">
                                  <xs:annotation>
                                      <xs:documentation>
                                          <description value="Postcode" />
                                          <format value="an..17" />
                                          <optionality value="R" />
                                          <xsdBaseType value="AlphaNumeric_MAX17_NoSpaces" />
                                      </xs:documentation>
                                  </xs:annotation>
                              </xs:element>
                              <xs:element name="country" type="CountryContentType">
                                  <xs:annotation>
                                      <xs:documentation>
                                          <description value="Country" />
                                          <codeList code="CL190" type="business" name="Countryaddresspostcodebased" />
                                          <format value="a2" />
                                          <optionality value="R" />
                                          <xsdBaseType value="CountryCodeType" />
                                      </xs:documentation>
                                  </xs:annotation>
                              </xs:element>
                          </xs:sequence>
                      </xs:complexType>
                  </xs:element>
                  -->
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>