Export XSDs/toldsystemet_A1_v1.12.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:WCOLibraryE7TAXUDEUCDM52public"
           targetNamespace="urn:WCOLibraryE7TAXUDEUCDM52public"
           xmlns:edsmetadata="urn:wco:datamodel:WCO:WCO_DEC_EDS_METADATA:1">

    <xs:include schemaLocation="../GEFEG/WCO_TS_DEC.xsd" />
    <xs:element name="Declaration" type="Declaration"/>

    <xs:complexType name="Declaration">
        <xs:sequence>
            <xs:element name="functionalReference">
                <xs:annotation>
                    <xs:documentation>
                        <EUCDMname>LRN</EUCDMname>
                        <EUCDMversion>EUCDM 6.1</EUCDMversion>
                        <code>12 09 001 000</code>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Identifier.Content" type="Identifier.Content"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="procedureCategory">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Identifier.Content" type="Identifier.Content">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="FunctionCode">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Code.Content" type="Code.Content"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="ExitOffice"  minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <EUCDMname>Customs Office of Exit</EUCDMname>
                        <EUCDMversion>EUCDM 6.1</EUCDMversion>
                        <code>12 07 000 000</code>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="identification">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Reference number</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>12 07 001 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Agent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="identification_2">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Contact">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sequence">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="name" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Communication">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sequence">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Numeric.Content" type="Numeric.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="identification_2">

                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="type_8">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Code.Content" type="Code.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="sequence" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Numeric.Content" type="Numeric.Content">
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="function_3" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Code.Content" type="Code.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Declarant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="identification_2">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Contact">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sequence">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="name" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Communication">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sequence">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Numeric.Content" type="Numeric.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="identification_2">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="type_8">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Code.Content" type="Code.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Submitter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" minOccurs="0">

                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Text.Content" type="Text.Content">

                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="identification_2">

                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="sequence" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Numeric.Content" type="Numeric.Content">
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="Consignment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="sequence">

                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Numeric.Content" type="Numeric.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="container">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Code.Content" type="Code.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="totalGrossMass">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Measure.Content" type="Measure.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">

                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sequence">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="statement" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Code.Content" type="Code.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="statementDescription" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="AEOMutualRecognitionParty" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>

                                <xs:sequence>
                                    <xs:element name="identification_2">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="role" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Code.Content" type="Code.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="sequence" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Carrier">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="identification_2">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Contact">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sequence">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Numeric.Content" type="Numeric.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="name" minOccurs="0">

                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Text.Content" type="Text.Content">

                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="Communication">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="sequence">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="Numeric.Content" type="Numeric.Content"/>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="identification_2">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="type_8">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="Code.Content" type="Code.Content"/>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="sequence" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Consignee" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="name" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="identification_2">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sequence" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Numeric.Content" type="Numeric.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="cityName" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Text.Content" type="Text.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="country" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Code.Content" type="Code.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="line" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Text.Content" type="Text.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="postcode" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="sequence" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ConsignmentItem">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sequence">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Packaging">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sequence">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Numeric.Content" type="Numeric.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="marksNumbers" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Identifier.Content" type="Identifier.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="quantity" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Quantity.Content" type="Quantity.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="type_6" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Code.Content" type="Code.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sequence">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Numeric.Content" type="Numeric.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="statement" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Code.Content" type="Code.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="statementDescription" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Text.Content" type="Text.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="AEOMutualRecognitionParty" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="identification_2">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="role" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Code.Content" type="Code.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="sequence" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Numeric.Content" type="Numeric.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Commodity" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sequence">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Numeric.Content" type="Numeric.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="description" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Text.Content" type="Text.Content">
                                                            </xs:element>
                                                            <xs:element name="Language.Identifier" type="Language.Identifier" minOccurs="0">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="Classification" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="sequence" minOccurs="0">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="Numeric.Content" type="Numeric.Content">
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="identification_2">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="identificationType_3" minOccurs="0">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="Code.Content" type="Code.Content"/>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="DangerousGoods" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="sequence" minOccurs="0">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="Numeric.Content" type="Numeric.Content">
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="UNDG" minOccurs="0">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="Identifier.Content" type="Identifier.Content">
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Consignee" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="name" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Text.Content" type="Text.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="identification_2">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="sequence" minOccurs="0">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="Numeric.Content" type="Numeric.Content">
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="cityName" minOccurs="0">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="Text.Content" type="Text.Content">
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="country" minOccurs="0">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="Code.Content" type="Code.Content"/>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="line" minOccurs="0">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="Text.Content" type="Text.Content">
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="postcode" minOccurs="0">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="sequence" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Numeric.Content" type="Numeric.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Consignor" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="name" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Text.Content" type="Text.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="identification_2">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="sequence" minOccurs="0">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="Numeric.Content" type="Numeric.Content">
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="cityName" minOccurs="0">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="Text.Content" type="Text.Content">

                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="country" minOccurs="0">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="Code.Content" type="Code.Content"/>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="line" minOccurs="0">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="Text.Content" type="Text.Content">
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="postcode" minOccurs="0">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="sequence" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Numeric.Content" type="Numeric.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Freight" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="paymentMethod" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Code.Content" type="Code.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="GoodsMeasure" minOccurs="0" maxOccurs="unbounded">

                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sequence" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Numeric.Content" type="Numeric.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="grossMass" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Measure.Content" type="Measure.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="PreviousDocument" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sequence" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Numeric.Content" type="Numeric.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>

                                                <xs:element name="identification_2">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="type_3" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Code.Content" type="Code.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="SupportingDocument" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sequence" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Numeric.Content" type="Numeric.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="identification_2">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="type_3" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Code.Content" type="Code.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="UCR" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sequence" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Numeric.Content" type="Numeric.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="traderAssignedReference">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Consignor" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="name" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="identification_2">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sequence" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Numeric.Content" type="Numeric.Content">

                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="cityName" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Text.Content" type="Text.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="country" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Code.Content" type="Code.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="line" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Text.Content" type="Text.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="postcode" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="sequence" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Freight" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="paymentMethod" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Code.Content" type="Code.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="GoodsLocation">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="name" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="identification_2">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="type_2" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Code.Content" type="Code.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="latitude" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Measure.Content" type="Measure.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="longitude" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Measure.Content" type="Measure.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Address" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sequence" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Numeric.Content" type="Numeric.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="cityName" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Text.Content" type="Text.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="country" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Code.Content" type="Code.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="line" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Text.Content" type="Text.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="postcode" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="streetNumber" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Text.Content" type="Text.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="sequence" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="identificationType_2">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Code.Content" type="Code.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="authorisationReferenceNumber" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="CustomsOffice" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="identification">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="EconomicOperator" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="identification_2">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Contact">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sequence">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Numeric.Content" type="Numeric.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="name" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Text.Content" type="Text.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="Communication">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="sequence">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="Numeric.Content" type="Numeric.Content"/>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="identification_2">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="type_8">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="Code.Content" type="Code.Content"/>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Itinerary">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sequence" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="routingCountry" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Code.Content" type="Code.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="PreviousDocument" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sequence" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="identification_2">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="type_3" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Code.Content" type="Code.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="SupportingDocument" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sequence" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="identification_2">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="type_3" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Code.Content" type="Code.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="TransportContractDocument">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sequence" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="identification_2">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="type_3" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Code.Content" type="Code.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="TransportEquipment">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sequence" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="identification_2">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="sealsAffixed" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Quantity.Content" type="Quantity.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Seal" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sequence" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Numeric.Content" type="Numeric.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="identification_2">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="UCR" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sequence" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="traderAssignedReference">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>


