Import XSDs/G4 XSDs/DMS_G4_Invalidation_v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:WCOLibraryE7TAXUDEUCDM52public"
           targetNamespace="urn:WCOLibraryE7TAXUDEUCDM52public"
           elementFormDefault="qualified" version="1.2.0">
    <xs:include schemaLocation="../DMS_DS/WCO_TS_DEC.xsd"/>

    <xs:element name="Declaration" type="Declaration"/>

    <xs:complexType name="Declaration">
        <xs:sequence>
            <xs:element name="functionalReference">
                <xs:annotation>
                    <xs:documentation>
                        <EUCDMname>LRN</EUCDMname>
                        <EUCDMversion>EUCDM 6.1</EUCDMversion>
                        <code>12 09 001 000</code>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Identifier.Content" type="Identifier.Content"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="id">
                <xs:annotation>
                    <xs:documentation>
                        <EUCDMname>MRN</EUCDMname>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Identifier.Content" type="Identifier.Content"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="procedureCategory">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Identifier.Content" type="Identifier.Content"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="FunctionCode">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Code.Content" type="Code.Content"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Amendment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="sequence">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Numeric.Content" type="Numeric.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ChangeReasonCode">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Code.Content" type="Code.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ChangeReasonText">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Text.Content" type="Text.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ExitOffice">
                <xs:annotation>
                    <xs:documentation>
                        <EUCDMname>Customs Office of Exit</EUCDMname>
                        <EUCDMversion>EUCDM 6.1</EUCDMversion>
                        <code>17 01 000 000</code>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="identification">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Reference number</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>12 07 001 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Agent" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <EUCDMname>Representative</EUCDMname>
                        <EUCDMversion>EUCDM 6.1</EUCDMversion>
                        <code>13 06 000 000</code>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="identification_2">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Identification Number</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>13 06 017 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Contact" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Contact person</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>13 06 074 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sequence">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="name">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Representative</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 06 074 016</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Communication" maxOccurs="2">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Communication</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sequence">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Numeric.Content" type="Numeric.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="identification_2">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <EUCDMname>Phone Number</EUCDMname>
                                                            <EUCDMname>E-mail Address</EUCDMname>
                                                            <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                            <code>13 06 074 075</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="type_8">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <EUCDMname>TypeCode</EUCDMname>
                                                            <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                            <code>13 06 074 076</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Code.Content" type="Code.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="sequence">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Numeric.Content" type="Numeric.Content">
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="function_3">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Status</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>13 06 030 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Code.Content" type="Code.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Declarant">
                <xs:annotation>
                    <xs:documentation>
                        <EUCDMname>Declarant</EUCDMname>
                        <EUCDMversion>EUCDM 6.1</EUCDMversion>
                        <code>13 05 000 000</code>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="identification_2">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Identification Number</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>13 05 017 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Contact" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Contact person</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>13 05 074 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sequence">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="name">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Name</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 05 074 016</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Communication" maxOccurs="2">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Communication</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sequence">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Numeric.Content" type="Numeric.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="identification_2">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <EUCDMname>Phone Number</EUCDMname>
                                                            <EUCDMname>E-mail address</EUCDMname>
                                                            <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                            <code>13 05 074 075</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="type_8">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <EUCDMname>TypeCode</EUCDMname>
                                                            <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                            <code>13 05 074 076</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Code.Content" type="Code.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Submitter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Text.Content" type="Text.Content">
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="identification_2">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="sequence">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Numeric.Content" type="Numeric.Content">
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>