Import XSDs/IE_MESSAGES/IE414.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://cci.dgtaxud.ec" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           targetNamespace="http://cci.dgtaxud.ec" xmlns:extensions="urn:eds:datamodel:EDS:EDS_EXTENSIONS:1" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.0.2_3.00">
    <!--=================================================================================================================-->
    <!--===== IE414: E_INV_REQ                                                                                           -->
    <!--===== Invalidation request                                                                                       -->
    <!--===== CCI Phase 2 (Full) Scope                                                                                   -->
    <!--===== XSD version 1.0.2_3.00                                                                                     -->
    <!--=================================================================================================================-->
    <!--===== Include                                                                                                    -->
    <xs:include schemaLocation="../DMS_CCI_DS/CTYPES.xsd"/>
    <xs:include schemaLocation="../DMS_CCI_DS/HTYPES.xsd"/>
    <xs:import namespace="urn:eds:datamodel:EDS:EDS_EXTENSIONS:1" schemaLocation="../DMS_CCI_DS/EDS/EDS_EXTENSIONS.xsd"/>
    <!--=================================================================================================================-->
    <!--===== Root element                                                                                               -->
    <!--=================================================================================================================-->
    <xs:element name="CC414B" type="CC414BType"/>
    <!--=================================================================================================================-->
    <!--===== Root element Content                                                                                       -->
    <!--=================================================================================================================-->
    <xs:complexType name="CC414BType">
        <xs:sequence>
            <xs:element name="Extensions" type="extensions:ExtensionType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:group ref="MESSAGE"/>
            <xs:element name="ImportOperation" minOccurs="1" maxOccurs="1" type="MCciOperationType17">
                <xs:annotation>
                    <xs:documentation>
                        <description value="IMPORT OPERATION"/>
                        <optionality value="R"/>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Declarant" minOccurs="0" maxOccurs="1" type="MDeclarantType01">
                <xs:annotation>
                    <xs:documentation>
                        <description value="DECLARANT"/>
                        <optionality value="O"/>
                        <Rule>R0861</Rule>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Representative" minOccurs="0" maxOccurs="1" type="MRepresentativeType01">
                <xs:annotation>
                    <xs:documentation>
                        <description value="REPRESENTATIVE"/>
                        <optionality value="O"/>
                        <Rule>R0861</Rule>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="99" type="MAdditionalInformationType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="ADDITIONAL INFORMATION"/>
                        <optionality value="O"/>
                        <Rule>G0007</Rule>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

