Import XSDs/IE_MESSAGES/IE446.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://cci.dgtaxud.ec" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           targetNamespace="http://cci.dgtaxud.ec" xmlns:extensions="urn:eds:datamodel:EDS:EDS_EXTENSIONS:1" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.0.2_3.00">
    <!--=================================================================================================================-->
    <!--===== IE446: E_SUP_DOC                                                                                           -->
    <!--===== Provide Supporting Documents                                                                               -->
    <!--===== CCI Phase 2 (Full) Scope                                                                                   -->
    <!--===== XSD version 1.0.2_3.00                                                                                     -->
    <!--=================================================================================================================-->
    <!--===== Include                                                                                                    -->
    <xs:include schemaLocation="../DMS_CCI_DS/CTYPES.xsd"/>
    <xs:include schemaLocation="../DMS_CCI_DS/HTYPES.xsd"/>
    <xs:import namespace="urn:eds:datamodel:EDS:EDS_EXTENSIONS:1" schemaLocation="../DMS_CCI_DS/EDS/EDS_EXTENSIONS.xsd"/>
    <!--=================================================================================================================-->
    <!--===== Root element                                                                                               -->
    <!--=================================================================================================================-->
    <xs:element name="CC446B" type="CC446BType"/>
    <!--=================================================================================================================-->
    <!--===== Root element Content                                                                                       -->
    <!--=================================================================================================================-->
    <xs:complexType name="CC446BType">
        <xs:sequence>
            <xs:element name="Extensions" type="extensions:ExtensionType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:group ref="MESSAGE"/>
            <xs:element name="ImportOperation" minOccurs="1" maxOccurs="1" type="MCciOperationType29">
                <xs:annotation>
                    <xs:documentation>
                        <description value="IMPORT OPERATION"/>
                        <optionality value="R"/>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RequestedDocuments" minOccurs="0" maxOccurs="99" type="MRequestedDocumentsType01">
                <xs:annotation>
                    <xs:documentation>
                        <description value="REQUESTED DOCUMENTS"/>
                        <optionality value="D"/>
                        <Condition>C0927</Condition>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

