Import XSDs/DMS_CCI_DS/DOC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://cci.dgtaxud.ec" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.0.2_3.00" vc:minVersion="1.1" targetNamespace="http://cci.dgtaxud.ec">
  <!--=========================================-->
  <!--      DOCUMENTATION ELEMENTS             -->
  <!--=========================================-->
  <xs:element name="description">
    <xs:complexType>
      <xs:attribute name="value" type="xs:token" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="rule">
    <xs:complexType>
      <xs:attribute name="name" type="xs:token" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="condition">
    <xs:complexType>
      <xs:attribute name="name" type="xs:token" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="codeList">
    <xs:complexType>
      <xs:attribute name="name" type="xs:token" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>
