Import XSDs/DMS_CCI_DS/EXTENDED_STYPES.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://cci.dgtaxud.ec"
  targetNamespace="http://cci.dgtaxud.ec" elementFormDefault="unqualified" attributeFormDefault="unqualified"
  version="1.0.1_1.00">
  <xs:include schemaLocation="STYPES.xsd" />

  <!--================================================================================-->
  <!--===== Country                                                                         -->
  <!--================================================================================-->
  <xs:simpleType name="CountryContentType">
    <xs:annotation>
      <xs:documentation>
        <usedBy>Used by messages: CC413B CC415B </usedBy>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="CountryCodeType" />
  </xs:simpleType>
  <!--================================================================================-->
  <!--===== City                                                                            -->
  <!--================================================================================-->
  <xs:simpleType name="CityContentType01">
    <xs:annotation>
      <xs:documentation>
        <usedBy>Used by messages: CC413B CC415B </usedBy>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="AlphaNumeric_MAX35_NoSpaces" />
  </xs:simpleType>
  <!--================================================================================-->
  <!--===== Postcode                                                                        -->
  <!--================================================================================-->
  <xs:simpleType name="PostcodeContentType01">
    <xs:annotation>
      <xs:documentation>
        <usedBy>Used by messages: CC413B CC415B </usedBy>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="AlphaNumeric_MAX17_NoSpaces" />
  </xs:simpleType>
  <!--================================================================================-->
  <!--===== StreetAndNumber                                                                 -->
  <!--================================================================================-->
  <xs:simpleType name="StreetAndNumberContentType01">
    <xs:annotation>
      <xs:documentation>
        <usedBy>Used by messages: CC413B CC415B </usedBy>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="AlphaNumeric_MAX70_NoSpaces" />
  </xs:simpleType>
  <!--================================================================================-->
  <!--===== TINNewType                                                                      -->
  <!--================================================================================-->
  <xs:simpleType name="TINNewType">
    <xs:annotation>
      <xs:documentation>EORI or TCUI Number (format: an..17)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AlphaNumType">
      <xs:minLength value="3" />
      <xs:maxLength value="17" />
      <xs:pattern value="[A-Z]{2}[!-~]{1,15}" />
    </xs:restriction>
  </xs:simpleType>
  <!--================================================================================-->
  <!--===== AlphaNumType                                                                    -->
  <!--================================================================================-->
  <xs:simpleType name="AlphaNumType">
    <xs:annotation>
      <xs:documentation>Base class for all anN and an..N types</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:normalizedString" />
  </xs:simpleType>
  <!--================================================================================-->
  <!--===== Name                                                                            -->
  <!--================================================================================-->
  <xs:simpleType name="NameContentType01">
    <xs:annotation>
      <xs:documentation>
        <usedBy>Used by messages: CC413B CC415B </usedBy>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="AlphaNumeric_MAX70_NoSpaces" />
  </xs:simpleType>
  <!--================================================================================-->
  <!--===== AlphaNumeric_MAX17_NoSpaces                                                     -->
  <!--================================================================================-->
  <xs:simpleType name="AlphaNumeric_MAX17_NoSpaces">
    <xs:restriction base="AlphaNumType">
      <xs:maxLength value="17" />
      <xs:pattern value="\P{Z}(.*\P{Z})?" />
    </xs:restriction>
  </xs:simpleType>
  <!--================================================================================-->
  <!--===== AlphaNumeric_MAX35_NoSpaces                                                     -->
  <!--================================================================================-->
  <xs:simpleType name="AlphaNumeric_MAX35_NoSpaces">
    <xs:restriction base="AlphaNumType">
      <xs:maxLength value="35" />
      <xs:pattern value="\P{Z}(.*\P{Z})?" />
    </xs:restriction>
  </xs:simpleType>
  <!--================================================================================-->
  <!--===== AlphaNumeric_MAX70_NoSpaces                                                     -->
  <!--================================================================================-->
  <xs:simpleType name="AlphaNumeric_MAX70_NoSpaces">
    <xs:restriction base="AlphaNumType">
      <xs:maxLength value="70" />
      <xs:pattern value="\P{Z}(.*\P{Z})?" />
    </xs:restriction>
  </xs:simpleType>
  <!--================================================================================-->
  <!--===== PresentationDateAndTimeContentType                                           -->
  <!--================================================================================-->
  <xs:simpleType name="PresentationDateAndTimeContentType">
    <xs:restriction base="xs:dateTime">
      <xs:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}" />
    </xs:restriction>
  </xs:simpleType>
  <!--================================================================================-->
  <!--===== IncoTermStatusType                                                           -->
  <!--================================================================================-->
  <xs:simpleType name="IncoTermStatusType">
    <xs:annotation>
      <xs:documentation>
        <usedBy> Used by CC415B </usedBy>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:pattern value="[a-zA-Z]{1}"/>
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <!--================================================================================-->
  <!--===== SplitCodeContentType                                                           -->
  <!--================================================================================-->
  <xs:simpleType name="SplitCodeContentType">
    <xs:annotation>
      <xs:documentation>
        <usedBy>Used by CC415B </usedBy>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:pattern value="[A-Za-z]{1}" />
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <!--================================================================================-->
  <!--===== PercentageType                                                           -->
  <!--================================================================================-->
  <xs:simpleType name="PercentageType">
    <xs:annotation>
      <xs:documentation>
        <usedBy> Used by CC413B CC415B </usedBy>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="5"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <!--================================================================================-->
  <!--===== RINContentType                                                           -->
  <!--================================================================================-->
  <xs:simpleType name="RINContentType">
    <xs:annotation>
      <xs:documentation>
        <usedBy> Used by CC413B CC414B CC415B CC432B </usedBy>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:pattern value="[a-zA-Z0-9]{1,17}"/>
      <xs:maxLength value="17"/>
    </xs:restriction>
  </xs:simpleType>
  <!--================================================================================-->
  <!--===== TypeOfGoodContentType                                                           -->
  <!--================================================================================-->
  <xs:simpleType name="TypeOfGoodContentType">
    <xs:annotation>
      <xs:documentation>
        <usedBy> Used by CC413B CC429B CC451B CC415B </usedBy>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:pattern value="[a-zA-Z]{1,3}"/>
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <!--================================================================================-->
  <!--===== RINContentType                                                           -->
  <!--================================================================================-->
  <xs:simpleType name="CodeOfGuaranteeContentType">
    <xs:annotation>
      <xs:documentation>
        <usedBy> Used by CC451B </usedBy>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9]{2}"/>
      <xs:length value="2"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>