Export XSDs/Exit XSDs/IE Messages/IE507.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ecs.dgtaxud.ec" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://ecs.dgtaxud.ec" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="51.6.0" vc:minVersion="1.1">
  <!--================================================================================-->
  <!--===== IE507: E_ARR_EXT                                                          -->
  <!--===== ARRIVAL AT EXIT                                                           -->
  <!--===== AES P1 Phase Definition                                                   -->
  <!--===== XSD Version 51.6.0                                                        -->
  <!--================================================================================-->
  <!--================================================================================-->
  <!--===== Includes                                                                  -->
  <!--================================================================================-->
  <xs:include schemaLocation="../../DMS_DS/Exit_DS/ctypes.xsd"/>
  <xs:include schemaLocation="../../DMS_DS/Exit_DS/htypes.xsd"/>
  <!--================================================================================-->
  <!--===== Root Element                                                              -->
  <!--================================================================================-->
  <xs:element name="CC507C" type="CC507CType" />
  <!--================================================================================-->
  <!--===== Root Element Content                                                      -->
  <!--================================================================================-->
  <xs:complexType name="CC507CType">
    <xs:sequence>
      <xs:element name="messageSender" type="MessageSenderContentType"/>
      <xs:element name="messageRecipient" type="MessageRecipientContentType"/>
      <xs:element name="preparationDateAndTime" type="PreparationDateAndTimeContentType"/>
      <xs:element name="messageIdentification" type="MessageIdentificationContentType"/>
      <xs:element name="messageType" type="MessageTypes"/>
      <xs:element name="correlationIdentifier" type="CorrelationIdentifierContentType" minOccurs="0"/>
      <xs:element name="ExportOperation">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="MRNType" name="MRN"/>
            <xs:element type="DateTimeType" name="arrivalNotificationDateAndTime"/>
            <xs:element type="ArrivalNotificationPlaceContentType" name="arrivalNotificationPlace" minOccurs="0"/>
            <xs:element type="Flag" name="storingFlag"/>
            <xs:element type="Flag" name="discrepanciesExist"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Authorisation" minOccurs="0" maxOccurs="9">
       <xs:complexType>
          <xs:sequence>
            <xs:element name="sequenceNumber" type="SequenceNumberContentType"/>
            <xs:element name="type" type="TypeContentType04"/>
            <xs:element name="referenceNumber" type="ReferenceNumberContentType03"/>
            <xs:element name="holderOfAuthorisation" type="HolderOfAuthorisationContentType01" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CustomsOfficeOfExitActual">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="referenceNumber" type="CORefNumType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GoodsShipment">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Consignment">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="modeOfTransportAtTheBorder" minOccurs="0" type="ModeOfTransportAtTheBorderContentType"></xs:element>
                  <xs:element name="referenceNumberUCR" minOccurs="0" type="ReferenceNumberUCRContentType01"></xs:element>
                  <xs:element name="ExitCarrier">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="identificationNumber" minOccurs="0" type="IdentificationNumberContentType05">
                      </xs:element>
                      <xs:element name="name" minOccurs="0" type="NameContentType01">
                      </xs:element>
                      <xs:element name="Address" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="streetAndNumber" type="StreetAndNumberContentType01"></xs:element>
                          <xs:element name="postcode" minOccurs="0" type="PostcodeContentType01"></xs:element>
                          <xs:element name="city" type="CityContentType01"></xs:element>
                          <xs:element name="country" type="CountryContentType"></xs:element>
                        </xs:sequence>
                      </xs:complexType>
                      </xs:element>
                      <xs:element name="ContactPerson" minOccurs="0">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="name" type="NameContentType01"></xs:element>
                            <xs:element name="phoneNumber" type="PhoneNumberContentType01"></xs:element>
                            <xs:element name="eMailAddress" minOccurs="0" type="EMailAddressContentType01"></xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                  </xs:element>
                  <xs:element name="TransportEquipment" minOccurs="0" maxOccurs="9999">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                        </xs:element>
                        <xs:element name="containerIdentificationNumber" minOccurs="0" type="ContainerIdentificationNumberContentType02">
                        </xs:element>
                        <xs:element name="numberOfSeals" minOccurs="0" type="NumberOfSealsContentType">
                        </xs:element>
                        <xs:element name="Seal" minOccurs="0" maxOccurs="99">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                              </xs:element>
                              <xs:element name="identifier" minOccurs="0" type="IdentifierContentType01">
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="GoodsReference" minOccurs="0" maxOccurs="999">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                              </xs:element>
                              <xs:element name="declarationGoodsItemNumber" minOccurs="0" type="DeclarationGoodsItemNumberContentType02">
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>

                  </xs:element>
                  <xs:element name="LocationOfGoods" maxOccurs="9">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="sequenceNumber" type="SequenceNumberContentType"></xs:element>
                        <xs:element name="typeOfLocation" type="TypeOfLocationContentType"></xs:element>
                        <xs:element name="qualifierOfIdentification" type="QualifierOfIdentificationContentType"></xs:element>
                        <xs:element name="authorisationNumber" minOccurs="0" type="AuthorisationNumberContentType02"></xs:element>
                        <xs:element name="additionalIdentifier" minOccurs="0" type="AdditionalIdentifierContentType02"></xs:element>
                        <xs:element name="UNLocode" minOccurs="0" type="UNLocodeContentType"></xs:element>
                        <xs:element name="CustomsOffice" minOccurs="0">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="referenceNumber" type="ReferenceNumberContentType05"></xs:element>
                          </xs:sequence>
                        </xs:complexType>
                        </xs:element>
                        <xs:element name="GNSS" minOccurs="0">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="latitude" type="LatitudeContentType"></xs:element>
                              <xs:element name="longitude" type="LongitudeContentType"></xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="EconomicOperator" minOccurs="0">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="identificationNumber" type="IdentificationNumberContentType05"></xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="Address" minOccurs="0">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="streetAndNumber" type="StreetAndNumberContentType01">
                              </xs:element>
                              <xs:element name="postcode" minOccurs="0" type="PostcodeContentType01">
                              </xs:element>
                              <xs:element name="city" type="CityContentType01">
                              </xs:element>
                              <xs:element name="country" type="CountryContentType">
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="PostcodeAddress" minOccurs="0">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="houseNumber" minOccurs="0" type="HouseNumberContentType02"></xs:element>
                              <xs:element name="postcode" type="PostcodeContentType01"></xs:element>
                              <xs:element name="country" type="CountryContentType"></xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="ContactPerson" minOccurs="0">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="name" type="NameContentType01"></xs:element>
                              <xs:element name="phoneNumber" type="PhoneNumberContentType01"></xs:element>
                              <xs:element name="eMailAddress" minOccurs="0" type="EMailAddressContentType01"></xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="ActiveBorderTransportMeans" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="typeOfIdentification" minOccurs="0" type="TypeOfIdentificationContentType"></xs:element>
                        <xs:element name="identificationNumber" minOccurs="0" type="IdentificationNumberContentType02"></xs:element>
                        <xs:element name="nationality" minOccurs="0" type="NationalityContentType"></xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="TransportDocument" minOccurs="0" maxOccurs="99">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="sequenceNumber" type="SequenceNumberContentType"></xs:element>
                        <xs:element name="type" minOccurs="0" type="TypeContentType01"></xs:element>
                        <xs:element name="referenceNumber" minOccurs="0" type="ReferenceNumberContentType06"></xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="GoodsItem" minOccurs="0" maxOccurs="999">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="declarationGoodsItemNumber" type="DeclarationGoodsItemNumberContentType01"></xs:element>
                  <xs:element name="referenceNumberUCR" minOccurs="0" type="ReferenceNumberUCRContentType01"></xs:element>
                  <xs:element name="Authorisation" minOccurs="0" maxOccurs="9">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="sequenceNumber" type="SequenceNumberContentType"></xs:element>
                        <xs:element name="type" type="TypeContentType04"></xs:element>
                        <xs:element name="referenceNumber" type="ReferenceNumberContentType03"></xs:element>
                        <xs:element name="holderOfAuthorisation" minOccurs="0" type="HolderOfAuthorisationContentType01"></xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Commodity" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="GoodsMeasure" minOccurs="0">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="grossMass" minOccurs="0" type="GrossMassContentType02"></xs:element>
                              <xs:element name="netMass" minOccurs="0" type="NetMassContentType"></xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Packaging" minOccurs="0" maxOccurs="99">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="sequenceNumber" type="SequenceNumberContentType"/>
                        <xs:element name="typeOfPackages" minOccurs="0" type="TypeOfPackagesContentType"/>
                        <xs:element name="numberOfPackages" minOccurs="0" type="NumberOfPackagesContentType02"/>
                        <xs:element name="shippingMarks" minOccurs="0" type="ShippingMarksContentType02"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="TransportDocument" minOccurs="0" maxOccurs="99">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="sequenceNumber" type="SequenceNumberContentType"></xs:element>
                        <xs:element name="type" minOccurs="0" type="TypeContentType01"></xs:element>
                        <xs:element name="referenceNumber" minOccurs="0" type="ReferenceNumberContentType06"></xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="PhaseID" type="phaseIDtype" />
  </xs:complexType>
</xs:schema>