Export XSDs/Exit XSDs/IE Messages/IE547.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ecs.dgtaxud.ec" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://ecs.dgtaxud.ec" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="51.6.0" vc:minVersion="1.1">
    <!--================================================================================-->
    <!--===== IE547: E_MAN_PRE                                                          -->
    <!--===== MANIFEST PRESENTATION                                                     -->
    <!--===== AES P1 Phase Definition                                                   -->
    <!--===== XSD Version 51.6.0                                                        -->
    <!--================================================================================-->
    <!--================================================================================-->
    <!--===== Includes                                                                  -->
    <!--================================================================================-->
    <xs:include schemaLocation="../../DMS_DS/Exit_DS/ctypes.xsd"/>
    <xs:include schemaLocation="../../DMS_DS/Exit_DS/htypes.xsd"/>
    <!--================================================================================-->
    <!--===== Root Element                                                              -->
    <!--================================================================================-->
    <xs:element name="CC547C" type="CC547CType" />
    <!--================================================================================-->
    <!--===== Root Element Content                                                      -->
    <!--================================================================================-->
    <xs:complexType name="CC547CType">
        <xs:sequence>
            <xs:element name="messageSender" type="MessageSenderContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Message sender" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="messageRecipient" type="MessageRecipientContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Message recipient" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="preparationDateAndTime" type="PreparationDateAndTimeContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Preparation date and time" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="messageIdentification" type="MessageIdentificationContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Message identification" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="messageType" type="MessageTypes">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Message type" />
                        <codeList name="MessageTypes" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="correlationIdentifier" type="CorrelationIdentifierContentType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Correlation identifier" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ExportOperation">
                <xs:annotation>
                    <xs:documentation>
                        <description value="EXPORT OPERATION" />
                        <optionality value="R" />
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="presentationOfTheGoodsDateAndTime" type="DateTimeType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Presentation of the goods date and time" />
                                    <format value="an19" />
                                    <optionality value="R" />
                                    <xsdBaseType value="DateTimeType" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="manifestReferenceNumber" type="ManifestReferenceNumberContentType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Manifest reference number" />
                                    <format value="an..22" />
                                    <optionality value="R" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="discrepanciesExist" type="Flag">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Discrepancies exist" />
                                    <!-- <codeList code="CL027" type="technical" name="Flag" /> -->
                                    <format value="n1" />
                                    <optionality value="R" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="Authorisation" minOccurs="0" maxOccurs="9">
                <xs:annotation>
                    <xs:documentation>
                        <description value="AUTHORISATION" />
                        <optionality value="O" />
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Sequence number" />
                                    <format value="n..5" />
                                    <optionality value="R" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="type" type="TypeContentType04">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Type" />
                                    <format value="an..4" />
                                    <optionality value="R" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="referenceNumber" type="ReferenceNumberContentType02">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Reference number" />
                                    <format value="an..35" />
                                    <optionality value="R" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="holderOfAuthorisation" minOccurs="0" type="HolderOfAuthorisationContentType01">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Holder of authorisation" />
                                    <format value="an..17" />
                                    <optionality value="O" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>

            </xs:element>

            <xs:element name="CustomsOfficeOfExitActual">
                <xs:annotation>
                    <xs:documentation>
                        <description value="CUSTOMS OFFICE OF EXIT (ACTUAL)" />
                        <optionality value="R" />
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="referenceNumber" type="CORefNumType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Reference number" />
                                    <!-- <codeList code="CL194" type="business" name="Customsofficeexit" /> -->
                                    <format value="an8" />
                                    <optionality value="R" />
                                    <xsdBaseType value="CORefNumType" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>

            </xs:element>

            <xs:element name="ExitCarrier">
                <xs:annotation>
                    <xs:documentation>
                        <description value="EXIT CARRIER" />
                        <optionality value="R" />
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="identificationNumber" type="TINNewType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Identification number" />
                                    <format value="an..17" />
                                    <optionality value="R" />
                                    <xsdBaseType value="TINNewType" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="ContactPerson" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="CONTACT PERSON" />
                                    <optionality value="O" />
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="name" type="NameContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Name" />
                                                <format value="an..70" />
                                                <optionality value="R" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="phoneNumber" type="PhoneNumberContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Phone number" />
                                                <format value="an..35" />
                                                <optionality value="R" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="eMailAddress" minOccurs="0" type="EMailAddressContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="E-mail address" />
                                                <format value="an..256" />
                                                <optionality value="O" />
                                                <xsdBaseType value="EmailAddressType256" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GoodsShipment">
                <xs:annotation>
                    <xs:documentation>
                        <description value="GOODS SHIPMENT" />
                        <optionality value="R" />
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Consignment">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="CONSIGNMENT" />
                                    <optionality value="R" />
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="modeOfTransportAtTheBorder" minOccurs="0" type="ModeOfTransportAtTheBorderContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Mode of transport at the border" />
                                                <!-- <codeList code="CL018" type="business" name="TransportMode" /> -->
                                                <format value="n1" />
                                                <optionality value="O" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="grossMass" type="GrossMassContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Gross mass" />
                                                <format value="n..16,6" />
                                                <optionality value="R" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="ActiveBorderTransportMeans" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="ACTIVE BORDER TRANSPORT MEANS" />
                                                <optionality value="O" />
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="typeOfIdentification" minOccurs="0" type="TypeOfIdentificationContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Type of identification" />
                                                            <!-- <codeList code="CL219" type="business" name="Typeofidentificationofmeansoftransportactive" /> -->
                                                            <format value="n2" />
                                                            <optionality value="O" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="identificationNumber" minOccurs="0" type="IdentificationNumberContentType01">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Identification number" />
                                                            <format value="an..35" />
                                                            <optionality value="O" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="nationality" minOccurs="0" type="CountryCodeType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Nationality" />
                                                            <!-- <codeList code="CL165" type="business" name="Nationality" /> -->
                                                            <format value="a2" />
                                                            <optionality value="O" />
                                                            <xsdBaseType value="CountryCodeType" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>


                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="ManifestItem" maxOccurs="99999">
                <xs:annotation>
                    <xs:documentation>
                        <description value="MANIFEST ITEM" />
                        <optionality value="R" />
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="manifestItemNumber" type="ManifestItemNumberContentType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Manifest item number" />
                                    <format value="n..5" />
                                    <optionality value="R" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TransportDocumentData">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="TRANSPORT DOCUMENT DATA" />
                                    <optionality value="R" />
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="transportDocumentReference" type="TransportDocumentReferenceContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Transport document reference" />
                                                <format value="an..35" />
                                                <optionality value="R" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="shippingMarks" minOccurs="0" type="ShippingMarksContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Shipping marks" />
                                                <format value="an..512" />
                                                <optionality value="D" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="typeOfPackages" type="TypeOfPackagesContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Type of packages" />
                                                <!-- <codeList code="CL017" type="business" name="KindOfPackages" /> -->
                                                <format value="an2" />
                                                <optionality value="R" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="numberOfPackages" minOccurs="0" type="NumberOfPackagesContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Number of packages" />
                                                <format value="n..8" />
                                                <optionality value="D" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="grossMass" type="GrossMassContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Gross mass" />
                                                <format value="n..16,6" />
                                                <optionality value="R" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="harmonizedSystemSubHeadingCode" minOccurs="0" type="HarmonizedSystemSubHeadingCodeContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Harmonized System sub-heading code" />
                                                <!-- <codeList code="CL152" type="business" name="HsCode" /> -->
                                                <format value="an6" />
                                                <optionality value="O" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="descriptionOfGoods" minOccurs="0" type="DescriptionOfGoodsContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Description of goods" />
                                                <format value="an..512" />
                                                <optionality value="O" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="CustomsData" maxOccurs="99999">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="CUSTOMS DATA" />
                                                <optionality value="R" />
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Sequence number" />
                                                            <format value="n..5" />
                                                            <optionality value="R" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="MRN" type="MRNType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="MRN" />
                                                            <format value="an18" />
                                                            <optionality value="R" />
                                                            <xsdBaseType value="MRNType" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="finalOrPartialShipmentFlag" type="Flag">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Final or partial shipment flag" />
                                                            <!-- <codeList code="CL027" type="technical" name="Flag" /> -->
                                                            <format value="n1" />
                                                            <optionality value="R" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="numberOfPackages" minOccurs="0" type="NumberOfPackagesContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Number of packages" />
                                                            <format value="n..8" />
                                                            <optionality value="D" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="grossMass" type="GrossMassContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Gross mass" />
                                                            <format value="n..16,6" />
                                                            <optionality value="R" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="declarationGoodsItemNumber" type="DeclarationGoodsItemNumberContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Declaration goods item number" />
                                                            <format value="n..5" />
                                                            <optionality value="R" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="PhaseID" type="phaseIDtype" />
    </xs:complexType>
</xs:schema>