Export XSDs/Exit XSDs/IE Messages/IE583.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ecs.dgtaxud.ec" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://ecs.dgtaxud.ec" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="51.8.2" vc:minVersion="1.1">
    <!--================================================================================-->
    <!--===== IE583: E_EXT_RSP                                                                -->
    <!--===== INFORMATION ON NON-EXITED EXPORT                                                -->
    <!--===== AES P1 Phase Definition                                                         -->
    <!--===== XSD Version 51.8.2                                                              -->
    <!--================================================================================-->
    <!--================================================================================-->
    <!--===== Includes                                                                        -->
    <!--================================================================================-->
    <xs:include schemaLocation="../../DMS_DS/Exit_DS/ctypes.xsd" />
    <xs:include schemaLocation="../../DMS_DS/Exit_DS/htypes.xsd" />
    <!--================================================================================-->
    <!--===== Root Element                                                                    -->
    <!--================================================================================-->
    <xs:element name="CC583C" type="CC583CType" />
    <!--================================================================================-->
    <!--===== Root Element Content                                                            -->
    <!--================================================================================-->
    <xs:complexType name="CC583CType">
        <xs:sequence>
            <xs:element name="messageSender" type="MessageSenderContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Message sender" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="messageRecipient" type="MessageRecipientContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Message recipient" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="preparationDateAndTime" type="PreparationDateAndTimeContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Preparation date and time" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="messageIdentification" type="MessageIdentificationContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Message identification" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="messageType" type="MessageTypes">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Message type" />
                        <codeList name="MessageTypes" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="correlationIdentifier" type="CorrelationIdentifierContentType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Correlation identifier" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ExportOperation">
                <xs:annotation>
                    <xs:documentation>
                        <description value="EXPORT OPERATION" />
                        <optionality value="R" />
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MRN" type="MrnContentType05">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="MRN" />
                                    <format value="an18" />
                                    <optionality value="R" />
                                    <xsdBaseType value="MRNType" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="exitDate" minOccurs="0" type="ExitDateContentType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Exit date" />
                                    <format value="an10" />
                                    <optionality value="D" />
                                    <xsdBaseType value="DateType" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="enquiryInformationCode" type="EnquiryInformationCodeContentType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Enquiry information code" />
                                    <codeList code="CL210" type="business" name="Enquiryinformation" />
                                    <format value="n1" />
                                    <optionality value="R" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CustomsOfficeOfExport">
                <xs:annotation>
                    <xs:documentation>
                        <description value="CUSTOMS OFFICE OF EXPORT" />
                        <optionality value="R" />
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="referenceNumber" type="ReferenceNumberContentType05">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Reference number" />
                                    <codeList code="CL293" type="business" name="Customsofficeexported" />
                                    <format value="an8" />
                                    <optionality value="R" />
                                    <xsdBaseType value="CORefNumType" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CustomsOfficeOfExitActual" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <description value="CUSTOMS OFFICE OF EXIT (ACTUAL)" />
                        <optionality value="D" />
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="referenceNumber" type="ReferenceNumberContentType05">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Reference number" />
                                    <codeList code="CL194" type="business" name="Customsofficeexit" />
                                    <format value="an8" />
                                    <optionality value="R" />
                                    <xsdBaseType value="CORefNumType" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Declarant">
                <xs:annotation>
                    <xs:documentation>
                        <description value="DECLARANT" />
                        <optionality value="R" />
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="identificationNumber" type="IdentificationNumberContentType01">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Identification number" />
                                    <format value="an..17" />
                                    <optionality value="R" />
                                    <xsdBaseType value="AlphaNumeric_MAX17_NoSpaces" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="name" minOccurs="0" type="NameContentType01">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Name" />
                                    <format value="an..70" />
                                    <optionality value="D" />
                                    <xsdBaseType value="AlphaNumeric_MAX70_NoSpaces" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Address" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="ADDRESS" />
                                    <optionality value="D" />
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="streetAndNumber" type="StreetAndNumberContentType01">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Street and number" />
                                                <format value="an..70" />
                                                <optionality value="R" />
                                                <xsdBaseType value="AlphaNumeric_MAX70_NoSpaces" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="postcode" minOccurs="0" type="PostcodeContentType01">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Postcode" />
                                                <format value="an..17" />
                                                <optionality value="D" />
                                                <xsdBaseType value="AlphaNumeric_MAX17_NoSpaces" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="city" type="CityContentType01">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="City" />
                                                <format value="an..35" />
                                                <optionality value="R" />
                                                <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="country" type="CountryContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Country" />
                                                <codeList code="CL248" type="business" name="Countrycodesforaddress" />
                                                <format value="a2" />
                                                <optionality value="R" />
                                                <xsdBaseType value="CountryCodeType" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ContactPerson" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="CONTACT PERSON" />
                                    <optionality value="O" />
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="name" type="NameContentType01">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Name" />
                                                <format value="an..70" />
                                                <optionality value="R" />
                                                <xsdBaseType value="AlphaNumeric_MAX70_NoSpaces" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="phoneNumber" type="PhoneNumberContentType01">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Phone number" />
                                                <format value="an..35" />
                                                <optionality value="R" />
                                                <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="eMailAddress" minOccurs="0" type="EMailAddressContentType01">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="E-mail address" />
                                                <format value="an..256" />
                                                <optionality value="O" />
                                                <xsdBaseType value="EmailAddressType256_NoSpaces" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Representative" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <description value="REPRESENTATIVE" />
                        <optionality value="O" />
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="identificationNumber" type="IdentificationNumberContentType05">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Identification number" />
                                    <format value="an..17" />
                                    <optionality value="R" />
                                    <xsdBaseType value="TINNewType" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="status" type="StatusContentType02">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Status" />
                                    <codeList code="CL094" type="business" name="RepresentativeStatusCode" />
                                    <format value="n1" />
                                    <optionality value="R" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="ContactPerson" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="CONTACT PERSON" />
                                    <optionality value="O" />
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="name" type="NameContentType01">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Name" />
                                                <format value="an..70" />
                                                <optionality value="R" />
                                                <xsdBaseType value="AlphaNumeric_MAX70_NoSpaces" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="phoneNumber" type="PhoneNumberContentType01">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Phone number" />
                                                <format value="an..35" />
                                                <optionality value="R" />
                                                <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="eMailAddress" minOccurs="0" type="EMailAddressContentType01">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="E-mail address" />
                                                <format value="an..256" />
                                                <optionality value="O" />
                                                <xsdBaseType value="EmailAddressType256_NoSpaces" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ExitCarrier" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <description value="EXIT CARRIER" />
                        <optionality value="D" />
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="identificationNumber" minOccurs="0" type="IdentificationNumberContentType05">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Identification number" />
                                    <format value="an..17" />
                                    <optionality value="O" />
                                    <xsdBaseType value="TINNewType" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="name" minOccurs="0" type="NameContentType01">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Name" />
                                    <format value="an..70" />
                                    <optionality value="D" />
                                    <xsdBaseType value="AlphaNumeric_MAX70_NoSpaces" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Address" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="ADDRESS" />
                                    <optionality value="D" />
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="streetAndNumber" type="StreetAndNumberContentType01">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Street and number" />
                                                <format value="an..70" />
                                                <optionality value="R" />
                                                <xsdBaseType value="AlphaNumeric_MAX70_NoSpaces" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="postcode" minOccurs="0" type="PostcodeContentType01">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Postcode" />
                                                <format value="an..17" />
                                                <optionality value="D" />
                                                <xsdBaseType value="AlphaNumeric_MAX17_NoSpaces" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="city" type="CityContentType01">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="City" />
                                                <format value="an..35" />
                                                <optionality value="R" />
                                                <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="country" type="CountryContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Country" />
                                                <codeList code="CL248" type="business" name="Countrycodesforaddress" />
                                                <format value="a2" />
                                                <optionality value="R" />
                                                <xsdBaseType value="CountryCodeType" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AlternativeEvidence" minOccurs="0" maxOccurs="9">
                <xs:annotation>
                    <xs:documentation>
                        <description value="ALTERNATIVE EVIDENCE" />
                        <optionality value="D" />
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Sequence number" />
                                    <format value="n..5" />
                                    <optionality value="R" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="type" type="TypeContentType02">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Type" />
                                    <codeList code="CL170" type="business" name="ClTypeOfAlternativeEvidence" />
                                    <format value="n2" />
                                    <optionality value="R" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TransportDocument" minOccurs="0" maxOccurs="99" type="TransportDocumentType02">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="TRANSPORT DOCUMENT" />
                                    <optionality value="D" />
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Sequence number" />
                                                <format value="n..5" />
                                                <optionality value="R" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="type" type="TypeContentType01">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Type" />
                                                <codeList code="CL754" type="business" name="TransportDocumentType" />
                                                <format value="an4" />
                                                <optionality value="R" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="referenceNumber" type="ReferenceNumberContentType06">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Reference number" />
                                                <format value="an..70" />
                                                <optionality value="R" />
                                                <xsdBaseType value="AlphaNumeric_MAX70_NoSpaces" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="PhaseID" type="phaseIDtype" />
    </xs:complexType>
</xs:schema>
