Export XSDs/Exit XSDs/IE Messages/IE590.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://ecs.dgtaxud.ec"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           targetNamespace="http://ecs.dgtaxud.ec"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified"
           version="51.6.0"
           vc:minVersion="1.1">
    <!--================================================================================-->
    <!--===== IE590: E_EXT_NOT                                                          -->
    <!--===== EXIT NOTIFICATION                                                         -->
    <!--===== AES P1 Phase Definition                                                   -->
    <!--===== XSD Version 51.6.0                                                        -->
    <!--================================================================================-->
    <!--================================================================================-->
    <!--===== Includes                                                                  -->
    <!--================================================================================-->
    <xs:include schemaLocation="../../DMS_DS/Exit_DS/ctypes.xsd"/>
    <xs:include schemaLocation="../../DMS_DS/Exit_DS/htypes.xsd"/>
    <!--================================================================================-->
    <!--===== Root Element                                                              -->
    <!--================================================================================-->
    <xs:element name="CC590C" type="CC590CType" />

    <xs:complexType name="CC590CType">
        <xs:sequence>
            <xs:element name="messageSender" type="MessageSenderContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Message sender" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="messageRecipient" type="MessageRecipientContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Message recipient" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="preparationDateAndTime" type="PreparationDateAndTimeContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Preparation date and time" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="messageIdentification" type="MessageIdentificationContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Message identification" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="messageType" type="MessageTypes">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Message type" />
                        <codeList name="MessageTypes" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="correlationIdentifier" type="CorrelationIdentifierContentType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Correlation identifier" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ExportOperation">
                <xs:annotation>
                    <xs:documentation>
                        <usedBy>Used by 1/82 messages: CC590C</usedBy>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MRN" type="MRNType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="MRN" />
                                    <format value="an18" />
                                    <optionality value="R" />
                                    <xsdBaseType value="MRNType" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="additionalDeclarationType" type="AdditionalDeclarationTypeContentType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Additional declaration type" />
                                    <!--<codeList code="CL042" type="business" name="Declarationtypeadditional" /> -->
                                    <format value="a1" />
                                    <optionality value="R" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="manifestNumber" minOccurs="0" type="ManifestNumberContentType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Manifest number" />
                                    <format value="an..22" />
                                    <optionality value="D" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="discrepanciesExistAtExit" type="Flag">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Discrepancies exist at exit" />
                                    <!-- <codeList code="CL027" type="technical" name="Flag" /> -->
                                    <format value="n1" />
                                    <optionality value="R" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CustomsOfficeOfExitActual">
                <xs:annotation>
                    <xs:documentation>
                        <usedBy>Used by 16/82 messages: CC507C, CC521C, CC522C, CC525C, CC547C, CC557C, CC561C, CC590C, CC598C, CC599C, CC604C, CD502C, CD503C, CD518C, CD592C, CD603C</usedBy>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="referenceNumber" type="CORefNumType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Reference number" />
                                    <!-- <codeList code="CL194" type="business" name="Customsofficeexit" /> -->
                                    <format value="an8" />
                                    <optionality value="R" />
                                    <xsdBaseType value="CORefNumType" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="PassageExit">
                <xs:annotation>
                    <xs:documentation>
                        <usedBy>Used by 1/82 messages: CC590C</usedBy>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="exitDate" type="ExitDateContentType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Exit date" />
                                    <format value="an10" />
                                    <optionality value="R" />
                                    <xsdBaseType value="DateType" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="PersonConfirmingExit">
                <xs:annotation>
                    <xs:documentation>
                        <usedBy>Used by 1/82 messages: CC590C</usedBy>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="role" type="RoleContentType01">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Role" />
                                    <!-- <codeList code="CL205" type="business" name="PersonConfirmingExit" /> -->
                                    <format value="n1" />
                                    <optionality value="R" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="identificationNumber" minOccurs="0" type="IdentificationNumberContentType04">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Identification number" />
                                    <format value="an..17" />
                                    <optionality value="D" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="referenceNumber" minOccurs="0" type="CORefNumType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Reference number" />
                                   <!-- <codeList code="CL194" type="business" name="Customsofficeexit" /> -->
                                    <format value="an8" />
                                    <optionality value="D" />
                                    <xsdBaseType value="CORefNumType" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GoodsShipment">
                <xs:annotation>
                    <xs:documentation>
                        <usedBy>Used by 1/82 messages: CC590C</usedBy>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                    <xs:element name="Consignment">
                        <xs:annotation>
                            <xs:documentation>
                                <usedBy>Used by 1/82 messages: CC590C</usedBy>
                            </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Carrier">
                                    <xs:annotation>
                                        <xs:documentation>
                                            <usedBy>Used by 1/82 messages: CC590C</usedBy>
                                        </xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="identificationNumber" type="TINNewType">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        <description value="Identification number" />
                                                        <format value="an..17" />
                                                        <optionality value="R" />
                                                        <xsdBaseType value="TINNewType" />
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="ContactPerson" minOccurs="0">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        <description value="CONTACT PERSON" />
                                                        <optionality value="O" />
                                                    </xs:documentation>
                                                </xs:annotation>
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="name" type="NameContentType02">
                                                            <xs:annotation>
                                                                <xs:documentation>
                                                                    <description value="Name" />
                                                                    <format value="an..70" />
                                                                    <optionality value="R" />
                                                                </xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                        <xs:element name="phoneNumber" type="PhoneNumberContentType02">
                                                            <xs:annotation>
                                                                <xs:documentation>
                                                                    <description value="Phone number" />
                                                                    <format value="an..35" />
                                                                    <optionality value="R" />
                                                                </xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                        <xs:element name="eMailAddress" minOccurs="0" type="EMailAddressContentType02">
                                                            <xs:annotation>
                                                                <xs:documentation>
                                                                    <description value="E-mail address" />
                                                                    <format value="an..256" />
                                                                    <optionality value="O" />
                                                                    <xsdBaseType value="EmailAddressType256" />
                                                                </xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="TransportEquipment" minOccurs="0" maxOccurs="9999">
                                    <xs:annotation>
                                        <xs:documentation>
                                            <description value="TRANSPORT EQUIPMENT" />
                                            <optionality value="O" />
                                        </xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        <description value="Sequence number" />
                                                        <format value="n..5" />
                                                        <optionality value="R" />
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="containerIdentificationNumber" minOccurs="0" type="ContainerIdentificationNumberContentType01">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        <description value="Container identification number" />
                                                        <format value="an..17" />
                                                        <optionality value="O" />
                                                        <xsdBaseType value="ContainerIdentificationNumber" />
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="GoodsItem" minOccurs="0" maxOccurs="999">
                        <xs:annotation>
                            <xs:documentation>
                                <description value="GOODS ITEM" />
                                <optionality value="O" />
                            </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="declarationGoodsItemNumber" type="DeclarationGoodsItemNumberContentType01">
                                    <xs:annotation>
                                        <xs:documentation>
                                            <description value="Declaration goods item number" />
                                            <format value="n..5" />
                                            <optionality value="R" />
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="Commodity" minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation>
                                            <description value="COMMODITY" />
                                            <optionality value="O" />
                                        </xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="GoodsMeasure" minOccurs="0">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        <description value="GOODS MEASURE" />
                                                        <optionality value="O" />
                                                    </xs:documentation>
                                                </xs:annotation>
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="grossMass" minOccurs="0" type="GrossMassContentType02">
                                                            <xs:annotation>
                                                                <xs:documentation>
                                                                    <description value="Gross mass" />
                                                                    <format value="n..16,6" />
                                                                    <optionality value="O" />
                                                                </xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                        <xs:element name="netMass" minOccurs="0" type="NetMassContentType">
                                                            <xs:annotation>
                                                                <xs:documentation>
                                                                    <description value="Net mass" />
                                                                    <format value="n..16,6" />
                                                                    <optionality value="O" />
                                                                </xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="Packaging" minOccurs="0" maxOccurs="99">
                                    <xs:annotation>
                                        <xs:documentation>
                                            <description value="PACKAGING" />
                                            <optionality value="O" />
                                        </xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        <description value="Sequence number" />
                                                        <format value="n..5" />
                                                        <optionality value="R" />
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="typeOfPackages" minOccurs="0" type="TypeOfPackagesContentType">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        <description value="Type of packages" />
                                                       <!-- <codeList code="CL017" type="business" name="KindOfPackages" /> -->
                                                        <format value="an2" />
                                                        <optionality value="O" />
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="numberOfPackages" minOccurs="0" type="NumberOfPackagesContentType02">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        <description value="Number of packages" />
                                                        <format value="n..8" />
                                                        <optionality value="O" />
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="shippingMarks" minOccurs="0" type="ShippingMarksContentType01">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        <description value="Shipping marks" />
                                                        <format value="an..512" />
                                                        <optionality value="O" />
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="PhaseID" type="phaseIDtype"/>
    </xs:complexType>
</xs:schema>