Export XSDs/B4 XSDs/toldsystemet_B4_Invalidation_v1.13.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:wco:datamodel:WCO:DEC-DMS:2" xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:ds="urn:wco:datamodel:WCO:Declaration_DS:DMS:2" targetNamespace="urn:wco:datamodel:WCO:DEC-DMS:2"
		   elementFormDefault="qualified" version="1.0">
	<xs:import namespace="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
			   schemaLocation="DMS_DS/DMS_DS_v1.3.xsd"/>

	<xs:element name="Declaration" type="Declaration">
		<xs:annotation>
			<xs:documentation>
				<EUCDMname>Declaration</EUCDMname>
				<type>EUCDM 6.1</type>
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="Declaration">
		<xs:sequence>
			<xs:element name="FunctionCode" type="ds:DeclarationFunctionCodeType"/>
			<xs:element name="ProcedureCategory" type="ds:DeclarationProcedureCategoryCodeType"/>
			<xs:element name="FunctionalReferenceID" type="ds:DeclarationFunctionalReferenceIDType">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>LRN</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>12 09 001 000</code>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ID" type="ds:DeclarationIdentificationIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>MRN</EUCDMname>
						<type>EUCDM 6.1</type>
						<code></code>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode" type="ds:DeclarationTypeCodeType">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Declaration type</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>11 01 001 000</code>
					</xs:documentation>
					<xs:documentation>
						<EUCDMname>Additional declaration type</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>11 02 001 000</code>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeclarationOfficeID" type="ds:DeclarationDeclarationOfficeIDType"/>
			<xs:element name="InvoiceAmount" type="ds:DeclarationInvoiceAmountType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Total amount invoiced</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>14 06 001 000</code>
					</xs:documentation>
					<xs:documentation>
						<EUCDMname>Total amount invoiced currency</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>14 05 001 000</code>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Submitter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="ds:SubmitterNameTextType"/>
						<xs:element name="ID" type="ds:SubmitterIdentificationIDType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Amendment" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="EN">
						<WCOID>06A</WCOID>
						<WCOName>Amendment</WCOName>
						<WCODescription>Details for updating declaration data. Can cover
							the whole WCO Data Model</WCODescription>
					</xs:documentation>
					<xs:documentation>
						<WCOUsageDeclarationIM>X</WCOUsageDeclarationIM>
						<WCOUsageDeclarationEX>X</WCOUsageDeclarationEX>
						<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
						<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
						<WCOUsageDeclarationCONV>X</WCOUsageDeclarationCONV>
						<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SequenceNumeric" type="ds:AmendmentSequenceNumericType" minOccurs="1">
							<xs:annotation>
								<xs:documentation xml:lang="EN">
									<WCOID>006</WCOID>
									<WCOName>Sequence number</WCOName>
									<WCODescription>Number indicating the position in a sequence</WCODescription>
									<WCOFormat>n..5</WCOFormat>
								</xs:documentation>
								<xs:documentation>
									<TDEDUID>1050</TDEDUID>
									<TDEDName>Sequence. Position.Identifier</TDEDName>
									<DictionaryEntryName>Amendment. Sequence. Numeric</DictionaryEntryName>
									<NamedComplexType>AmendmentSequenceNumericType</NamedComplexType>
									<XMLTag>SequenceNumeric</XMLTag>
									<UniquePositionID>10348</UniquePositionID>
									<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
									<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
									<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ChangeReasonCode" type="ds:AmendmentChangeReasonCodeType"
									minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="EN">
									<WCOCodeRemarks>User codes</WCOCodeRemarks>
									<WCOID>099</WCOID>
									<WCOName>Amendment code</WCOName>
									<WCODescription>Code specifying the reason for a change
									</WCODescription>
									<WCOFormat>an..3</WCOFormat>
								</xs:documentation>
								<xs:documentation>
									<TDEDUID>4295</TDEDUID>
									<TDEDName>Change.Reason.Code</TDEDName>
									<DictionaryEntryName>Amendment. Change Reason. Code
									</DictionaryEntryName>
									<NamedComplexType>AmendmentChangeReasonCodeType
									</NamedComplexType>
									<XMLTag>ChangeReasonCode</XMLTag>
									<UniquePositionID>427</UniquePositionID>
									<WCOUsageDeclarationIM>X</WCOUsageDeclarationIM>
									<WCOUsageDeclarationEX>X</WCOUsageDeclarationEX>
									<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
									<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
									<WCOUsageDeclarationCONV>X</WCOUsageDeclarationCONV>
									<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ChangeReasonText" type="ds:AmendmentChangeReasonTextType"
									minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="EN">
									<WCOName>Amendment text</WCOName>
									<WCODescription>Text specifying the reason for a change</WCODescription>
									<WCOFormat>an..255</WCOFormat>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Pointer" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="EN">
									<WCOID>97A</WCOID>
									<WCOName>Pointer</WCOName>
									<WCODescription>Details to refer to a functional attribute
										within a declaration</WCODescription>
								</xs:documentation>
								<xs:documentation>
									<WCOUsageDeclarationIM>X</WCOUsageDeclarationIM>
									<WCOUsageDeclarationEX>X</WCOUsageDeclarationEX>
									<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
									<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
									<WCOUsageDeclarationCONV>X</WCOUsageDeclarationCONV>
									<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SequenceNumeric" type="ds:PointerSequenceNumericType"
												minOccurs="1">
										<xs:annotation>
											<xs:documentation xml:lang="EN">
												<WCOID>006</WCOID>
												<WCOName>Sequence number</WCOName>
												<WCODescription>Number indicating the position in a sequence
												</WCODescription>
												<WCOFormat>n..5</WCOFormat>
											</xs:documentation>
											<xs:documentation>
												<TDEDUID>1050</TDEDUID>
												<TDEDName>Sequence. Position.Identifier</TDEDName>
												<DictionaryEntryName>Pointer. Sequence. Numeric
												</DictionaryEntryName>
												<NamedComplexType>PointerSequenceNumericType
												</NamedComplexType>
												<XMLTag>SequenceNumeric</XMLTag>
												<UniquePositionID>428</UniquePositionID>
												<WCOUsageDeclarationIM>X</WCOUsageDeclarationIM>
												<WCOUsageDeclarationEX>X</WCOUsageDeclarationEX>
												<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
												<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
												<WCOUsageDeclarationCONV>X</WCOUsageDeclarationCONV>
												<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DocumentSectionCode" type="ds:PointerDocumentSectionCodeType"
												minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="EN">
												<WCOCodeRemarks>EDIFACT codes (1049)</WCOCodeRemarks>
												<WCOID>375</WCOID>
												<WCOName>Document/message section, coded</WCOName>
												<WCODescription>Code specifying a section of a
													document/message</WCODescription>
												<WCOFormat>an..3</WCOFormat>
											</xs:documentation>
											<xs:documentation>
												<TDEDUID>1049</TDEDUID>
												<TDEDName>Document. Section.Code</TDEDName>
												<DictionaryEntryName>Pointer. Document Section. Code
												</DictionaryEntryName>
												<NamedComplexType>PointerDocumentSectionCodeType
												</NamedComplexType>
												<XMLTag>DocumentSectionCode</XMLTag>
												<UniquePositionID>429</UniquePositionID>
												<WCOUsageDeclarationIM>X</WCOUsageDeclarationIM>
												<WCOUsageDeclarationEX>X</WCOUsageDeclarationEX>
												<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
												<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
												<WCOUsageDeclarationCONV>X</WCOUsageDeclarationCONV>
												<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TagID" type="ds:PointerTagIDType"
												minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="EN">
												<WCOID>381</WCOID>
												<WCOName>Tag identifier</WCOName>
												<WCODescription>Data element tag identifier</WCODescription>
												<WCOFormat>an..4</WCOFormat>
											</xs:documentation>
											<xs:documentation>
												<TDEDUID>9162</TDEDUID>
												<TDEDName>Data Element. Tag.Identifier</TDEDName>
												<DictionaryEntryName>Pointer. Tag. Identifier
												</DictionaryEntryName>
												<NamedComplexType>PointerTagIDType</NamedComplexType>
												<XMLTag>TagID</XMLTag>
												<UniquePositionID>430</UniquePositionID>
												<WCOUsageDeclarationIM>X</WCOUsageDeclarationIM>
												<WCOUsageDeclarationEX>X</WCOUsageDeclarationEX>
												<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
												<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
												<WCOUsageDeclarationCONV>X</WCOUsageDeclarationCONV>
												<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
