Import XSDs/H5 XSDs/DMS_H5_Repayment_Remission_v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ds="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
           xmlns:eds="urn:wco:datamodel:WCO:WCO_DEC_EDS_AUTHORISATION:1"
           xmlns="urn:wco:datamodel:WCO:DEC-DMS:2"
           xmlns:ext="urn:eds:datamodel:EDS:EDS_EXTENSIONS:1"
           targetNamespace="urn:wco:datamodel:WCO:DEC-DMS:2"
           elementFormDefault="qualified" version="1.2.0">
    <xs:import namespace="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
               schemaLocation="../DMS_DS/DMS_DS_v1.0.xsd"/>
    <xs:import namespace="urn:wco:datamodel:WCO:WCO_DEC_EDS_AUTHORISATION:1"
               schemaLocation="../Application XSDs/4c_Repayment_Remission.xsd"/>
    <xs:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:6"
               schemaLocation="../DMS_DS/UNECE/UnqualifiedDataType_6_DMS.xsd"/>
    <xs:import namespace="urn:eds:datamodel:EDS:EDS_EXTENSIONS:1"
               schemaLocation="../DMS_DS/EDS/EDS_EXTENSIONS.xsd"/>

    <xs:element name="Declaration" type="Declaration">
        <xs:annotation>
            <xs:documentation>
                <EUCDMname>Invalidation of declaration</EUCDMname>
                <type>EUCDM 6.1</type>
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="Declaration">
        <xs:sequence>
            <xs:element name="FunctionCode" type="ds:DeclarationFunctionCodeType"/>
            <xs:element name="ProcedureCategory" type="ds:DeclarationProcedureCategoryCodeType"/>
            <xs:element name="FunctionalReferenceID" type="ds:DeclarationFunctionalReferenceIDType">
                <xs:annotation>
                    <xs:documentation>
                        <EUCDMname>LRN</EUCDMname>
                        <type>EUCDM 6.1</type>
                        <code>12 09 001 000</code>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ID" type="ds:DeclarationIdentificationIDType"/>
            <xs:element name="TypeCode" type="ds:DeclarationTypeCodeType">
                <xs:annotation>
                    <xs:documentation>
                        <EUCDMname>Declaration type</EUCDMname>
                        <type>EUCDM 6.1</type>
                        <code>11 01 001 000</code>
                    </xs:documentation>
                    <xs:documentation>
                        <EUCDMname>Additional declaration type</EUCDMname>
                        <type>EUCDM 6.1</type>
                        <code>11 02 001 000</code>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Submitter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Name" type="ds:SubmitterNameTextType"/>
                        <xs:element name="ID" type="ds:SubmitterIdentificationIDType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="RepaymentRemissionAuthorisation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ApplicationCodeType" type="eds:AuthorisationCodeType">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCOFormat>an..4</WCOFormat>
                                    <WCODescription>Authorisation code type for application</WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="ApplicationSignature" type="eds:SignatureType" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCOFormat>an..256</WCOFormat>
                                    <WCODescription>Authorisation signature for application</WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="DecisionReferenceNumber">
                            <xs:complexType>
                            <xs:sequence>
                                <xs:element name="CountryCode" type="eds:AddressCountryCodeType">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="EN">
                                            <WCOFormat>an..2</WCOFormat>
                                            <WCODescription>Decision reference number country code</WCODescription>
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="ReferenceNumber" type="eds:DecisionReferenceNumberTextType">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="EN">
                                            <WCOFormat>an..29</WCOFormat>
                                            <WCODescription>Decision reference number </WCODescription>
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="CodeType" type="eds:DecisionReferenceNumberCodeType">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="EN">
                                            <WCOFormat>an..4</WCOFormat>
                                            <WCODescription>Decision reference number code </WCODescription>
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="AttachedDocument" minOccurs="0" maxOccurs="999">
                            <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Type" type="eds:AttachedDocumentTypeType" maxOccurs="1">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="EN">
                                            <WCOFormat>an..70</WCOFormat>
                                            <WCODescription>Attached document type</WCODescription>
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="AttachedDocumentID" type="eds:AttachedDocumentIdentifierType" maxOccurs="1">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="EN">
                                            <WCOFormat>an..35</WCOFormat>
                                            <WCODescription>Attached document identifier</WCODescription>
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="AttachedDocumentDate" type="eds:DateTimeType" maxOccurs="1">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="EN">
                                            <WCOFormat>n8</WCOFormat>
                                            <WCODescription>Attached document type</WCODescription>
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ApplicationHolder" minOccurs="0">
                            <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Name" type="eds:RepresentativeNameTextType" maxOccurs="1">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="EN">
                                            <WCOFormat>an..70</WCOFormat>
                                            <WCODescription>Holder name</WCODescription>
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="StreetAndNumber" type="eds:StreetAndNumberType" maxOccurs="1">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="EN">
                                            <WCOFormat>an..70</WCOFormat>
                                            <WCODescription>Holder street and number</WCODescription>
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="CountryCode" type="eds:AddressCountryCodeType" maxOccurs="1">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="EN">
                                            <WCOFormat>a2</WCOFormat>
                                            <WCODescription>Holder country code</WCODescription>
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="PostCode" type="eds:AddressPostcodeIDType" maxOccurs="1">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="EN">
                                            <WCOFormat>an..9</WCOFormat>
                                            <WCODescription>Holder postcode</WCODescription>
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="City" type="eds:AddressCityNameTextType" maxOccurs="1">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="EN">
                                            <WCOFormat>an..35</WCOFormat>
                                            <WCODescription>Holder city</WCODescription>
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ApplicationHolderId" type="eds:AuthorisationIDType" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCOFormat>an..17</WCOFormat>
                                </xs:documentation>
                                <xs:documentation>
                                    <WCODescription>Application holder ID</WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="ApplicationSupervisor">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCODescription>Contact details of person responsible for the application</WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Name" type="eds:PersonContactDetailsNameTextType" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>an..70</WCOFormat>
                                                <WCODescription>Contact details person name</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TelephoneNumber" type="eds:TelephoneNumberTextType" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>an..50</WCOFormat>
                                                <WCODescription>Contact details person telephone</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="FaxNumber" type="eds:TelephoneNumberTextType" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>an..50</WCOFormat>
                                                <WCODescription>Contact details person fax</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="EmailAddress" type="eds:EmailTextType" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>an..256</WCOFormat>
                                                <WCODescription>Contact details person email</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ApplicationDate" type="eds:DateTimeType" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCOFormat>n8(yyyymmdd)</WCOFormat>
                                </xs:documentation>
                                <xs:documentation>
                                    <WCODescription>Date on which the applicant has signed or otherwise authenticated the application</WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="DecisionDate" type="eds:DateTimeType" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCOFormat>n8(yyyymmdd)</WCOFormat>
                                </xs:documentation>
                                <xs:documentation>
                                    <WCODescription>The date on which the authorisation or decision relating to binding information
                                        or on the repayment or remission of import or export duty was taken.</WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="GeneralRemarks" type="eds:GeneralRemarksType" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCOFormat>an..512</WCOFormat>
                                    <WCODescription>General remarks regarding particulars of any requirements to which
                                        the goods remain subject pending implementation of the decision</WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Representative" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCODescription>Repayment/Remission representative</WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Name" type="eds:RepresentativeNameTextType" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>an..70</WCOFormat>
                                                <WCODescription>Holder name</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="StreetAndNumber" type="eds:StreetAndNumberType" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>an..70</WCOFormat>
                                                <WCODescription>Holder street and number</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="CountryCode" type="eds:AddressCountryCodeType" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>a2</WCOFormat>
                                                <WCODescription>Holder country code</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="PostCode" type="eds:AddressPostcodeIDType" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>an..9</WCOFormat>
                                                <WCODescription>Holder postcode</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="City" type="eds:AddressCityNameTextType" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>an..35</WCOFormat>
                                                <WCODescription>Holder city</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="RepresentativeId" type="eds:AuthorisationIDType" minOccurs="0" maxOccurs="1" >
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCOFormat>an..17</WCOFormat>
                                </xs:documentation>
                                <xs:documentation>
                                    <WCODescription>Representative Identification</WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="GoodsLocation" minOccurs="0" maxOccurs="9999">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCODescription>Locations of goods</WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="CountryCode" type="eds:AddressCountryCodeType" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>a2</WCOFormat>
                                                <WCODescription>Goods Location country code</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="LocationCodeType" type="eds:LocationCodeCodeType" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>a1</WCOFormat>
                                                <WCODescription>Goods location code type</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="IdentificationQualifier" type="eds:IdentificationQualifierType" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>a1</WCOFormat>
                                                <WCODescription>Goods location identification qualifier</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="LocationIdentification" type="eds:LocationIdentificationType" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>an..35</WCOFormat>
                                                <WCODescription>Goods location identification</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="AdditionalIdentifier" type="eds:AdditionalIdentifierNumericType" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>n..3</WCOFormat>
                                                <WCODescription>Location additional identifier</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Name" type="eds:AuthorisationGoodsLocationNameTextType" minOccurs="0" maxOccurs="1" >
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>an..70</WCOFormat>
                                                <WCODescription>Goods location name</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="StreetAndNumber" type="eds:StreetAndNumberType" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>an..70</WCOFormat>
                                                <WCODescription>Location street and number</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="PostCode" type="eds:AddressPostcodeIDType" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>an..9</WCOFormat>
                                                <WCODescription>Location postcode</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="City" type="eds:AddressCityNameTextType" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>an..35</WCOFormat>
                                                <WCODescription>Location city</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="TraderCommodityCode" minOccurs="0" maxOccurs="999">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCODescription>Trader commodity codes</WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="NomenclatureCode" type="eds:NomenclatureCodeType" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>an..8</WCOFormat>
                                                <WCODescription>First subdivision combined nomenclature code</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TaricSubheading" type="eds:TaricSubheadingTextType" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>an2</WCOFormat>
                                                <WCODescription>Second subdivision subheading</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TaricAdditionalCode" type="eds:TaricAdditionalCodeType" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>an4</WCOFormat>
                                                <WCODescription>Third subdivision taric additional codes</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="NationalAdditionalCode" type="eds:NationalAdditionalCodeType" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>an..4</WCOFormat>
                                                <WCODescription>Fourth subdivision national additional code</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="GoodsDescription" type="eds:GoodsDescriptionType" minOccurs="0" maxOccurs="999">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCOFormat>an..2560</WCOFormat>
                                </xs:documentation>
                                <xs:documentation>
                                    <WCODescription>Description of goods</WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TraderGoodsQuantity" minOccurs="0" maxOccurs="999">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCODescription>Trader goods quantities</WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Measurement" type="eds:GoodsQuantityMeasurementType" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>an..4</WCOFormat>
                                                <WCODescription>Goods quantities measurement</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Quantity" type="eds:GoodsQuantityTypeType" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>n..16,6</WCOFormat>
                                                <WCODescription>Goods quantities</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="AdditionalInformation" type="eds:AdditionalInformationTextType" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCOFormat>an..512</WCOFormat>
                                    <WCODescription>Additional information</WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="RecoveryTitle" type="eds:RecoveryTitleTextType" minOccurs="0" maxOccurs="999">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCOFormat>an..35</WCOFormat>
                                </xs:documentation>
                                <xs:documentation>
                                    <WCODescription>Title of recovery</WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="CustomsOfficeNotified" type="eds:CustomsOfficeNotifiedType" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCOFormat>an8</WCOFormat>
                                </xs:documentation>
                                <xs:documentation>
                                    <WCODescription>Customs office where the customs debt was notified</WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="CustomsOfficeLocation" type="eds:CustomsOfficeLocationTextType" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCOFormat>an8</WCOFormat>
                                </xs:documentation>
                                <xs:documentation>
                                    <WCODescription>Customs office responsible for the place where the goods are located</WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="CustomsOfficeComments" type="eds:CustomsOfficeCommentsTextType" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCOFormat>an..512</WCOFormat>
                                </xs:documentation>
                                <xs:documentation>
                                    <WCODescription>Comments of the customs office responsible for the place where the goods are located</WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="CustomsProcedure" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCODescription>Customs procedure (request for prior completion of formalities)</WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Code" type="eds:CustomsProcedureCodeType" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>an2</WCOFormat>
                                                <WCODescription>Customs procedure code</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Checked" type="eds:CheckboxIndicatorType" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>boolean</WCOFormat>
                                                <WCODescription>Customs procedure checkbox</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="DecisionReferenceNumber" type="eds:DecisionReferenceNumberType" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>an2</WCOFormat>
                                                <WCODescription>Customs procedure code</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="CustomsValue" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCODescription>Customs value</WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Currency" type="eds:CurrencyType" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>a3</WCOFormat>
                                                <WCODescription>Currency type</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Amount" type="eds:AmountTypeType" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>n..16,6</WCOFormat>
                                                <WCODescription>Amount type</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="AmountDuty">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCODescription>Amount of import or export duty to be repaid or remitted of</WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Currency" type="eds:CurrencyType" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>a3</WCOFormat>
                                                <WCODescription>Currency type</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Amount" type="eds:AmountTypeType" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>n..16,6</WCOFormat>
                                                <WCODescription>Amount type</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="DutyType" minOccurs="0" maxOccurs="99">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCODescription>Type of import or export duty</WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="UnionCode" type="eds:UnionCodeType" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>a1+n2</WCOFormat>
                                                <WCODescription>Union code type</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="NationalCode" type="eds:NationalCodeType" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>n1+an2</WCOFormat>
                                                <WCODescription>National code type</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Amount" type="eds:AmountTypeType" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOFormat>n..16,6</WCOFormat>
                                                <WCODescription>Amount type</WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="LegalBasis" type="eds:LegalBasisTextType">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCOFormat>a1</WCOFormat>
                                </xs:documentation>
                                <xs:documentation>
                                    <WCODescription>Legal basis</WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="GoodsDestination" type="eds:GoodsDestinationTextType" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCOFormat>an..512</WCOFormat>
                                </xs:documentation>
                                <xs:documentation>
                                    <WCODescription>Use or destination of goods</WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TraderGroundsDescription" type="eds:GroundsDescriptionTextType" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCOFormat>an..512</WCOFormat>
                                </xs:documentation>
                                <xs:documentation>
                                    <WCODescription>Description of the grounds for repayment or remission A</WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="BankDetails" type="eds:BankDetailsTextType" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCOFormat>an..512</WCOFormat>
                                </xs:documentation>
                                <xs:documentation>
                                    <WCODescription>Bank and account details</WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:sequence>
    </xs:complexType>
</xs:schema>