H7/toldsystemet_DS/WCO_DEC_EDS_AUTHORISATION.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:wco:datamodel:WCO:WCO_DEC_EDS_AUTHORISATION:1"
    xmlns:ds="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:6"
    targetNamespace="urn:wco:datamodel:WCO:WCO_DEC_EDS_AUTHORISATION:1"
    elementFormDefault="qualified"
    version="1.0">
  <xs:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:6" schemaLocation="../UNECE/UnqualifiedDataType_6_DMS.xsd"/>
  <xs:import namespace="urn:wco:datamodel:WCO:Declaration_DS:DMS:2" schemaLocation="./toldsystemet_DS_v1.xsd" />
  <xs:complexType name="Authorisation"/>
  <xs:complexType name="AuthorisationBase">
    <xs:complexContent>
      <xs:extension base="Authorisation">
        <xs:sequence>
          <xs:element name="ApplicationCodeType" type="AuthorisationCodeType" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCOFormat>an..4</WCOFormat>
                <WCODescription>Authorisation code type for application</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionCodeType" type="AuthorisationCodeType" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCOFormat>an..4</WCOFormat>
                <WCODescription>Authorisation code type for decision</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApplicationSignature" type="SignatureType" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCOFormat>an..256</WCOFormat>
                <WCODescription>Authorisation signature for application</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionSignature" type="SignatureType" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCOFormat>an.256</WCOFormat>
                <WCODescription>Authorisation signature for decision</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionReferenceNumber" type="DecisionReferenceNumberType" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCODescription>Unique reference attributed by the competent customs authority to the decision.</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionCustomsAuthority" type="DecisionCustomsAuthorityType" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCODescription>Name and address of the customs authority which takes the decision</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AttachedDocument" type="AttachedDocumentType" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCODescription>Document(s) attached to the application or the decision</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApplicationHolder" type="RepresentativeType" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCODescription>Applicant of the authorisation</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionHolder" type="RepresentativeType" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCODescription>Decision holder representative</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApplicationHolderId" type="AuthorisationIDType" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCOFormat>an..17</WCOFormat>
              </xs:documentation>
              <xs:documentation>
                <WCODescription>Application holder ID</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionHolderId" type="AuthorisationIDType" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCOFormat>an..17</WCOFormat>
              </xs:documentation>
              <xs:documentation>
                <WCODescription>Decision holder ID</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApplicationSupervisor" type="PersonContactDetailsType" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCODescription>Contact details of person responsible for the application</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ApplicationDate" type="udt:DateTimeType" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCOFormat>n8(yyyymmdd)</WCOFormat>
              </xs:documentation>
              <xs:documentation>
                <WCODescription>Date on which the applicant has signed or otherwise authenticated the application</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DecisionDate" type="udt:DateTimeType" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCOFormat>n8(yyyymmdd)</WCOFormat>
              </xs:documentation>
              <xs:documentation>
                <WCODescription>The date on which the authorisation or decision relating to binding information
                  or on the repayment or remission of import or export duty was taken.</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GeneralRemarks" type="GeneralRemarksType" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCOFormat>an..512</WCOFormat>
                <WCODescription>General remarks regarding particulars of any requirements to which
                  the goods remain subject pending implementation of the decision</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RepaymentRemissionAuthorisation">
    <xs:complexContent>
      <xs:extension base="AuthorisationBase">
        <xs:sequence>
          <xs:element name="Representative" type="RepresentativeType" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCODescription>Repayment/Remission representative</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RepresentativeId" type="AuthorisationIDType" maxOccurs="1" >
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCOFormat>an..17</WCOFormat>
              </xs:documentation>
              <xs:documentation>
                <WCODescription>Representative Identification</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsLocation" type="GoodsLocationType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCODescription>Locations of goods</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TraderCommodityCode" type="CommodityCodeType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCODescription>Trader commodity codes</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsCommodityCode" type="CommodityCodeType" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCODescription>Customs commodity code</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsDescription" type="GoodsDescriptionType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCOFormat>an..2560</WCOFormat>
              </xs:documentation>
              <xs:documentation>
                <WCODescription>Description of goods</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TraderGoodsQuantity" type="GoodsQuantityType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCODescription>Trader goods quantities</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsGoodsQuantity" type="GoodsQuantityType" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCODescription>Customs goods quantity</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AdditionalInformation" type="AdditionalInformationTextType" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCOFormat>an..512</WCOFormat>
                <WCODescription>Additional information</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RecoveryTitle" type="RecoveryTitleTextType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCOFormat>an..35</WCOFormat>
              </xs:documentation>
              <xs:documentation>
                <WCODescription>Title of recovery</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsOfficeNotified" type="CustomsOfficeNotifiedType" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCOFormat>an8</WCOFormat>
              </xs:documentation>
              <xs:documentation>
                <WCODescription>Customs office where the customs debt was notified</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsOfficeLocation" type="CustomsOfficeLocationTextType" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCOFormat>an8</WCOFormat>
              </xs:documentation>
              <xs:documentation>
                <WCODescription>Customs office responsible for the place where the goods are located</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsOfficeComments" type="CustomsOfficeCommentsTextType" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCOFormat>an..512</WCOFormat>
              </xs:documentation>
              <xs:documentation>
                <WCODescription>Comments of the customs office responsible for the place where the goods are located</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsProcedure" type="CustomsProcedureType" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCODescription>Customs procedure (request for prior completion of formalities)</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsValue" type="ValueType" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCODescription>Customs value</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AmountDuty" type="ValueType" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCODescription>Amount of import or export duty to be repaid or remitted of</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DutyType" type="DutyCodeTypeType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCODescription>Type of import or export duty</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LegalBasis" type="LegalBasisTextType" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCOFormat>a1</WCOFormat>
              </xs:documentation>
              <xs:documentation>
                <WCODescription>Legal basis</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="GoodsDestination" type="GoodsDestinationTextType" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCOFormat>an..512</WCOFormat>
              </xs:documentation>
              <xs:documentation>
                <WCODescription>Use or destination of goods</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CompletionTimeLimit" type="CompletionTimeLimitNumericType" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCOFormat>n..3</WCOFormat>
              </xs:documentation>
              <xs:documentation>
                <WCODescription>Time-limit for completion of formalities</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsStatement" type="CustomsStatementTextType" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCOFormat>an..512</WCOFormat>
              </xs:documentation>
              <xs:documentation>
                <WCODescription>Statement of the decision-taking customs authority</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TraderGroundsDescription" type="GroundsDescriptionTextType" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCOFormat>an..512</WCOFormat>
              </xs:documentation>
              <xs:documentation>
                <WCODescription>Description of the grounds for repayment or remission A</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CustomsGroundsDescription" type="GroundsDescriptionTextType" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCOFormat>an..512</WCOFormat>
              </xs:documentation>
              <xs:documentation>
                <WCODescription>Description of the grounds for repayment or remission D</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="BankDetails" type="BankDetailsTextType" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCOFormat>an..512</WCOFormat>
              </xs:documentation>
              <xs:documentation>
                <WCODescription>Bank and account details</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!--  *************************************************************************************************-->
  <!--  *************************************************************************************************-->
  <!--  *************************************************************************************************-->

  <xs:complexType name="CustomsProcedureType">
    <xs:sequence>
      <xs:element name="Code" type="CustomsProcedureCodeType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an2</WCOFormat>
            <WCODescription>Customs procedure code</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Checked" type="CheckboxIndicatorType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>boolean</WCOFormat>
            <WCODescription>Customs procedure checkbox</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecisionReferenceNumber" type="DecisionReferenceNumberType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an2</WCOFormat>
            <WCODescription>Customs procedure code</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GoodsQuantityType">
    <xs:sequence>
      <xs:element name="Measurement" type="GoodsQuantityMeasurementType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..4</WCOFormat>
            <WCODescription>Goods quantities measurement</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Quantity" type="GoodsQuantityTypeType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>n..16,6</WCOFormat>
            <WCODescription>Goods quantities</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CommodityCodeType">
    <xs:sequence>
      <xs:element name="NomenclatureCode" type="NomenclatureCodeType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..8</WCOFormat>
            <WCODescription>First subdivision combined nomenclature code</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaricSubheading" type="TaricSubheadingTextType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an2</WCOFormat>
            <WCODescription>Second subdivision subheading</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TaricAdditionalCode" type="TaricAdditionalCodeType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an4</WCOFormat>
            <WCODescription>Third subdivision taric additional codes</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NationalAdditionalCode" type="NationalAdditionalCodeType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..4</WCOFormat>
            <WCODescription>Fourth subdivision national additional code</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GoodsLocationType">
    <xs:sequence>
      <xs:element name="CountryCode" type="ds:AddressCountryCodeType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>a2</WCOFormat>
            <WCODescription>Goods Location country code</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LocationCodeType" type="LocationCodeCodeType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>a1</WCOFormat>
            <WCODescription>Goods location code type</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentificationQualifier" type="IdentificationQualifierType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>a1</WCOFormat>
            <WCODescription>Goods location identification qualifier</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LocationIdentification" type="LocationIdentificationType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..35</WCOFormat>
            <WCODescription>Goods location identification</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdditionalIdentifier" type="AdditionalIdentifierNumericType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>n..3</WCOFormat>
            <WCODescription>Location additional identifier</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="AuthorisationGoodsLocationNameTextType" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..70</WCOFormat>
            <WCODescription>Goods location name</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StreetAndNumber" type="StreetAndNumberType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..70</WCOFormat>
            <WCODescription>Location street and number</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PostCode" type="ds:AddressPostcodeIDType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..9</WCOFormat>
            <WCODescription>Location postcode</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="City" type="ds:AddressCityNameTextType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..35</WCOFormat>
            <WCODescription>Location city</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PersonContactDetailsType">
    <xs:sequence>
      <xs:element name="Name" type="PersonContactDetailsNameTextType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..70</WCOFormat>
            <WCODescription>Contact details person name</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TelephoneNumber" type="TelephoneNumberTextType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..50</WCOFormat>
            <WCODescription>Contact details person telephone</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FaxNumber" type="TelephoneNumberTextType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..50</WCOFormat>
            <WCODescription>Contact details person fax</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EmailAddress" type="EmailTextType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..50</WCOFormat>
            <WCODescription>Contact details person email</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AttachedDocumentType">
    <xs:sequence>
      <xs:element name="Type" type="AttachedDocumentTypeType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..70</WCOFormat>
            <WCODescription>Attached document type</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AttachedDocumentID" type="AttachedDocumentIdentifierType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..35</WCOFormat>
            <WCODescription>Attached document identifier</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AttachedDocumentDate" type="udt:DateTimeType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>n8</WCOFormat>
            <WCODescription>Attached document type</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RepresentativeType">
    <xs:sequence>
      <xs:element name="Name" type="RepresentativeNameTextType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..70</WCOFormat>
            <WCODescription>Holder name</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StreetAndNumber" type="StreetAndNumberType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..70</WCOFormat>
            <WCODescription>Holder street and number</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryCode" type="ds:AddressCountryCodeType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>a2</WCOFormat>
            <WCODescription>Holder country code</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PostCode" type="ds:AddressPostcodeIDType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..9</WCOFormat>
            <WCODescription>Holder postcode</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="City" type="ds:AddressCityNameTextType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..35</WCOFormat>
            <WCODescription>Holder city</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DecisionCustomsAuthorityType">
    <xs:sequence>
      <xs:element name="CustomsOfficeId" type="CustomsOfficeLocationTextType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an8</WCOFormat>
            <WCODescription>Customs office encoded location identity</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="DecisionCustomsAuthorityNameTextType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..70</WCOFormat>
            <WCODescription>Decision customs authority name</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StreetAndNumber" type="StreetAndNumberType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..70</WCOFormat>
            <WCODescription>Decision customs authority street and number</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>a2</WCOFormat>
            <WCODescription>Decision customs authority country code</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PostCode" type="ds:AddressPostcodeIDType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..9</WCOFormat>
            <WCODescription>Decision customs authority post code</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="City" type="ds:AddressCityNameTextType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..35</WCOFormat>
            <WCODescription>Decision customs authority city</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ValueType">
    <xs:sequence>
      <xs:element name="Currency" type="CurrencyType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>a3</WCOFormat>
            <WCODescription>Currency type</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Amount" type="AmountTypeType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>n..16,6</WCOFormat>
            <WCODescription>Amount type</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AmountTypeType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n..16,6</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:AmountType">
        <xs:totalDigits value="16"/>
        <xs:fractionDigits value="6"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="CurrencyType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>a3</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:length value="3"/>
        <xs:pattern value="([a-zA-Z])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>


  <xs:complexType name="LegalBasisTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>a1</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:length value="1"/>
        <xs:pattern value="([a-zA-Z])"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="CompletionTimeLimitNumericType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n..3</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="3"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="GoodsDestinationTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..512</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="512"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="CustomsStatementTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..512</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="512"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="GroundsDescriptionTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..512</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="512"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="BankDetailsTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..512</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="512"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DutyCodeTypeType">
    <xs:sequence>
      <xs:element name="UnionCode" type="UnionCodeType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>a1+n2</WCOFormat>
            <WCODescription>Union code type</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NationalCode" type="NationalCodeType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>n1+an2</WCOFormat>
            <WCODescription>National code type</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UnionCodeType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>a1+n2</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:length value="3"/>
        <xs:pattern value="([a-zA-Z]){1}([0-9]){2}"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="NationalCodeType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n1+an2</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:length value="3"/>
        <xs:pattern value="([0-9]){1}([a-zA-Z0-9]){2}"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="CheckboxIndicatorType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>boolean</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:IndicatorType">
      <xs:pattern value="false" />
      <xs:pattern value="true" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CustomsProcedureCodeType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an2</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:length value="2"/>
        <xs:pattern value="([a-zA-Z0-9])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="RecoveryTitleTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..35</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="35"/>
        <xs:pattern value="([a-zA-Z0-9])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="CustomsOfficeNotifiedType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an8</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:length value="8"/>
        <xs:pattern value="([a-zA-Z0-9])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="CustomsOfficeLocationTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an8</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:length value="8"/>
        <xs:pattern value="([a-zA-Z0-9])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="CustomsOfficeCommentsTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..512</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="512"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="GoodsQuantityTypeType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n..16,6</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:QuantityType">
        <xs:totalDigits value="16"/>
        <xs:fractionDigits value="6"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="GoodsQuantityMeasurementType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..4</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="4"/>
        <xs:pattern value="([a-zA-Z0-9])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="GoodsDescriptionType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..2560</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="2560"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="NationalAdditionalCodeType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..4</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:maxLength value="4"/>
        <xs:pattern value="([a-zA-Z0-9])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="TaricAdditionalCodeType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an4</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:length value="4"/>
        <xs:pattern value="([a-zA-Z0-9])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="NomenclatureCodeType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..8</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:maxLength value="8"/>
        <xs:pattern value="([a-zA-Z0-9])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="TaricSubheadingTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an2</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:length value="2"/>
        <xs:pattern value="([a-zA-Z0-9])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="LocationCodeCodeType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>a1</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:length value="1"/>
        <xs:pattern value="([a-zA-Z])"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="IdentificationQualifierType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>a1</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:IDType">
        <xs:length value="1"/>
        <xs:pattern value="([a-zA-Z])"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="LocationIdentificationType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..35</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="35"/>
        <xs:pattern value="([a-zA-Z0-9])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="AdditionalIdentifierNumericType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n..3</WCOFormat>
      </xs:documentation>
    </xs:annotation>
      <xs:restriction base="udt:NumericType">
        <xs:totalDigits value="3"/>
        <xs:fractionDigits value="0"/>
      </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="AttachedDocumentTypeType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..70</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="70"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AttachedDocumentIdentifierType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..35</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:IDType">
        <xs:maxLength value="35"/>
        <xs:pattern value="([a-zA-Z0-9])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="TelephoneNumberTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..50</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="50"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="EmailTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..50</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="50"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AuthorisationGoodsLocationNameTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..70</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="70"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="PersonContactDetailsNameTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..70</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="70"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AdditionalInformationTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..512</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="512"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="GeneralRemarksType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..512</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="512"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AuthorisationIDType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..17</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:IDType">
        <xs:maxLength value="17"/>
        <xs:pattern value="([a-zA-Z0-9])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DecisionCustomsAuthorityNameTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..70</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="70"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="StreetAndNumberType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..70</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="70"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DecisionReferenceNumberType">
    <xs:sequence>
      <xs:element name="CountryCode" type="ds:AddressCountryCodeType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..2</WCOFormat>
            <WCODescription>Decision reference number country code</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReferenceNumber" type="DecisionReferenceNumberTextType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..29</WCOFormat>
            <WCODescription>Decision reference number </WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CodeType" type="DecisionReferenceNumberCodeType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..4</WCOFormat>
            <WCODescription>Decision reference number code </WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DecisionReferenceNumberTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..29</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="29"/>
        <xs:pattern value="([a-zA-Z0-9])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DecisionReferenceNumberCodeType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..4</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:maxLength value="4"/>
        <xs:pattern value="([a-zA-Z0-9])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="SignatureType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..256</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="256"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="RepresentativeNameTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..70</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="70"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AuthorisationCodeType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..4</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:maxLength value="4"/>
        <xs:pattern value="([a-zA-Z0-9])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>
