H7 XSDs/toldsystemet_H7_amendment_v1.1.7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
           xmlns="urn:wco:datamodel:WCO:DEC-DMS:2" targetNamespace="urn:wco:datamodel:WCO:DEC-DMS:2"
           elementFormDefault="qualified" version="1.1.7">
    <xs:import namespace="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
               schemaLocation="toldsystemet_DS/toldsystemet_DS_v1.xsd"/>
    <xs:element name="Declaration" type="Declaration"/>
    <xs:complexType name="Declaration">
        <xs:annotation>
            <xs:documentation>
                <details>
                    H7 declaration.
                </details>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FunctionCode" type="ds:DeclarationFunctionCodeType"/>

            <xs:element name="ProcedureCategory" type="ds:DeclarationProcedureCategoryCodeType"/>

            <xs:element name="FunctionalReferenceID" type="ds:DeclarationFunctionalReferenceIDType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <type>EUCDM 5.2</type>
                        <code>2/5</code>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ID" type="ds:DeclarationIdentificationIDType" minOccurs="1"/>

            <xs:element name="TypeCode" type="ds:DeclarationTypeCodeType" minOccurs="1"/>

            <xs:element name="GoodsItemQuantity" type="ds:DeclarationGoodsItemQuantityType" minOccurs="1"/>

            <xs:element name="DeclarationOfficeID" type="ds:DeclarationDeclarationOfficeIDType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <type>EUCDM 5.2</type>
                        <code>5/26</code>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="TotalGrossMassMeasure" type="ds:DeclarationTotalGrossMassMeasureType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <type>EUCDM 5.2</type>
                        <code>6/5</code>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Submitter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Name" type="ds:SubmitterNameTextType" minOccurs="1"/>
                        <xs:element name="ID" type="ds:SubmitterIdentificationIDType" minOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="Amendment" minOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SequenceNumeric" type="ds:AmendmentSequenceNumericType" minOccurs="1"/>
                        <xs:element name="ChangeReasonCode" type="ds:AmendmentChangeReasonCodeType" minOccurs="1"/>
                        <xs:element name="ChangeReasonText" type="ds:AmendmentChangeReasonTextType" minOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="Agent" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ID" type="ds:AgentIdentificationIDType" minOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>3/20</code>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="FunctionCode" type="ds:AgentFunctionCodeType" minOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>3/21</code>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="Declarant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Name" type="ds:DeclarantNameTextType" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>3/17</code>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="ID" type="ds:DeclarantIdentificationIDType" minOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>3/18</code>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Address" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="1"/>
                                    <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="1"/>
                                    <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="1"/>
                                    <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="1"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="Exporter" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Name" type="ds:ExporterNameTextType" minOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>3/1</code>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Address" minOccurs="1" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>3/1</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="1"/>
                                    <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="1"/>
                                    <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="1"/>
                                    <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="1"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GoodsShipment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="AdditionalDocument" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>2/3</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="SequenceNumeric" type="ds:AdditionalDocumentSequenceNumericType"
                                                minOccurs="1"/>
                                    <xs:element name="CategoryCode" type="ds:AdditionalDocumentCategoryCodeType"
                                                minOccurs="1"/>
                                    <xs:element name="ID" type="ds:AdditionalDocumentIdentificationIDType"
                                                minOccurs="1"/>
                                    <xs:element name="TypeCode" type="ds:AdditionalDocumentTypeCodeType" minOccurs="1"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>2/2</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="SequenceNumeric"
                                                type="ds:AdditionalInformationSequenceNumericType" minOccurs="1"/>
                                    <xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType"
                                                minOccurs="1"/>
                                    <xs:element name="StatementDescription"
                                                type="ds:AdditionalInformationStatementDescriptionTextType"
                                                minOccurs="0"/>
                                    <xs:element name="StatementTypeCode"
                                                type="ds:AdditionalInformationStatementTypeCodeType" minOccurs="1"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Consignment" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="GoodsLocation" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 5.2</type>
                                                <code>5/23</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Name" type="ds:GoodsLocationNameTextType"
                                                            minOccurs="0"/>
                                                <xs:element name="ID" type="ds:GoodsLocationIdentificationIDType"
                                                            minOccurs="0"/>
                                                <xs:element name="TypeCode" type="ds:GoodsLocationTypeCodeType"
                                                            minOccurs="1"/>
                                                <xs:element name="Address">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="TypeCode" type="ds:AddressTypeCodeType"
                                                                        minOccurs="1"/>
                                                            <xs:element name="CityName"
                                                                        type="ds:AddressCityNameTextType"
                                                                        minOccurs="0"/>
                                                            <xs:element name="CountryCode"
                                                                        type="ds:AddressCountryCodeType" minOccurs="1"/>
                                                            <xs:element name="Line" type="ds:AddressLineTextType"
                                                                        minOccurs="0"/>
                                                            <xs:element name="PostcodeID"
                                                                        type="ds:AddressPostcodeIDType" minOccurs="0"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="CustomsValuation" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="FreightChargeAmount"
                                                type="ds:CustomsValuationFreightChargeAmountType" minOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 5.2</type>
                                                <code>4/19</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="DomesticDutyTaxParty" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>3/40</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="SequenceNumeric" type="ds:DomesticDutyTaxPartySequenceNumericType"
                                                minOccurs="1"/>
                                    <xs:element name="ID" type="ds:DomesticDutyTaxPartyIdentificationIDType"
                                                minOccurs="0"/>
                                    <xs:element name="RoleCode" type="ds:DomesticDutyTaxPartyRoleCodeType"
                                                minOccurs="0"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="GovernmentAgencyGoodsItem" minOccurs="1" maxOccurs="999">
                            <xs:annotation>
                                <xs:documentation>
                                    <details>
                                        H7 Item.
                                    </details>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="CustomsValueAmount"
                                                type="ds:GovernmentAgencyGoodsItemCustomsValueAmountType" minOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 5.2</type>
                                                <code>4/18</code>
                                                <details>
                                                    The value of the imported item. Written as CurrencyCode + Value, eg:
                                                    <CustomsValueAmount currencyID="DKK">160.00</CustomsValueAmount>

                                                    Only certain currencies are allowed, find them here:
                                                    https://www.nationalbanken.dk/valutakurser
                                                </details>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="SequenceNumeric"
                                                type="ds:GovernmentAgencyGoodsItemSequenceNumericType" minOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 5.2</type>
                                                <code>1/6</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="AdditionalDocument" minOccurs="0" maxOccurs="unbounded">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 5.2</type>
                                                <code>2/3</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="SequenceNumeric"
                                                            type="ds:AdditionalDocumentSequenceNumericType"
                                                            minOccurs="1"/>
                                                <xs:element name="CategoryCode"
                                                            type="ds:AdditionalDocumentCategoryCodeType" minOccurs="1"/>
                                                <xs:element name="ID" type="ds:AdditionalDocumentIdentificationIDType"
                                                            minOccurs="1"/>
                                                <xs:element name="TypeCode" type="ds:AdditionalDocumentTypeCodeType"
                                                            minOccurs="1"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 5.2</type>
                                                <code>2/2</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="SequenceNumeric"
                                                            type="ds:AdditionalInformationSequenceNumericType"
                                                            minOccurs="1"/>
                                                <xs:element name="StatementCode"
                                                            type="ds:AdditionalInformationStatementCodeType"
                                                            minOccurs="1"/>
                                                <xs:element name="StatementDescription"
                                                            type="ds:AdditionalInformationStatementDescriptionTextType"
                                                            minOccurs="0"/>
                                                <xs:element name="StatementTypeCode"
                                                            type="ds:AdditionalInformationStatementTypeCodeType"
                                                            minOccurs="1"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Commodity">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Description" type="ds:CommodityDescriptionTextType"
                                                            minOccurs="1">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <type>EUCDM 5.2</type>
                                                            <code>6/8</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="Classification" minOccurs="1">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="SequenceNumeric"
                                                                        type="ds:CommodityClassificationSequenceNumericType"
                                                                        minOccurs="1"/>
                                                            <xs:element name="ID"
                                                                        type="ds:ClassificationIdentificationIDType"
                                                                        minOccurs="1">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <type>EUCDM 5.2</type>
                                                                        <code>6/14</code>
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="IdentificationTypeCode"
                                                                        type="ds:ClassificationIdentificationTypeCodeType"
                                                                        minOccurs="1"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="GoodsMeasure" minOccurs="1" maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="GrossMassMeasure"
                                                                        type="ds:GoodsMeasureGrossMassMeasureType"
                                                                        minOccurs="1">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <type>EUCDM 5.2</type>
                                                                        <code>6/5</code>
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="TariffQuantity"
                                                                        type="ds:GoodsMeasureTariffQuantityType"
                                                                        minOccurs="0">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <type>EUCDM 5.2</type>
                                                                        <code>6/2</code>
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Consignor" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 5.2</type>
                                                <code>3/1</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Name" type="ds:ConsignorNameTextType" minOccurs="1"/>
                                                <xs:element name="Address" minOccurs="1" maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="CityName"
                                                                        type="ds:AddressCityNameTextType"
                                                                        minOccurs="1"/>
                                                            <xs:element name="CountryCode"
                                                                        type="ds:AddressCountryCodeType" minOccurs="1"/>
                                                            <xs:element name="Line" type="ds:AddressLineTextType"
                                                                        minOccurs="1"/>
                                                            <xs:element name="PostcodeID"
                                                                        type="ds:AddressPostcodeIDType" minOccurs="1"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="CustomsValuation" minOccurs="0" maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="FreightChargeAmount"
                                                            type="ds:CustomsValuationFreightChargeAmountType"
                                                            minOccurs="1">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <type>EUCDM 5.2</type>
                                                            <code>4/19</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="DomesticDutyTaxParty" minOccurs="0" maxOccurs="unbounded">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 5.2</type>
                                                <code>3/40</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="SequenceNumeric"
                                                            type="ds:DomesticDutyTaxPartySequenceNumericType"
                                                            minOccurs="1"/>
                                                <xs:element name="ID" type="ds:DomesticDutyTaxPartyIdentificationIDType"
                                                            minOccurs="0"/>
                                                <xs:element name="RoleCode" type="ds:DomesticDutyTaxPartyRoleCodeType"
                                                            minOccurs="0"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="GovernmentProcedure" minOccurs="2" maxOccurs="3">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 5.2</type>
                                                <code>1/10 and 1/11</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="SequenceNumeric"
                                                            type="ds:GovernmentProcedureSequenceNumericType"
                                                            minOccurs="1"/>
                                                <xs:element name="CurrentCode"
                                                            type="ds:GovernmentProcedureCurrentCodeType" minOccurs="1"/>
                                                <xs:element name="PreviousCode"
                                                            type="ds:GovernmentProcedurePreviousCodeType"
                                                            minOccurs="0"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Packaging" minOccurs="1" maxOccurs="unbounded">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 5.2</type>
                                                <code>6/10</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="SequenceNumeric"
                                                            type="ds:PackagingSequenceNumericType" minOccurs="1"/>
                                                <xs:element name="QuantityQuantity"
                                                            type="ds:PackagingQuantityQuantityType" minOccurs="0"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="PreviousDocument" minOccurs="1" maxOccurs="unbounded">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 5.2</type>
                                                <code>2/1</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="SequenceNumeric"
                                                            type="ds:PreviousDocumentSequenceNumericType"
                                                            minOccurs="1"/>
                                                <xs:element name="CategoryCode"
                                                            type="ds:PreviousDocumentCategoryCodeType" minOccurs="1"/>
                                                <xs:element name="ID" type="ds:PreviousDocumentIdentificationIDType"
                                                            minOccurs="1"/>
                                                <xs:element name="TypeCode" type="ds:PreviousDocumentTypeCodeType"
                                                            minOccurs="1"/>
                                                <xs:element name="LineNumeric" type="ds:PreviousDocumentLineNumericType"
                                                            minOccurs="1"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="UCR" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 5.2</type>
                                                <code>2/4</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="TraderAssignedReferenceID"
                                                            type="ds:UCRTraderAssignedReferenceIDType" minOccurs="1"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Importer">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Name" type="ds:ImporterNameTextType" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 5.2</type>
                                                <code>3/15</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="ID" type="ds:ImporterIdentificationIDType" minOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 5.2</type>
                                                <code>3/16</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Address" minOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="CityName" type="ds:AddressCityNameTextType"
                                                            minOccurs="0"/>
                                                <xs:element name="CountryCode" type="ds:AddressCountryCodeType"
                                                            minOccurs="1"/>
                                                <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                                                <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType"
                                                            minOccurs="0"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="PreviousDocument" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>2/1</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="SequenceNumeric" type="ds:PreviousDocumentSequenceNumericType"
                                                minOccurs="1"/>
                                    <xs:element name="CategoryCode" type="ds:PreviousDocumentCategoryCodeType"
                                                minOccurs="1"/>
                                    <xs:element name="ID" type="ds:PreviousDocumentIdentificationIDType" minOccurs="1"/>
                                    <xs:element name="TypeCode" type="ds:PreviousDocumentTypeCodeType" minOccurs="1"/>
                                    <xs:element name="LineNumeric" type="ds:PreviousDocumentLineNumericType"
                                                minOccurs="1"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="UCR" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>2/4</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="TraderAssignedReferenceID"
                                                type="ds:UCRTraderAssignedReferenceIDType" minOccurs="1"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
