H7 XSDs/toldsystemet_H7_v.1.2.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
           xmlns="urn:wco:datamodel:WCO:DEC-DMS:2" targetNamespace="urn:wco:datamodel:WCO:DEC-DMS:2"
           elementFormDefault="qualified" version="1.1.7">
    <xs:import namespace="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
               schemaLocation="toldsystemet_DS/toldsystemet_DS_v1.2.xsd"/>

    <xs:element name="Declaration" type="Declaration"/>

    <xs:complexType name="Declaration">
        <xs:annotation>
            <xs:documentation>
                <details>
                    H7 declaration.
                </details>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>

            <xs:element name="FunctionCode" type="ds:DeclarationFunctionCodeType"/>
            <xs:element name="ProcedureCategory" type="ds:DeclarationProcedureCategoryCodeType"/>
            <xs:element name="FunctionalReferenceID" type="ds:DeclarationFunctionalReferenceIDType">
                <xs:annotation>
                    <xs:documentation>
                        <type>EUCDM 5.2</type>
                        <code>2/5</code>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TypeCode" type="ds:DeclarationTypeCodeType"/>
            <xs:element name="GoodsItemQuantity" type="ds:DeclarationGoodsItemQuantityType"/>
            <xs:element name="DeclarationOfficeID" type="ds:DeclarationDeclarationOfficeIDType">
                <xs:annotation>
                    <xs:documentation>
                        <type>EUCDM 5.2</type>
                        <code>5/26</code>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TotalGrossMassMeasure" type="ds:DeclarationTotalGrossMassMeasureType">
                <xs:annotation>
                    <xs:documentation>
                        <type>EUCDM 5.2</type>
                        <code>6/5</code>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Submitter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Name" type="ds:SubmitterNameTextType"/>
                        <xs:element name="ID" type="ds:SubmitterIdentificationIDType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Agent" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ID" type="ds:AgentIdentificationIDType">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>3/20</code>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="FunctionCode" type="ds:AgentFunctionCodeType">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>3/21</code>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Contact" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="name" type="ds:AgentContactNameType"
                                                minOccurs="0">
                                    </xs:element>
                                    <xs:element name="Communication" minOccurs="0"
                                                maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="SequenceNumeric" type="ds:AgentCommunicationSequenceNumericType">
                                                </xs:element>
                                                <xs:element name="ID"
                                                            type="ds:CommunicationIdentificationIDType" minOccurs="0">
                                                </xs:element>
                                                <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType"
                                                            minOccurs="0">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="Declarant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Name" type="ds:DeclarantNameTextType" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>3/17</code>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="ID" type="ds:DeclarantIdentificationIDType">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>3/18</code>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Address" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="CityName" type="ds:AddressCityNameTextType"/>
                                    <xs:element name="CountryCode" type="ds:AddressCountryCodeType"/>
                                    <xs:element name="Line" type="ds:AddressLineTextType"/>
                                    <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Contact" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="SequenceNumeric" type="ds:DeclarantContactSequenceNumericType" minOccurs="1">
                                    </xs:element>
                                    <xs:element name="Name" type="ds:ContactNameTextType"
                                                minOccurs="0">
                                    </xs:element>
                                    <xs:element name="Communication" minOccurs="0"
                                                maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="SequenceNumeric" type="ds:DeclarantCommunicationSequenceNumericType" minOccurs="1">
                                                </xs:element>
                                                <xs:element name="ID"
                                                            type="ds:CommunicationIdentificationIDType" minOccurs="0">
                                                </xs:element>
                                                <xs:element name="TypeCode" type="ds:CommunicationTypeCodeType"
                                                            minOccurs="0">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GoodsShipment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>2/2</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="SequenceNumeric" type="ds:AdditionalInformationSequenceNumericType"/>
                                    <xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType"/>
                                    <xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0"/>
                                    </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="AdditionalReference" minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="EN">
                                    <WCOID>22A</WCOID>
                                    <WCOName>SupportingDocument</WCOName>
                                    <WCODescription>Details related to supporting documents supplied
                                        as part of a declaration or sought as part of a response
                                    </WCODescription>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="SequenceNumeric" type="ds:AdditionalReferenceSequenceNumericType" minOccurs="1">
                                    </xs:element>
                                    <xs:element name="ID"
                                                type="ds:AdditionalReferenceIdentificationIDType" minOccurs="0">
                                    </xs:element>
                                    <xs:element name="TypeCode" type="ds:AdditionalReferenceTypeCodeType"
                                                minOccurs="0">
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="Consignment" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="GoodsLocation" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 5.2</type>
                                                <code>5/23</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Name" type="ds:GoodsLocationNameTextType" minOccurs="0"/>
                                                <xs:element name="ID" type="ds:GoodsLocationIdentificationIDType" minOccurs="0"/>
                                                <xs:element name="TypeCode" type="ds:GoodsLocationTypeCodeType"/>
                                                <xs:element name="Address">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="TypeCode" type="ds:AddressTypeCodeType"/>
                                                            <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                                                            <xs:element name="CountryCode" type="ds:AddressCountryCodeType"/>
                                                            <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                                                            <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                                                            <xs:element name="streetNumber" type="ds:AddressStreetNumberType" minOccurs="0">
                                                            </xs:element>

                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="authorisationReferenceNumber" type="ds:GoodsLocationAuthorisationReferenceNumber" minOccurs="0">
                                                </xs:element>
                                                <xs:element name="CustomsOffice" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="identification" type="ds:GoodsLocationCustomsOfficeIdentification" minOccurs="0">
                                                            </xs:element>
                                                            <xs:element name="type" type="ds:GoodsLocationCustomsOfficeType" minOccurs="0">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="latitude" type="ds:GoodsLocationLatitude" minOccurs="0">
                                                </xs:element>
                                                <xs:element name="longitude" type="ds:GoodsLocationLongitude" minOccurs="0">
                                                </xs:element>
                                                <xs:element name="EconomicOperator" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="identification" type="ds:GoodsLocationEconomicOperatorIdentification" minOccurs="0">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="TransportContractDocument" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="SequenceNumeric"
                                                            type="ds:TransportContractDocumentSequenceNumericType" minOccurs="1">
                                                </xs:element>
                                                <xs:element name="ID"
                                                            type="ds:TransportContractDocumentIdentificationIDType" minOccurs="0">
                                                </xs:element>
                                                <xs:element name="Type"
                                                            type="ds:TransportContractDocumentType" minOccurs="0">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Freight" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="rate"
                                                            type="ds:CustomsValuationFreightChargeAmountType" minOccurs="0">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="DomesticDutyTaxParty" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>3/40</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="SequenceNumeric" type="ds:DomesticDutyTaxPartySequenceNumericType"/>
                                    <xs:element name="ID" type="ds:DomesticDutyTaxPartyIdentificationIDType" minOccurs="0"/>
                                    <xs:element name="RoleCode" type="ds:DomesticDutyTaxPartyRoleCodeType" minOccurs="0"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Consignor" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Name" type="ds:ExporterNameTextType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 5.2</type>
                                                <code>3/1</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Address" minOccurs="1" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 5.2</type>
                                                <code>3/1</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="CityName" type="ds:AddressCityNameTextType"/>
                                                <xs:element name="CountryCode" type="ds:AddressCountryCodeType"/>
                                                <xs:element name="Line" type="ds:AddressLineTextType"/>
                                                <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="GoodsMeasure" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="GrossMassMeasure" type="ds:GoodsMeasureGrossMassMeasureType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 5.2</type>
                                                <code>6/5</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="GovernmentAgencyGoodsItem" minOccurs="1" maxOccurs="999">
                            <xs:annotation>
                                <xs:documentation>
                                    <details>
                                        H7 Item.
                                    </details>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="SequenceNumeric" type="ds:GovernmentAgencyGoodsItemSequenceNumericType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 5.2</type>
                                                <code>1/6</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 5.2</type>
                                                <code>2/2</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="SequenceNumeric" type="ds:AdditionalInformationSequenceNumericType"/>
                                                <xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType"/>
                                                <xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="AdditionalReference" minOccurs="0"
                                                maxOccurs="unbounded">
                                        <xs:annotation>
                                            <xs:documentation xml:lang="EN">
                                                <WCOID>22A</WCOID>
                                                <WCOName>SupportingDocument</WCOName>
                                                <WCODescription>Details related to supporting documents supplied
                                                    as part of a declaration or sought as part of a response
                                                </WCODescription>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="SequenceNumeric" type="ds:AdditionalReferenceSequenceNumericType" minOccurs="1">
                                                </xs:element>
                                                <xs:element name="ID"
                                                            type="ds:AdditionalReferenceIdentificationIDType" minOccurs="0">
                                                </xs:element>
                                                <xs:element name="TypeCode" type="ds:AdditionalReferenceTypeCodeType"
                                                            minOccurs="0">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Commodity">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Description" type="ds:CommodityDescriptionTextType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <type>EUCDM 5.2</type>
                                                            <code>6/8</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="Classification">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="SequenceNumeric" type="ds:CommodityClassificationSequenceNumericType"/>
                                                            <xs:element name="ID" type="ds:ClassificationIdentificationIDType">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <type>EUCDM 5.2</type>
                                                                        <code>6/14</code>
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="IdentificationTypeCode" type="ds:ClassificationIdentificationTypeCodeType"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="GoodsMeasure" minOccurs="1" maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="GrossMassMeasure" type="ds:GoodsMeasureGrossMassMeasureType">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <type>EUCDM 5.2</type>
                                                                        <code>6/5</code>
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="TariffQuantity" type="ds:GoodsMeasureTariffQuantityType" minOccurs="0">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <type>EUCDM 5.2</type>
                                                                        <code>6/2</code>
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="InvoiceLine" minOccurs="0"
                                                            maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="ItemChargeAmount"
                                                                        type="ds:InvoiceLineItemChargeAmountType" minOccurs="0">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Freight" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="rate"
                                                            type="ds:CustomsValuationFreightChargeAmountType" minOccurs="0">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="GovernmentProcedure" minOccurs="2" maxOccurs="3">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 5.2</type>
                                                <code>1/10 and 1/11</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="SequenceNumeric" type="ds:GovernmentProcedureSequenceNumericType"/>
                                                <xs:element name="CurrentCode" type="ds:GovernmentProcedureCurrentCodeType"/>
                                                <xs:element name="PreviousCode" type="ds:GovernmentProcedurePreviousCodeType" minOccurs="0"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Packaging" maxOccurs="unbounded">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 5.2</type>
                                                <code>6/10</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="SequenceNumeric" type="ds:PackagingSequenceNumericType"/>
                                                <xs:element name="QuantityQuantity" type="ds:PackagingQuantityQuantityType" minOccurs="0"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="PreviousDocument" minOccurs="1" maxOccurs="unbounded">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 5.2</type>
                                                <code>2/1</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="SequenceNumeric" type="ds:PreviousDocumentSequenceNumericType"/>
                                                <xs:element name="ID" type="ds:PreviousDocumentIdentificationIDType"/>
                                                <xs:element name="TypeCode" type="ds:PreviousDocumentTypeCodeType"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="SupportingDocument" minOccurs="0"
                                                maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="SequenceNumeric" type="ds:SupportingDocumentSequenceNumericType" minOccurs="1">
                                                </xs:element>
                                                <xs:element name="ID"
                                                            type="ds:SupportingDocumentIdentificationIDType" minOccurs="0">
                                                </xs:element>
                                                <xs:element name="TypeCode" type="ds:SupportingDocumentTypeCodeType"
                                                            minOccurs="0">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="UCR" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 5.2</type>
                                                <code>2/4</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="TraderAssignedReferenceID" type="ds:UCRTraderAssignedReferenceIDType"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="TransportContractDocument" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="SequenceNumeric"
                                                            type="ds:TransportContractDocumentSequenceNumericType" minOccurs="1">
                                                </xs:element>
                                                <xs:element name="ID"
                                                            type="ds:TransportContractDocumentIdentificationIDType" minOccurs="0">
                                                </xs:element>
                                                <xs:element name="Type"
                                                            type="ds:TransportContractDocumentType" minOccurs="0">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Consignor" minOccurs="0"
                                                maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Name" type="ds:ConsignorNameTextType"
                                                            minOccurs="0">
                                                </xs:element>
                                                <xs:element name="Address" minOccurs="0"
                                                            maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="CityName" type="ds:AddressCityNameTextType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                            <xs:element name="CountryCode" type="ds:AddressCountryCodeType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                            <xs:element name="Line" type="ds:AddressLineTextType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                            <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType"
                                                                        minOccurs="0">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="PreviousDocument" minOccurs="1" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>2/1</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="SequenceNumeric" type="ds:PreviousDocumentSequenceNumericType"/>
                                    <xs:element name="ID" type="ds:PreviousDocumentIdentificationIDType"/>
                                    <xs:element name="TypeCode" type="ds:PreviousDocumentTypeCodeType"/>
                                    </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="SupportingDocument" minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="SequenceNumeric" type="ds:SupportingDocumentSequenceNumericType" minOccurs="1">
                                    </xs:element>
                                    <xs:element name="ID"
                                                type="ds:SupportingDocumentIdentificationIDType" minOccurs="0">
                                    </xs:element>
                                    <xs:element name="TypeCode" type="ds:SupportingDocumentTypeCodeType"
                                                minOccurs="0">
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="UCR" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2</type>
                                    <code>2/4</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="TraderAssignedReferenceID" type="ds:UCRTraderAssignedReferenceIDType"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Importer">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Name" type="ds:ImporterNameTextType" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 5.2</type>
                                                <code>3/15</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="ID" type="ds:ImporterIdentificationIDType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 5.2</type>
                                                <code>3/16</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Address">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
                                                <xs:element name="CountryCode" type="ds:AddressCountryCodeType"/>
                                                <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
                                                <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                       </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>