H7 XSDs/toldsystemet_H7_invalidation_and_repayment_v1.2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
           xmlns:eds="urn:wco:datamodel:WCO:WCO_DEC_EDS_AUTHORISATION:1"
           xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:6"
           xmlns="urn:wco:datamodel:WCO:DEC-DMS:2"
           targetNamespace="urn:wco:datamodel:WCO:DEC-DMS:2" elementFormDefault="qualified" version="1.1.7">
    <xs:import namespace="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
               schemaLocation="toldsystemet_DS/toldsystemet_DS_v1.2.xsd"/>
    <xs:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:6"
               schemaLocation="UNECE/UnqualifiedDataType_6_DMS.xsd"/>
    <xs:import namespace="urn:wco:datamodel:WCO:WCO_DEC_EDS_AUTHORISATION:1"
               schemaLocation="toldsystemet_DS/WCO_DEC_EDS_AUTHORISATION.xsd"/>
    <xs:element name="Declaration" type="Declaration"/>
    <xs:complexType name="Declaration">
        <xs:annotation>
            <xs:documentation>
                <details>
                    H7 Invalidation and repayment
                </details>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FunctionCode" type="ds:DeclarationFunctionCodeType">
                <xs:annotation>
                    <xs:documentation>
                        <type>DMS specific field</type>
                        <details>
                            Fill in "1" for invalidation and repayment.
                        </details>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ProcedureCategory" type="ds:DeclarationProcedureCategoryCodeType">
                <xs:annotation>
                    <xs:documentation>
                        <type>DMS Specific field</type>
                        <details>
                            The type of declaration you want to request invalidation and repayment for.
                            Fill in "H7" for invalidation and repayment of an H7 declaration.
                        </details>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="FunctionalReferenceID" type="ds:AdditionalMessageFunctionalReferenceIDType">
                <xs:annotation>
                    <xs:documentation>
                        <type>EUCDM 5.2</type>
                        <code>2/5</code>
                        <details>
                            LRN.
                            Fill in the LRN of the declaration you want to request invalidation and repayment for.
                        </details>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="ID" type="ds:DeclarationIdentificationIDType">
                <xs:annotation>
                    <xs:documentation>
                        <type>DMS specific field</type>
                        <details>
                            MRN.
                            Fill in MRN of the declaration you want to request invalidation and repayment for.
                        </details>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="TypeCode" type="ds:DeclarationTypeCodeType">
                <xs:annotation>
                    <xs:documentation>
                        <type>DMS specific field</type>
                        <details>
                            "INV" for invalidation and repayment.
                        </details>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Submitter">
                <xs:annotation>
                    <xs:documentation>
                        <type>DMS specific field</type>
                        <details>
                            Name and identifier of submitting company.
                        </details>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Name" type="ds:SubmitterNameTextType">
                            <xs:annotation>
                                <xs:documentation>
                                    <details>
                                        The CVR/SE-number/EORI given by the client certificate used for the submission
                                        of declarations.
                                    </details>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="ID" type="ds:SubmitterIdentificationIDType">
                            <xs:annotation>
                                <xs:documentation>
                                    <details>
                                        The ID given by the client certificate used for the submission of declarations.
                                    </details>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="Amendment" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SequenceNumeric" type="ds:AmendmentSequenceNumericType"/>
                        <xs:element name="ChangeReasonCode" type="ds:AmendmentChangeReasonCodeType">
                            <xs:annotation>
                                <xs:documentation>
                                    Code for reason for invalidation.

                                    - '22': Goods have been returned to supplier (Art. 148, 3 DA)
                                    - '23': Union goods declared by mistake (Art. 148, 4b DA)
                                    - '24': Registration of same goods on several declarations (Art. 148, C DA)
                                    - '25': Postal low value consignments returned on basis of barcode S10 (Art. 148 (3)
                                    and Art. 140 (1)(d) and Art. 141 (4) DA)
                                    - '26': Accepted declarations with goods to be placed under another customs
                                    procedure (Art. 174, 1a UCC)
                                    - '27': The customs procedure is no longer justified due to special circumstances
                                    (Art. 174, 1b UCC)
                                    - '28': For Customs officers only!: Disposal of goods (Art. 198 UCC)
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="ChangeReasonText" type="ds:AmendmentChangeReasonTextType">
                            <xs:annotation>
                                <xs:documentation>
                                    Description of reason for invalidation.
                                    Max. 512 characters.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="RepaymentRemissionAuthorisation" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Dataset 4C
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>

                        <xs:element name="ApplicationCodeType" type="eds:AuthorisationCodeType" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2 - Annex A</type>
                                    <code>1/1</code>
                                    <details>
                                        Code for type of application.
                                        Fill in "REP" for a repayment application.
                                    </details>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="AttachedDocument" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2 - Annex A</type>
                                    <code>2/4</code>
                                    <details>
                                        If on subfield is filled, they all have to be filled.
                                    </details>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Type" type="eds:AttachedDocumentTypeType"/>
                                    <xs:element name="AttachedDocumentID" type="eds:AttachedDocumentIdentifierType"
                                               />
                                    <xs:element name="AttachedDocumentDate" type="udt:DateTimeType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Date format is 'yyyymmdd'.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="ApplicationHolder" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2 - Annex A</type>
                                    <code>3/1</code>
                                    <details>
                                        If D.E 3/2 - ApplicationHolderId is 'DK09999981' all subfields must be filled.
                                    </details>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Name" type="eds:RepresentativeNameTextType"/>
                                    <xs:element name="StreetAndNumber" type="eds:StreetAndNumberType"/>
                                    <xs:element name="CountryCode" type="ds:AddressCountryCodeType"/>
                                    <xs:element name="PostCode" type="ds:AddressPostcodeIDType"/>
                                    <xs:element name="City" type="ds:AddressCityNameTextType"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="ApplicationHolderId" type="eds:AuthorisationIDType"
                                    maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2 - Annex A</type>
                                    <code>3/2</code>
                                    <details>
                                        Fill in EORI - must be the same as D.E 3/18 - Declarant/ID in original H7
                                        declaration.
                                    </details>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="ApplicationSupervisor">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2 - Annex A</type>
                                    <code>3/6</code>
                                    <details>
                                        Contact details of person responsible for the application.
                                        Fill in name and either email address OR telephone number
                                    </details>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Name" type="eds:PersonContactDetailsNameTextType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Fill in the name of the application supervisor together with at least
                                                either email address OR telephone number.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TelephoneNumber" type="eds:TelephoneNumberTextType"
                                                minOccurs="0"/>
                                    <xs:element name="FaxNumber" type="eds:TelephoneNumberTextType" minOccurs="0"/>
                                    <xs:element name="EmailAddress" type="eds:EmailTextType" minOccurs="0"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="Representative" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2 - Annex A</type>
                                    <code>3/3</code>
                                    <details>
                                        Contact details of the representative.
                                    </details>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Name" type="eds:RepresentativeNameTextType"/>
                                    <xs:element name="StreetAndNumber" type="eds:StreetAndNumberType"/>
                                    <xs:element name="CountryCode" type="ds:AddressCountryCodeType"/>
                                    <xs:element name="PostCode" type="ds:AddressPostcodeIDType"/>
                                    <xs:element name="City" type="ds:AddressCityNameTextType"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="RepresentativeId" type="eds:AuthorisationIDType" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2 - Annex A</type>
                                    <code>3/4</code>
                                    <details>
                                        EORI number of the representative.
                                    </details>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="AdditionalInformation" type="eds:AdditionalInformationTextType" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2 - Annex A</type>
                                    <code>8/5</code>
                                    <details>
                                        Fill in any relevant additional information.
                                        Free text up to 512 characters.
                                    </details>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="AmountDuty">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2 - Annex A</type>
                                    <code>VIII/7</code>
                                    <details>
                                        Amount of import or export duty to be repaid or remitted of.
                                    </details>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Currency" type="eds:CurrencyType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Fill in "DKK".
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Amount" type="eds:AmountTypeType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Fill in the VAT amount in DKK.
                                                Must be the same as the VAT amount in the original H7 declaration.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="DutyType">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2 - Annex A</type>
                                    <code>VIII/8</code>
                                    <details>
                                        Type of import or export duty.
                                    </details>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="UnionCode" type="eds:UnionCodeType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Fill in "B00" for VAT.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="NationalCode" type="eds:NationalCodeType" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                Should not be filled.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="LegalBasis" type="eds:LegalBasisTextType">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 5.2 - Annex A</type>
                                    <code>VIII/9</code>
                                    <details>
                                        Legal basis.
                                        This should always be code "E" for repayment.
                                    </details>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
