Notification/trader-portal-common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:6"
		version="1.0">

	<xs:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:6"
			schemaLocation="../UNECE/UnqualifiedDataType_6_DMS.xsd"/>

	<xs:complexType name="CustomsPosition">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				The formal decision taken by Customs in respect to a declaration and the involved goods
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="ID" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Customs Position id
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Type" type="CustomsPositionType">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Customs Position type
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Declaration">
		<xs:sequence>
			<xs:element minOccurs="0" name="MRN" type="declarationMRN">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The id of the declaration information being received from cwm
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="LRN" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The functionalReferenceId
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="VersionID" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The version number of the declaration
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SubmitterReferenceNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Submitter reference number of the declaration
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="AcceptanceDateTime" type="notificationDate">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The date that the declaration was accepted
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="CancellationDateTime" type="notificationDate">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The date that the declaration was cancelled
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="RejectionDateTime" type="notificationDate">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The date that the declaration was rejected
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="DutyTaxFee" type="DutyTaxFee"/>
			<xs:element minOccurs="0" name="GoodsShipment" type="GoodsShipment"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="amendment" type="Amendment"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="GoodsShipment">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				GoodsShipment captures the data of the shipment of the goods belonging to one particular
				consignment crossing the border of the Customs area
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="GovernmentAgencyGoodsItem"
					type="GovernmentAgencyGoodsItem"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="GovernmentAgencyGoodsItem">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				GovernmentAgencyGoodsItem stores the data about the goods item as declared to Customs
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="SequenceNumeric" type="SequenceNumericType">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The sequence number of the GovernmentAgencyGoodsItem
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Commodity" type="Commodity"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="SequenceNumericType">
		<xs:restriction base="udt:NumericType">
			<xs:totalDigits value="5"/>
			<xs:fractionDigits value="0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="Error">
		<xs:sequence>
			<xs:element minOccurs="0" name="ValidationCode" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The validation error code
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ValidationText" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The validation error text message
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Pointer" type="Pointer"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Pointer">
		<xs:sequence>
			<xs:element minOccurs="0" name="DocumentSectionCode" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The XPATH to the element that does not satisfy the validation rules
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="notificationResponse">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				The main object of the notification REST API
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="LRN" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The functionalReferenceId
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="MRN" type="declarationMRN">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The id of the declaration information being received from cwm
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="Notification"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="Notification">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				The notification information being received from cwm
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="1" name="NotificationEventType" type="EventType">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The type of the notification
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="1" maxOccurs="1" name="NotificationSID" type="GUID">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The unique UUID of the specified notification
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="1" name="Declaration" type="Declaration">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The declaration that this notification belongs to
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="Error" type="Error">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The validation errors of the declaration
						</xs:documentation>
					</xs:annotation>
				</xs:element>

				<xs:element minOccurs="0" name="AdditionalInformation" type="AdditionalInformation"/>

				<xs:element minOccurs="0" name="CustomsPosition" type="CustomsPosition"/>

				<xs:element minOccurs="0" name="NotificationCreatedDate" type="notificationDate">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The creation date of the notification
						</xs:documentation>
					</xs:annotation>
				</xs:element>

				<xs:element minOccurs="0" name="IssueDateTime" type="notificationDate">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The creation date of the notification
						</xs:documentation>
					</xs:annotation>
				</xs:element>

				<xs:element minOccurs="0" name="DueDate" type="notificationDate">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							In case of additional documents, it is the due date that the documents have to be
							presented
						</xs:documentation>
					</xs:annotation>
				</xs:element>

				<xs:element maxOccurs="unbounded" minOccurs="0" name="AdditionalDocument"
						type="AdditionalDocument">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The information of the additional documents of the notification
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="AdditionalDocument">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				The additional Document of the declaration that have to be presented for the document
				control
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="Type" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Type of the referenced document
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Identifier" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The identification number of the referenced document.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AdditionalInformation">
		<xs:sequence>
			<xs:element minOccurs="0" name="StatementCode" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Additional information in encoded form
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="StatementTypeCode" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The type of additional information
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Amendment">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Amendment pertains information about an object that has been changed, compared to the
				previous version of the declaration
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="createdBy" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The system name created the amendment
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="sequenceNumber" type="xs:integer">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Number uniquely identifying the amendment object at declaration level
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="value" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The updated value of the amendment
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="amendmentActionType" type="AmendmentActionType">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The action type of the amendment
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="amendmentReasonType" type="AmendmentReasonType">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The reason for amendment or the type of incompleteness
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="pointer" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Pointer indicating the amended element
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="timestamp" type="notificationDate"/>
			<xs:element minOccurs="0" name="declarationVersion" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The version of the declaration
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Commodity">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Details about the properties of the goods
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="DutyTaxFee" type="DutyTaxFee"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DutyTaxFee">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				DutyTaxFee captures a Duty/Tax/Fee data of a particular duty/tax/fee type
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="Payment" type="paymentDTO"/>
			<xs:element minOccurs="0" name="AdValoremTaxBaseAmount" type="udt:AmountType">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The actual base (monetary amount or discrete quantity) on which the Duty/Tax/Fee is
						founded
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SpecificTaxBaseQuantity" type="udt:MeasureType">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The actual base (monetary amount or discrete quantity) on which the Duty/Tax/Fee is
						founded
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="DeductAmount" type="udt:AmountType">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The amount of relief applicable to the duty/tax/fee amount
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="DutyRegimeCode" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The preference for a reduced or zero tariff for the goods item
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="TaxRateNumeric" type="xs:decimal">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Rate of duty/tax/fee expressed as a value and unit type
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="TypeCode" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The type of duty/tax/fee as provided by the duty calculator
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="TaxAssessedAmount" type="udt:AmountType">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The amount of the duty tax fee
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="paymentDTO">
		<xs:sequence>
			<xs:element minOccurs="0" name="ReferenceID" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The payment reference
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="PaymentAmount" type="udt:AmountType">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The duty/tax/fee amount which is assumed to be effectively paid by the declarant, being
						equal to the givenAmount minus adjustmentAmount, reliefAmount, suspensionAmount and
						transferAmount
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="TaxAssessedAmount" type="udt:AmountType">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Tax assessed amount
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="declarationMRN">
		<xs:simpleContent>
			<xs:restriction base="udt:IDType">
				<xs:maxLength value="70"/>
				<xs:pattern value=".*[^\s].*"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="notificationDate">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				The date that the declaration was accepted
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="DateTimeString">
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="udt:DateTimeType">
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:simpleType name="GUID">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				The representation of a GUID.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="EventType" final="restriction" >
		<xs:restriction base="xs:string">
			<xs:enumeration value="CWMACC" />
			<xs:enumeration value="CWMROG" />
			<xs:enumeration value="CWMREJ" />
			<xs:enumeration value="CWMCTL" />
			<xs:enumeration value="CWMCLE" />
			<xs:enumeration value="CWMRES" />
			<xs:enumeration value="CWMRIS" />
			<xs:enumeration value="CWMDOC" />
			<xs:enumeration value="CWMING" />
			<xs:enumeration value="CWMCPI" />
			<xs:enumeration value="CWMTAX" />
			<xs:enumeration value="CWMCPR" />
			<xs:enumeration value="CWMRCV" />
			<xs:enumeration value="CWMREQ" />
			<xs:enumeration value="CWMINV" />
			<xs:enumeration value="CWMEXT" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CustomsPositionType" final="restriction" >
		<xs:restriction base="xs:string">
			<xs:enumeration value="GRANTED" />
			<xs:enumeration value="DENIED" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AmendmentActionType" final="restriction" >
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADD" />
			<xs:enumeration value="DELETE" />
			<xs:enumeration value="UPDATE" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AmendmentReasonType" final="restriction" >
		<xs:restriction base="xs:string">
			<xs:enumeration value="COMPLETED" />
			<xs:enumeration value="CONFIRMED" />
			<xs:enumeration value="CORRECTED_BY_DECLARANT" />
			<xs:enumeration value="MISTAKEN_CUSTOMS_PROCEDURE" />
			<xs:enumeration value="SPECIAL_CIRCUMSTANCES" />
			<xs:enumeration value="CORRECTED_BY_CUSTOMS" />
			<xs:enumeration value="QUOTA_CORRECTED" />
			<xs:enumeration value="AUTO_COMPLETED" />
			<xs:enumeration value="FINAL_DUTY_UPDATE" />
			<xs:enumeration value="COMPLETED_MEASURE_DATA" />
			<xs:enumeration value="QUOTA_DISAGREED" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
