Import XSDs/APPLICATION_XSDS/4C_REPAYMENT_REMISSION.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:wco:datamodel:WCO:WCO_DEC_EDS_AUTHORISATION:1"
           xmlns:ds="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:6"
           targetNamespace="urn:wco:datamodel:WCO:WCO_DEC_EDS_AUTHORISATION:1"
           elementFormDefault="qualified"
           version="1.0">
    <xs:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:6"
               schemaLocation="../DMS_DS/UNECE/UNQUALIFIEDDATATYPE_6_DMS.xsd"/>
    <xs:import namespace="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
               schemaLocation="../DMS_DS/DMS_DS.xsd"/>

    <xs:complexType name="RepaymentRemissionAuthorisation">
        <xs:sequence>
            <xs:element name="ApplicationCodeType" type="AuthorisationCodeType">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..4</WCOFormat>
                        <WCODescription>31 01 000 002 - Authorisation code type for application</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ApplicationSignature" type="SignatureType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..256</WCOFormat>
                        <WCODescription>31 02 000 202 - Authorisation signature for application</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DecisionReferenceNumber" type="DecisionReferenceNumberType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCODescription>31 06 000 000 - Unique reference attributed by the competent customs authority to the decision.</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DecisionCustomsAuthority" type="DecisionCustomsAuthorityType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCODescription>31 07 000 301 - Name and address of the customs authority which takes the decision</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AttachedDocument" type="AttachedDocumentType" minOccurs="0" maxOccurs="999">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCODescription>32 04 010 000 - Document(s) attached to the application or the decision</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AttachedDocuments" type="AttachedDocumentsType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCODescription>32 04 000 000 - Document(s) attached to the application or the decision</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ApplicationHolder" type="RepresentativeType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCODescription>33 01 000 000 - Applicant of the authorisation</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ApplicationHolderId" type="AuthorisationIDType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..17</WCOFormat>
                    </xs:documentation>
                    <xs:documentation>
                        <WCODescription>33 02 000 000 - Application holder ID</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ApplicationSupervisor" type="PersonContactDetailsType"  minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCODescription>33 06 000 000 - Contact details of person responsible for the application</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ApplicationDate" type="udt:DateTimeType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>n8(yyyymmdd)</WCOFormat>
                    </xs:documentation>
                    <xs:documentation>
                        <WCODescription>34 02 000 000 - Date on which the applicant has signed or otherwise authenticated the application</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ApplicationPlace" type="ApplicationPlaceType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..2560</WCOFormat>
                    </xs:documentation>
                    <xs:documentation>
                        <WCODescription>34 01 000 000 - Application's place(city)</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="Representative" type="RepresentativeType" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="EN">
                            <WCODescription>33 03 000 000 - Repayment/Remission representative</WCODescription>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="RepresentativeEUCMD7" type="RRMRepresentativeType" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="EN">
                            <WCODescription>33 03 000 000 - Repayment/Remission representative</WCODescription>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="RepresentativeId" type="AuthorisationIDType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..17</WCOFormat>
                    </xs:documentation>
                    <xs:documentation>
                        <WCODescription>33 03 020 000 - Representative Identification</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GoodsLocation" type="GoodsLocationType" minOccurs="0" maxOccurs="9999">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCODescription>34 08 000 000 - Locations of goods</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TraderCommodityCode" type="CommodityCodeType" minOccurs="0" maxOccurs="999">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCODescription>Trader commodity codes</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GoodsDescription" type="GoodsDescriptionType" minOccurs="0" maxOccurs="999">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..2560</WCOFormat>
                    </xs:documentation>
                    <xs:documentation>
                        <WCODescription>Description of goods</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TraderGoodsQuantity" type="GoodsQuantityType" minOccurs="0" maxOccurs="999">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCODescription>35 01 030 000 - Trader goods quantities</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AdditionalInformation" type="AdditionalInformationTextType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..512</WCOFormat>
                        <WCODescription>38 05 000 009 - Additional information</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RecoveryTitle" type="RecoveryTitleTextType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..35</WCOFormat>
                    </xs:documentation>
                    <xs:documentation>
                        <WCODescription>48 01 000 300 - Title of recovery</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CustomsOfficeNotified" type="CustomsOfficeNotifiedType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an8</WCOFormat>
                    </xs:documentation>
                    <xs:documentation>
                        <WCODescription>48 02 000 301 - Customs office where the customs debt was notified</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CustomsOfficeLocation" type="CustomsOfficeLocationTextType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an8</WCOFormat>
                    </xs:documentation>
                    <xs:documentation>
                        <WCODescription>48 03 000 301 - Customs office responsible for the place where the goods are located</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CustomsProcedure" type="CustomsProcedureType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCODescription>48 05 000 000 - Customs procedure (request for prior completion of formalities)</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CustomsValue" type="ValueType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCODescription>48 06 000 000 - Customs value</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AmountDuty" type="ValueType">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCODescription>48 07 000 000 - Amount of import or export duty to be repaid or remitted of</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DutyType" type="DutyCodeTypeType" minOccurs="0" maxOccurs="99">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCODescription>48 08 000 000 - Type of import or export duty</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LegalBasis" type="LegalBasisTextType">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>a1</WCOFormat>
                    </xs:documentation>
                    <xs:documentation>
                        <WCODescription>48 09 000 304 - Legal basis</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TraderGroundsDescription" type="GroundsDescriptionTextType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..512</WCOFormat>
                    </xs:documentation>
                    <xs:documentation>
                        <WCODescription>48 13 000 009 - Description of the grounds for repayment or remission A</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BankDetails" type="BankDetailsTextType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..512</WCOFormat>
                    </xs:documentation>
                    <xs:documentation>
                        <WCODescription>48 14 000 009 - Bank and account details</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DescriptionOfGoods" type="DescriptionOfGoodsType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <WCODescription>35 01 020 009 - Description of goods</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!--  *************************************************************************************************-->
    <!--  *************************************************************************************************-->
    <!--  *************************************************************************************************-->

    <!-- Simple types -->

    <xs:simpleType name="AdditionalIdentifierNumericType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>n..3</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="udt:NumericType">
            <xs:totalDigits value="3"/>
            <xs:fractionDigits value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CheckboxIndicatorType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>boolean</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="udt:IndicatorType">
            <xs:pattern value="false" />
            <xs:pattern value="true" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CompletionTimeLimitNumericType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>n..3</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="udt:NumericType">
            <xs:totalDigits value="3"/>
            <xs:fractionDigits value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IndicatorType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>n1</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="udt:NumericType">
            <xs:totalDigits value="1"/>
            <xs:fractionDigits value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TotalDocumentsNumericType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>n..3</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="udt:NumericType">
            <xs:totalDigits value="3"/>
            <xs:fractionDigits value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Complex types -->

    <xs:complexType name="AdditionalIdentifierTextType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..8</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="8"/>
                <xs:pattern value="([a-zA-Z0-9])*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="AdditionalInformationTextType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..512</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="512"/>
                <xs:pattern value=".*[^\s].*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="StreetAndNumber" type="StreetAndNumberType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..70</WCOFormat>
                        <WCODescription>Location street and number</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CountryCode" type="ds:AddressCountryCodeType" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>a2</WCOFormat>
                        <WCODescription>Goods Location country code</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostCode" type="ds:AddressPostcodeIDType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..17</WCOFormat>
                        <WCODescription>Location postcode</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="City" type="ds:AddressCityNameTextType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..35</WCOFormat>
                        <WCODescription>Location city</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AmountTypeType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>n..16,6</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:AmountType">
                <xs:totalDigits value="16"/>
                <xs:fractionDigits value="6"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="ApplicationPlaceType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..2560</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="2560"/>
                <xs:pattern value=".*[^\s].*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="AttachedDocumentIdentificationNumber">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..70</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:IDType">
                <xs:maxLength value="70"/>
                <xs:pattern value="([a-zA-Z0-9])*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="AttachedDocumentIdentifierType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..35</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:IDType">
                <xs:maxLength value="35"/>
                <xs:pattern value="([a-zA-Z0-9])*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="AttachedDocumentsType">
        <xs:sequence>
            <xs:element name="TotalAttachedDocuments" type="TotalDocumentsNumericType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>n..3</WCOFormat>
                        <WCODescription>32 04 000 223 - Total number of documents attached to the application or the decision</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AttachedDocumentType">
        <xs:sequence>
            <xs:element name="Type" type="AttachedDocumentTypeType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..70</WCOFormat>
                        <WCODescription>Attached document type</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="AttachedDocumentTypeName" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..2560</WCOFormat>
                        <WCODescription>32 04 010 224 - Attached document name</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AttachedDocumentID" type="AttachedDocumentIdentifierType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..35</WCOFormat>
                        <WCODescription>Attached document identifier</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AttachedDocumentIDNumber" type="AttachedDocumentIdentificationNumber" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..70</WCOFormat>
                        <WCODescription>32 04 010 225 - Attached document identification number</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AttachedDocumentDate" type="udt:DateTimeType">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>n8</WCOFormat>
                        <WCODescription>32 04 010 226 - Attached document type</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AttachedDocumentTypeName">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..2560</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="2560"/>
                <xs:pattern value=".*[^\s].*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="AttachedDocumentTypeType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..70</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="70"/>
                <xs:pattern value=".*[^\s].*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="AuthorisationCodeType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..4</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:CodeType">
                <xs:maxLength value="4"/>
                <xs:pattern value="([a-zA-Z0-9])*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="AuthorisationGoodsLocationNameTextType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..70</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="70"/>
                <xs:pattern value=".*[^\s].*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="AuthorisationIDType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..17</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:IDType">
                <xs:maxLength value="17"/>
                <xs:pattern value="([a-zA-Z0-9])*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="AuthorisationNumberType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..35</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:IDType">
                <xs:maxLength value="35"/>
                <xs:pattern value="([a-zA-Z0-9])*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="AuthorizationNumberType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..35</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="35"/>
                <xs:pattern value=".*[^\s].*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="BankDetailsTextType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..512</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="512"/>
                <xs:pattern value=".*[^\s].*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="CommodityCodeType">
        <xs:sequence>
            <xs:element name="HarmonisedSystemSubheadingCode" type="TextSize6Type">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..6</WCOFormat>
                        <WCODescription>35 01 010 056 - Harmonised System Subheading Code</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NomenclatureCode" type="NomenclatureCodeType" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..8</WCOFormat>
                        <WCODescription>35 01 010 057 - First subdivision combined nomenclature code</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TaricSubheading" type="TaricSubheadingTextType" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an2</WCOFormat>
                        <WCODescription>35 01 010 058 - Second subdivision subheading</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TaricAdditionalCodes" type="TaricType" minOccurs="0" maxOccurs="99">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCODescription>35 01 011 000 - TARIC additional codes list</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TaricAdditionalCode" type="TaricAdditionalCodeType" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an4</WCOFormat>
                        <WCODescription>Third subdivision taric additional codes</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NationalAdditionalCode" type="NationalAdditionalCodeType" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..4</WCOFormat>
                        <WCODescription>Fourth subdivision national additional code</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ContactPersonType">
        <xs:sequence>
            <xs:element name="Name" type="PersonContactDetailsNameTextType" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..70</WCOFormat>
                        <WCODescription>Contact person name</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TelephoneNumber" type="TelephoneNumberTextType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..50</WCOFormat>
                        <WCODescription>Contact details person telephone</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EmailAddress" type="EmailTextType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..256</WCOFormat>
                        <WCODescription>Contact details person email</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CurrencyType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>a3</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:CodeType">
                <xs:length value="3"/>
                <xs:pattern value="([a-zA-Z])*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="CustomsOfficeCommentsTextType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..512</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="512"/>
                <xs:pattern value=".*[^\s].*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="CustomsOfficeLocationTextType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an8</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:length value="8"/>
                <xs:pattern value="([a-zA-Z0-9])*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="CustomsOfficeNotifiedType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an8</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:length value="8"/>
                <xs:pattern value="([a-zA-Z0-9])*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="CustomsOfficeReferenceNumberType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an8</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:length value="8"/>
                <xs:pattern value="([a-zA-Z0-9])*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="CustomsProcedureCodeType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an2</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:CodeType">
                <xs:length value="2"/>
                <xs:pattern value="([a-zA-Z0-9])*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="CustomsProcedureType">
        <xs:sequence>
            <xs:element name="Code" type="CustomsProcedureCodeType">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an2</WCOFormat>
                        <WCODescription>48 50 000 257 - Customs procedure code</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Checked" type="CheckboxIndicatorType">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>boolean</WCOFormat>
                        <WCODescription>48 05 000 213 - Customs procedure checkbox</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DecisionReferenceNumber" type="DecisionReferenceNumberType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an2</WCOFormat>
                        <WCODescription>48 05 010 000 - Customs procedure code</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DecisionCustomsAuthorityNameTextType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..70</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="70"/>
                <xs:pattern value=".*[^\s].*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="DecisionCustomsAuthorityType">
        <xs:sequence>
            <xs:element name="CustomsOfficeId" type="CustomsOfficeLocationTextType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an8</WCOFormat>
                        <WCODescription>Customs office encoded location identity</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="DecisionCustomsAuthorityNameTextType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..70</WCOFormat>
                        <WCODescription>Decision customs authority name</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StreetAndNumber" type="StreetAndNumberType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..70</WCOFormat>
                        <WCODescription>Decision customs authority street and number</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>a2</WCOFormat>
                        <WCODescription>Decision customs authority country code</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostCode" type="ds:AddressPostcodeIDType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..9</WCOFormat>
                        <WCODescription>Decision customs authority post code</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="City" type="ds:AddressCityNameTextType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..35</WCOFormat>
                        <WCODescription>Decision customs authority city</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DecisionReferenceNumberCodeType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..4</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:CodeType">
                <xs:maxLength value="4"/>
                <xs:pattern value="([a-zA-Z0-9])*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="DecisionReferenceNumberTextType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..29</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="29"/>
                <xs:pattern value="([a-zA-Z0-9])*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="DecisionReferenceNumberType">
        <xs:sequence>
            <xs:element name="CountryCode" type="ds:AddressCountryCodeType">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..2</WCOFormat>
                        <WCODescription>31 06 000 020/48 05 010 020 - Decision reference number country code</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReferenceNumber" type="DecisionReferenceNumberTextType">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..29</WCOFormat>
                        <WCODescription>31 06 000 001/48 05 010 001 - Decision reference number </WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CodeType" type="DecisionReferenceNumberCodeType">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..4</WCOFormat>
                        <WCODescription>31 06 000 205/48 05 010 205 - Decision reference number code </WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DescriptionOfGoodsType">
        <xs:sequence>
            <xs:element name="Indicator" type="IndicatorType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>n1</WCOFormat>
                        <WCODescription>Sequence numeric of processed products</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DescriptionOfGoods" type="DescriptionOfGoodsTextType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..2560</WCOFormat>
                        <WCODescription>Description of goods Text</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DescriptionOfGoodsTextType">
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="2560"/>
                <xs:pattern value=".*[^\s].*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="DutyCodeTypeType">
        <xs:sequence>
            <xs:element name="UnionCode" type="UnionCodeType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>a1+n2</WCOFormat>
                        <WCODescription>48 08 000 302 - Union code type</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NationalCode" type="NationalCodeType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>n1+an2</WCOFormat>
                        <WCODescription>48 08 000 303 - National code type</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Amount" type="AmountTypeType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>n..16,6</WCOFormat>
                        <WCODescription>Amount type</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EconomicOperatorIdentificationNumberType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..17</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:IDType">
                <xs:maxLength value="17"/>
                <xs:pattern value="([a-zA-Z0-9])*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="EmailTextType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..256</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="256"/>
                <xs:pattern value=".*[^\s].*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="GNSSCoordinateType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..17</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="17"/>
                <xs:pattern value=".*\S.*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="GNSSType">
        <xs:sequence>
            <xs:element name="Latitude" type="GNSSCoordinateType"/>
            <xs:element name="Longitude" type="GNSSCoordinateType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GoodsDescriptionType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..2560</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="2560"/>
                <xs:pattern value=".*[^\s].*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="GoodsLocationType">
        <xs:sequence>
            <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>a2</WCOFormat>
                        <WCODescription>Goods Location country code</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LocationCodeType" type="LocationCodeCodeType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>a1</WCOFormat>
                        <WCODescription>Goods location code type</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdentificationQualifier" type="IdentificationQualifierType" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>a1</WCOFormat>
                        <WCODescription>34 08 010 046 - Goods location identification qualifier</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LocationIdentification" type="LocationIdentificationType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..35</WCOFormat>
                        <WCODescription>34 08 010 036 - Goods location identification</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AuthorizationNumber" type="AuthorizationNumberType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..35</WCOFormat>
                        <WCODescription>34 08 010 052 - Authorization Number identification</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AdditionalIdentifier" type="AdditionalIdentifierNumericType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..8</WCOFormat>
                        <WCODescription>34 08 010 053 - Location additional identifier</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LocationParticulars" type="LocationParticularsType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCODescription>Goods location particulars</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CustomsOffice" type="CustomsOfficeReferenceNumberType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an8</WCOFormat>
                        <WCODescription>34 08 020 000 - Customs office reference number</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GNSS" type="GNSSType" minOccurs="0"  maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCODescription>34 08 030 000 - GNSS</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EconomicOperator" type="EconomicOperatorIdentificationNumberType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..17</WCOFormat>
                        <WCODescription>34 08 040 000 - Economic operator identification number</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="AuthorisationGoodsLocationNameTextType" minOccurs="0" maxOccurs="1" >
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..70</WCOFormat>
                        <WCODescription>Goods location name</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StreetAndNumber" type="StreetAndNumberType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..70</WCOFormat>
                        <WCODescription>Location street and number</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostCode" type="ds:AddressPostcodeIDType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..17</WCOFormat>
                        <WCODescription>Location postcode</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="City" type="ds:AddressCityNameTextType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..35</WCOFormat>
                        <WCODescription>Location city</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Address" type="AddressType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCODescription>34 08 050 000 - Location of goods address</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostcodeAddress" type="PostcodeAddressType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCODescription>34 08 060 000 - Postcode address</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ContactPerson" type="ContactPersonType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..35</WCOFormat>
                        <WCODescription>34 08 070 000 - Contact person</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GoodsQuantityMeasurementType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..4</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="4"/>
                <xs:pattern value="([a-zA-Z0-9])*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="GoodsQuantityType">
        <xs:sequence>
            <xs:element name="Measurement" type="GoodsQuantityMeasurementType">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..4</WCOFormat>
                        <WCODescription>35 01 031 249 - Goods quantities measurement</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Quantity" type="GoodsQuantityTypeType">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>n..16,6</WCOFormat>
                        <WCODescription>35 01 031 006 - Goods quantities</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GoodsQuantityTypeType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>n..16,6</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:QuantityType">
                <xs:totalDigits value="16"/>
                <xs:fractionDigits value="6"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="GroundsDescriptionTextType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..512</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="512"/>
                <xs:pattern value=".*[^\s].*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="HouseNumberTextType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..35</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="35"/>
                <xs:pattern value="([a-zA-Z0-9])*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="HouseNumberType">
        <xs:annotation>
            <xs:documentation>
                <WCOID>245</WCOID>
                <WCOFormat>an..17</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:IDType">
                <xs:maxLength value="35"/>
                <xs:pattern value=".*[^\s].*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="IdentificationQualifierType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>a1</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:IDType">
                <xs:length value="1"/>
                <xs:pattern value="([a-zA-Z])"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="LegalBasisTextType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>a1</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:length value="1"/>
                <xs:pattern value="([a-zA-Z])"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="LocationCodeCodeType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>a1</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:CodeType">
                <xs:length value="1"/>
                <xs:pattern value="([a-zA-Z])"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="LocationIdentificationType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..35</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="35"/>
                <xs:pattern value="([a-zA-Z0-9])*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="LocationParticularsType">
        <xs:sequence>
            <xs:element name="IdentificationQualifier" type="IdentificationQualifierType" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>a1</WCOFormat>
                        <WCODescription>Goods location identification qualifier</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UN-LOCODE" type="UNLocodeType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..17</WCOFormat>
                        <WCODescription>The UN-LOCODE</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AuthorisationNumber" type="AuthorisationNumberType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..35</WCOFormat>
                        <WCODescription>The authorisation number of the location concerned</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AdditionalIdentifierText" type="AdditionalIdentifierTextType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..8</WCOFormat>
                        <WCODescription>Location additional identifier</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NameTextType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..70</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="70"/>
                <xs:pattern value=".*[^\s].*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="NationalAdditionalCodeType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..4</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:CodeType">
                <xs:maxLength value="4"/>
                <xs:pattern value="([a-zA-Z0-9])*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="NationalCodeType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>n1+an2</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:CodeType">
                <xs:length value="3"/>
                <xs:pattern value="([0-9]){1}([a-zA-Z0-9]){2}"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="NomenclatureCodeType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..8</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:CodeType">
                <xs:maxLength value="8"/>
                <xs:pattern value="([a-zA-Z0-9])*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="PersonContactDetailsNameTextType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..70</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="70"/>
                <xs:pattern value=".*[^\s].*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="PersonContactDetailsType">
        <xs:sequence>
            <xs:element name="Name" type="PersonContactDetailsNameTextType">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..70</WCOFormat>
                        <WCODescription>Contact details person name</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TelephoneNumber" type="TelephoneNumberTextType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..50</WCOFormat>
                        <WCODescription>Contact details person telephone</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FaxNumber" type="TelephoneNumberTextType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..50</WCOFormat>
                        <WCODescription>Contact details person fax</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EmailAddress" type="EmailTextType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..256</WCOFormat>
                        <WCODescription>Contact details person email</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PostcodeAddressType">
        <xs:sequence>
            <xs:element name="Postcode" type="PostcodeType" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..17</WCOFormat>
                        <WCODescription>Contact person name</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HouseNumber" type="HouseNumberTextType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..50</WCOFormat>
                        <WCODescription>Postcode address house number</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostCodeCountryCode" type="PostCodeCountryCodeType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>a2</WCOFormat>
                        <WCODescription>Postcode Address country code</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PostCodeCountryCodeType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>a2</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:CodeType">
                <xs:length value="2"/>
                <xs:pattern value="([a-zA-Z])*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="PostcodeType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..17</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:CodeType">
                <xs:maxLength value="17"/>
                <xs:pattern value="([a-zA-Z0-9])*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="RecoveryTitleTextType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..35</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="35"/>
                <xs:pattern value="([a-zA-Z0-9])*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="RepresentativeNameTextType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..70</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="70"/>
                <xs:pattern value=".*[^\s].*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="RepresentativeType">
        <xs:sequence>
            <xs:element name="Name" type="RepresentativeNameTextType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..70</WCOFormat>
                        <WCODescription>Holder name</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StreetAndNumber" type="StreetAndNumberType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..70</WCOFormat>
                        <WCODescription>Holder street and number</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>a2</WCOFormat>
                        <WCODescription>Holder country code</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostCode" type="ds:AddressPostcodeIDType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..9</WCOFormat>
                        <WCODescription>Holder postcode</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="City" type="ds:AddressCityNameTextType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..35</WCOFormat>
                        <WCODescription>Holder city</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RRMRepresentativeType">
        <xs:complexContent>
            <xs:extension base="RepresentativeType">
                <xs:sequence>
                    <xs:element name="RepresentativeIdentification" type="AuthorisationIDType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation xml:lang="EN">
                                <WCOFormat>an..17</WCOFormat>
                                <WCODescription>Representative Identification EORI number</WCODescription>
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SignatureType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..256</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="256"/>
                <xs:pattern value=".*[^\s].*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="StreetAndNumberType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..70</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="70"/>
                <xs:pattern value=".*[^\s].*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="TaricAdditionalCodeType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an4</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:CodeType">
                <xs:length value="4"/>
                <xs:pattern value="([a-zA-Z0-9])*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="TaricSubheadingTextType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an2</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:length value="2"/>
                <xs:pattern value="([a-zA-Z0-9])*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="TaricType">
        <xs:sequence>
            <xs:element name="TaricAdditionalCode" type="TaricAdditionalCodeType" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an4</WCOFormat>
                        <WCODescription>35 01 011 247 - Third subdivision taric additional codes</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NationalAdditionalCode" type="NationalAdditionalCodeType" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>an..4</WCOFormat>
                        <WCODescription>35 01 011 060 - Fourth subdivision national additional code</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TelephoneNumberTextType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..50</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="50"/>
                <xs:pattern value=".*[^\s].*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="TextSize6Type">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..6</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="6"/>
                <xs:pattern value="([a-zA-Z0-9])*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="UnionCodeType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>a1+n2</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:CodeType">
                <xs:length value="3"/>
                <xs:pattern value="([a-zA-Z]){1}([0-9]){2}"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="UNLocodeType">
        <xs:annotation>
            <xs:documentation>
                <WCOFormat>an..17</WCOFormat>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:restriction base="udt:TextType">
                <xs:maxLength value="17"/>
                <xs:pattern value=".*[^\s].*"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="ValueType">
        <xs:sequence>
            <xs:element name="Currency" type="CurrencyType">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>a3</WCOFormat>
                        <WCODescription>48 06 000 012/48 07 000 012 - Currency type</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Amount" type="AmountTypeType">
                <xs:annotation>
                    <xs:documentation xml:lang="EN">
                        <WCOFormat>n..16,6</WCOFormat>
                        <WCODescription>48 06 000 014/48 07 000 014 - Amount type</WCODescription>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>