Import XSDs/APPLICATION_XSDS/8F_TEMPORARYADMISSION_ENDUSE_INWARDPROCESSING_OUTWARDPROCESSING.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:wco:datamodel:WCO:WCO_DEC_EDS_AUTHORISATION:1"
           xmlns:ds="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:6"
           targetNamespace="urn:wco:datamodel:WCO:WCO_DEC_EDS_AUTHORISATION:1"
           elementFormDefault="qualified"
           version="1.0">
  <xs:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:6"
             schemaLocation="../DMS_DS/UNECE/UNQUALIFIEDDATATYPE_6_DMS.xsd"/>
  <xs:import namespace="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
             schemaLocation="../DMS_DS/DMS_DS.xsd" />

  <xs:complexType name="AdmissionUseProcessingAuthorisation">
    <xs:sequence>
      <xs:element name="CustomsOfficesOfDischarge" type="CustomsOfficesOfDischargeType" minOccurs="0" maxOccurs="999">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..8</WCOFormat>
            <WCODescription>34 11 000 000 - Customs Offices of discharge for application</WCODescription>
            <EUCDMLegalReference>4/11</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentificationOfGoods" type="AuthorisationCode" minOccurs="0" maxOccurs="999">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCODescription>35 01 080 000 - Identification of goods for Authorization</WCODescription>
            <EUCDMLegalReference>5/8</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DetailsOfPlannedActivities" type="DetailsOfPlannedActivitiesTextType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..8</WCOFormat>
            <WCODescription>Customs Offices of discharge for application</WCODescription>
            <EUCDMLegalReference>7/5</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DetailsOfPlannedActivitiesEUCDM7" type="DetailsOfPlannedActivitiesType" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..8</WCOFormat>
            <WCODescription>37 05 000 000 - Customs Offices of discharge for application</WCODescription>
            <EUCDMLegalReference>7/5</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdditionalInformation" type="AdditionalInformationTextType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..512</WCOFormat>
            <WCODescription>38 05 000 009 - Additional information</WCODescription>
            <EUCDMLegalReference>8/5</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsOwner" type="GoodsOwnerType" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCODescription>33 08 000 000 - Non-Union owner of the goods to be placed under the temporary admission</WCODescription>
            <EUCDMLegalReference>3/8</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlaceWhereMainAccountsForCustomsPurposesAreHeldOrAccessible" type="Place" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCODescription>34 03 000 000 - Place where main accounts for customs purposes are held or accessible</WCODescription>
            <EUCDMLegalReference>4/5</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FirstPlaceOfUseOrProcessing" type="Place" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCODescription>34 05 000 000 - First place of use or processing under the temporary admission</WCODescription>
            <EUCDMLegalReference>4/5</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlaceOfProcessingOrUse" type="Place" minOccurs="0" maxOccurs="999">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCODescription>Place of use or processing under the temporary admission</WCODescription>
            <EUCDMLegalReference>4/9</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DischargePeriod" type="DischargeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCODescription>34 17 000 000 - Period of discharge under the temporary admission</WCODescription>
            <EUCDMLegalReference>4/17</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="YieldRate" type="YieldRateType" minOccurs="0" maxOccurs="999">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCODescription>35 01 050 000 - Estimated rate of yield or estimated average rate of yield, or where appropriate, the method of determining such rate</WCODescription>
            <EUCDMLegalReference>5/5</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProcessedProducts" type="ProcessedProductsType" minOccurs="0" maxOccurs="999">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCODescription>35 07 000 000 - Estimated rate of yield or estimated average rate of yield, or where appropriate, the method of determining such rate</WCODescription>
            <EUCDMLegalReference>5/7</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EconomicConditions" type="AuthorisationCode" minOccurs="0" maxOccurs="999">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCODescription>35 01 090 000 - Estimated rate of yield or estimated average rate of yield, or where appropriate, the method of determining such rate</WCODescription>
            <EUCDMLegalReference>6/2</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="ImportDuty" type="ImportDutyType" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="EN">
              <WCOFormat>n1</WCOFormat>
              <WCODescription>Calculation of the amount of the import duty in accordance with Article 86(3) of the Code</WCODescription>
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ImportDutyEUCDM7" type="ImportDutyTypeEUCDM7" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="EN">
              <WCOFormat>n1</WCOFormat>
              <WCODescription>38 13 000 000 - Calculation method for the amount of the import duty in accordance with Article 86(3) of the Code</WCODescription>
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="PlaceWhereRecordsAreKept" type="PlaceWhereRecordsAreKeptType" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCODescription>34 04 000 000 - Place where records are kept</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--  *************************************************************************************************-->
  <!--  *************************************************************************************************-->
  <!--  *************************************************************************************************-->

  <!-- Simple types -->

  <xs:simpleType name="AdditionalIdentifierNumericType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n..3</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="3"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AuthorisationCodeCodeType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n..2</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="2"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AuthorisationCodeSequenceNumericType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n..3</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="3"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CustomsOfficesOfDischargeSequenceNumericType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n..3</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="3"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DetailsOfPlannedActivitiesSequenceNumericType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n..5</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="5"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="GoodsOwnerSequenceNumericType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n..2</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="2"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ImportDutyType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n1</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="1"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NumericSize1Type">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n1</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="1"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PeriodType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n2</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="2"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PlaceSequenceNumericType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n..3</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="3"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ProcessedProductsSequenceNumericType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n..8</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="8"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SequenceNumericType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n..5</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="5"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TickBoxType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n1</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="1"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="YieldRateSequenceNumericType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n..3</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="3"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Complex types -->

  <xs:complexType name="AdditionalInformationTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..512</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="512"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AuthorisationCode">
    <xs:sequence>
      <xs:element name="SequenceNumeric" type="AuthorisationCodeSequenceNumericType">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>n..3</WCOFormat>
            <WCODescription>Sequence numeric of identification of goods</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Code" type="AuthorisationCodeCodeType">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>n1</WCOFormat>
            <WCODescription>35 01 080 008/35 01 090 008 - Code for processed products</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FreeText" type="AuthorisationCodeTextType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..512</WCOFormat>
            <WCODescription>35 01 080 009/35 01 090 009 - Description of goods Text</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AuthorisationCodeTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..512</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="512"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AuthorisationReferenceNumberType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..35</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="35"/>
        <xs:pattern value=".*\S.*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="CustomsOfficeLocationTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an8</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:length value="8"/>
        <xs:pattern value="([a-zA-Z0-9])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="CustomsOfficesOfDischargeType">
    <xs:sequence>
      <xs:element name="SequenceNumeric" type="CustomsOfficesOfDischargeSequenceNumericType">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>n..3</WCOFormat>
            <WCODescription>Sequence numeric of processed products</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsOfficesOfDischarge" type="CustomsOfficeLocationTextType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an8</WCOFormat>
            <WCODescription>34 11 000 301 - Customs Offices of discharge code</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CustomsOfficeType">
    <xs:sequence>
      <xs:element name="Identification" type="TextSize8Type"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DescriptionOfGoodsTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..512</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="512"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DetailsOfPlannedActivitiesTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an8</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="512"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DetailsOfPlannedActivitiesType">
    <xs:sequence>
      <xs:element name="SequenceNumeric" type="DetailsOfPlannedActivitiesSequenceNumericType">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>n..5</WCOFormat>
            <WCODescription>Sequence numeric of processed products</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MemberState" type="ds:AddressCountryCodeType">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>a2</WCOFormat>
            <WCODescription>37 05 000 298 - Member state country code</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FreeText" type="DetailsOfPlannedActivitiesTextType">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..512</WCOFormat>
            <WCODescription>37 05 000 244 - Text</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DischargeType">
    <xs:sequence>
      <xs:element name="Period" type="PeriodType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>n2</WCOFormat>
            <WCODescription>34 17 000 245 - Period of discharge type</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="TickBox" type="TickBoxType" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="EN">
              <WCOFormat>n1</WCOFormat>
              <WCODescription>34 17 000 213 - Period of discharge tickbox</WCODescription>
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Checked" type="TickBoxType" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="EN">
              <WCOFormat>n1</WCOFormat>
              <WCODescription>34 17 000 213 - Period of discharge checked</WCODescription>
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="Code" type="NumericSize1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>n1</WCOFormat>
            <WCODescription>34 17 000 008 - Period of discharge code</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FreeText" type="PeriodOfDischargeTextType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..2560</WCOFormat>
            <WCODescription>34 17 000 009 - Period of discharge Free text</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EconomicOperatorType">
    <xs:sequence>
      <xs:element name="Identification" type="TextSize17Type"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EmailTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..256</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="256"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="GNSSCoordinateType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..17</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="17"/>
        <xs:pattern value=".*\S.*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="GNSSType">
    <xs:sequence>
      <xs:element name="Latitude" type="GNSSCoordinateType"/>
      <xs:element name="Longitude" type="GNSSCoordinateType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GoodsOwnerType">
    <xs:complexContent>
      <xs:extension base="RepresentativeType">
        <xs:sequence>
          <xs:element name="SequenceNumeric" type="GoodsOwnerSequenceNumericType">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCOFormat>n2</WCOFormat>
                <WCODescription>Sequence numeric of the owner of the goods</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="HouseNumberType">
    <xs:annotation>
      <xs:documentation>
        <WCOID>245</WCOID>
        <WCOFormat>an..17</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:IDType">
        <xs:maxLength value="35"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="IdentificationQualifierType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>a1</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:IDType">
        <xs:length value="1"/>
        <xs:pattern value="([a-zA-Z])"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ImportDutyEUCDM7Type">
    <xs:sequence>
      <xs:element name="Code" type="NumericSize1Type"/>
      <xs:element name="FreeText" type="TextSize2560Type" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ImportDutyTypeEUCDM7">
    <xs:sequence>
      <xs:element name="Code" type="NumericSize1Type"/>
      <xs:element name="FreeText" type="TextSize2560Type" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LocationCodeCodeType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>a1</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:length value="1"/>
        <xs:pattern value="([a-zA-Z])"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="LocationIdentificationType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..35</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="35"/>
        <xs:pattern value="([a-zA-Z0-9])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="NameTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..70</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="70"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="NameType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..70</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="70"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="PeriodOfDischargeTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..512</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="512"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="Place">
    <xs:sequence>
      <xs:element name="SequenceNumeric" type="PlaceSequenceNumericType">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>n..5</WCOFormat>
            <WCODescription>Sequence numeric of processed products</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Country" type="ds:AddressCountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an2</WCOFormat>
            <WCODescription>34 03 010 020/34 05 050 020/34 09 050 020 - Country</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LocationTypeCode" type="LocationCodeCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an2</WCOFormat>
            <WCODescription>34 05 010 045 - First Place of Use Location type code</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QualifierOfTheIdentification" type="IdentificationQualifierType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an2</WCOFormat>
            <WCODescription>34 05 010 046/34 09 010 046 - Qualifier of the Identification</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentificationOfLocation" type="LocationIdentificationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..35</WCOFormat>
            <WCODescription>Identification of Location of the First Place of Use</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdditionalIdentifier" type="AdditionalIdentifierNumericType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..35</WCOFormat>
            <WCODescription>34 05 010 053/34 09 010 053 - Additional Identifier</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="NameType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..70</WCOFormat>
            <WCODescription>Name of the First Place of Use</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StreetAndNumber" type="StreetAndNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..70</WCOFormat>
            <WCODescription>34 03 010 019/34 05 050 019/34 09 050 019 - Street and number</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Postcode" type="ds:AddressPostcodeIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..9</WCOFormat>
            <WCODescription>34 03 010 021/34 05 050 021/34 09 050 021 - Postcode</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="City" type="ds:AddressCityNameTextType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..9</WCOFormat>
            <WCODescription>34 03 010 022/34 05 050 022/34 09 050 022 - City</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AuthorisationReferenceNumber" type="AuthorisationReferenceNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an2</WCOFormat>
            <WCODescription>34 05 010 052/34 09 010 052 - Authorisation Reference Number</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UNLocode" type="TextSize17Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..17</WCOFormat>
            <WCODescription>34 03 020 036/34 05 010 036/34 09 010 036 - UN/LOCODE</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsOffice" type="CustomsOfficeType" minOccurs="0" >
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..17</WCOFormat>
            <WCODescription>34 05 020 000/34 09 020 000 - Customs office</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GNSS" type="GNSSType" minOccurs="0" >
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..17</WCOFormat>
            <WCODescription>34 05 030 000/34 09 030 000 - GNSS</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EconomicOperator" type="EconomicOperatorType" minOccurs="0" >
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..17</WCOFormat>
            <WCODescription>34 05 040 000/34 09 040 000 - Economic Operator</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Address" type="PlaceAddressType" minOccurs="0" />
      <xs:element name="PostcodeAddress" type="PlacePostcodeAddressType" minOccurs="0" >
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..17</WCOFormat>
            <WCODescription>34 05 060 000/34 09 060 000 - Postcode Address</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContactPerson" type="PlaceContactPersonType" minOccurs="0" maxOccurs="9">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..17</WCOFormat>
            <WCODescription>34 05 070 000/34 09 070 000 - Contact Person</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PlaceAddressType">
    <xs:sequence>
      <xs:element name="StreetAndNumber" type="StreetAndNumberType"/>
      <xs:element name="PostCode" type="ds:AddressPostcodeIDType" minOccurs="0"/>
      <xs:element name="City" type="ds:AddressCityNameTextType"/>
      <xs:element name="CountryCode" type="ds:AddressCountryCodeType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PlaceContactPersonType">
    <xs:sequence>
      <xs:element name="SequenceNumeric" type="SequenceNumericType"/>
      <xs:element name="Name" type="NameTextType"/>
      <xs:element name="TelephoneNumber" type="TelephoneNumberTextType"/>
      <xs:element name="EMailAddress" type="EmailTextType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PlacePostcodeAddressType">
    <xs:sequence>
      <xs:element name="HouseNumber" type="HouseNumberType" minOccurs="0"/>
      <xs:element name="PostCode" type="ds:AddressPostcodeIDType"/>
      <xs:element name="CountryCode" type="ds:AddressCountryCodeType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PlaceWhereMainAccountsForCustomsPurposesAreHeldOrAccessibleType">
    <xs:sequence>
      <xs:element name="StreetAndNumber" type="StreetAndNumberType"/>
      <xs:element name="PostCode" type="ds:AddressPostcodeIDType" minOccurs="0"/>
      <xs:element name="City" type="ds:AddressCityNameTextType"/>
      <xs:element name="CountryCode" type="ds:AddressCountryCodeType"/>
      <xs:element name="UNLocode" type="TextSize17Type" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PlaceWhereRecordsAreKeptType">
    <xs:sequence>
      <xs:element name="SequenceNumeric" type="SequenceNumericType"/>
      <xs:element name="Name" type="NameTextType" minOccurs="0"/>
      <xs:element name="StreetAndNumber" type="StreetAndNumberType" minOccurs="0"/>
      <xs:element name="PostCode" type="ds:AddressPostcodeIDType" minOccurs="0"/>
      <xs:element name="City" type="ds:AddressCityNameTextType" minOccurs="0"/>
      <xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
      <xs:element name="UNLocode" type="TextSize17Type" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProcessedProductsCommodityCodeEUCDM7Type">
    <xs:sequence>
      <xs:element name="HarmonizedSystemSubheadingCode" type="TextSize6Type" minOccurs="0"/>
      <xs:element name="CombinedNomenclatureCode" type="TextSize2Type" minOccurs="0"/>
      <xs:element name="TaricCode" type="TextSize2Type" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProcessedProductsCommodityCodeType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an8</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:length value="8"/>
        <xs:pattern value="([a-zA-Z0-9])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ProcessedProductsCommodityCodeTypeEUCDM7">
    <xs:sequence>
      <xs:element name="HarmonizedSystemSubheadingCode" type="TextSize6Type"/>
      <xs:element name="CombinedNomenclatureCode" type="TextSize2Type"/>
      <xs:element name="TaricCode" type="TextSize2Type" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProcessedProductsTaricAdditionalCodeType">
    <xs:sequence>
      <xs:element name="SequenceNumeric" type="SequenceNumericType" />
      <xs:element name="TaricAdditionalCode" type="TaricAdditionalCodeType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProcessedProductsType">
    <xs:sequence>
      <xs:element name="SequenceNumeric" type="ProcessedProductsSequenceNumericType">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>n..3</WCOFormat>
            <WCODescription>Sequence numeric of processed products</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="CommodityCode" type="ProcessedProductsCommodityCodeType"/>
        <xs:element name="CommodityCodeEUCDM7" type="ProcessedProductsCommodityCodeTypeEUCDM7"/>
      </xs:choice>
      <xs:element name="TaricAdditionalCode" type="ProcessedProductsTaricAdditionalCodeType" minOccurs="0" maxOccurs="99"/>
      <xs:element name="DescriptionOfGoods" type="DescriptionOfGoodsTextType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..512</WCOFormat>
            <WCODescription>35 07 020 254 - Description of goods Text</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RepresentativeNameTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..70</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="70"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="RepresentativeType">
    <xs:sequence>
      <xs:element name="Name" type="RepresentativeNameTextType">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..70</WCOFormat>
            <WCODescription>Holder name</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StreetAndNumber" type="StreetAndNumberType">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..70</WCOFormat>
            <WCODescription>Holder street and number</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryCode" type="ds:AddressCountryCodeType">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>a2</WCOFormat>
            <WCODescription>Holder country code</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PostCode" type="ds:AddressPostcodeIDType">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..9</WCOFormat>
            <WCODescription>Holder postcode</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="City" type="ds:AddressCityNameTextType">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..35</WCOFormat>
            <WCODescription>Holder city</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StreetAndNumberType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..70</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="70"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="TaricAdditionalCodeType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an4</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:length value="4"/>
        <xs:pattern value="([a-zA-Z0-9])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="TelephoneNumberTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..50</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="50"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="TextSize2Type">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an6</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:length value="2"/>
        <xs:pattern value="([a-zA-Z0-9])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="TextSize6Type">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an6</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:length value="6"/>
        <xs:pattern value="([a-zA-Z0-9])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="TextSize8Type">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..8</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="8"/>
        <xs:pattern value=".*\S.*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="TextSize17Type">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..17</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="17"/>
        <xs:pattern value=".*\S.*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="TextSize2560Type">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..2560</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="2560"/>
        <xs:pattern value=".*\S.*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="YieldRateTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..512</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="512"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="YieldRateType">
    <xs:sequence>
      <xs:element name="SequenceNumeric" type="YieldRateSequenceNumericType">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>n..3</WCOFormat>
            <WCODescription>Sequence numeric of yield rate</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FreeText" type="YieldRateTextType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..512</WCOFormat>
            <WCODescription>35 01 050 009 - Yield Rate Text</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>



</xs:schema>