Import XSDs/APPLICATION_XSDS/8F_TEMPORARYADMISSION_ENDUSE_INWARDPROCESSING_OUTWARDPROCESSING.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:wco:datamodel:WCO:WCO_DEC_EDS_AUTHORISATION:1"
           xmlns:ds="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:6"
           targetNamespace="urn:wco:datamodel:WCO:WCO_DEC_EDS_AUTHORISATION:1"
           elementFormDefault="qualified"
           version="1.0">
  <xs:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:6"
             schemaLocation="../DMS_DS/UNECE/UNQUALIFIEDDATATYPE_6_DMS.xsd"/>
  <xs:import namespace="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
             schemaLocation="../DMS_DS/DMS_DS.xsd" />

  <xs:complexType name="AdmissionUseProcessingAuthorisation">
    <xs:sequence>
      <xs:element name="CustomsOfficesOfDischarge" type="CustomsOfficesOfDischargeType" minOccurs="0" maxOccurs="999">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..8</WCOFormat>
            <WCODescription>Customs Offices of discharge for application</WCODescription>
            <EUCDMLegalReference>4/11</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupervisingCustomsOffice" type="CustomsOfficeLocationTextType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..8</WCOFormat>
            <WCODescription>Supervising Customs Office for application</WCODescription>
            <EUCDMLegalReference>4/13</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentificationOfGoods" type="AuthorisationCode" minOccurs="0" maxOccurs="999">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCODescription>Identification of goods for Authorization</WCODescription>
            <EUCDMLegalReference>5/8</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DetailsOfPlannedActivities" type="DetailsOfPlannedActivitiesTextType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..8</WCOFormat>
            <WCODescription>Customs Offices of discharge for application</WCODescription>
            <EUCDMLegalReference>7/5</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdditionalInformation" type="AdditionalInformationTextType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..512</WCOFormat>
            <WCODescription>Additional information</WCODescription>
            <EUCDMLegalReference>8/5</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoodsOwner" type="GoodsOwnerType" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCODescription>Non-Union owner of the goods to be placed under the temporary admission</WCODescription>
            <EUCDMLegalReference>3/8</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FirstPlaceOfUseOrProcessing" type="Place" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCODescription>First place of use or processing under the temporary admission</WCODescription>
            <EUCDMLegalReference>4/5</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlaceOfProcessingOrUse" type="Place" minOccurs="0" maxOccurs="999">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCODescription>Place of use or processing under the temporary admission</WCODescription>
            <EUCDMLegalReference>4/9</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DischargePeriod" type="DischargeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCODescription>Period of discharge under the temporary admission</WCODescription>
            <EUCDMLegalReference>4/17</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BillOfDischarge" type="DischargeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCODescription>Bill of discharge under the temporary admission</WCODescription>
            <EUCDMLegalReference>4/18</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="YieldRate" type="YieldRateType" minOccurs="0" maxOccurs="999">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCODescription>Estimated rate of yield or estimated average rate of yield, or where appropriate, the method of determining such rate</WCODescription>
            <EUCDMLegalReference>5/5</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProcessedProducts" type="ProcessedProductsType" minOccurs="0" maxOccurs="999">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCODescription>Estimated rate of yield or estimated average rate of yield, or where appropriate, the method of determining such rate</WCODescription>
            <EUCDMLegalReference>5/7</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EconomicConditions" type="AuthorisationCode" minOccurs="0" maxOccurs="999">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCODescription>Estimated rate of yield or estimated average rate of yield, or where appropriate, the method of determining such rate</WCODescription>
            <EUCDMLegalReference>6/2</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ImportDuty" type="ImportDutyType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>n1</WCOFormat>
            <WCODescription>Calculation of the amount of the import duty in accordance with Article 86(3) of the Code</WCODescription>
            <EUCDMLegalReference>8/13</EUCDMLegalReference>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!--  *************************************************************************************************-->
  <!--  *************************************************************************************************-->
  <!--  *************************************************************************************************-->

  <xs:complexType name="RepresentativeType">
    <xs:sequence>
      <xs:element name="Name" type="RepresentativeNameTextType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..70</WCOFormat>
            <WCODescription>Holder name</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StreetAndNumber" type="StreetAndNumberType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..70</WCOFormat>
            <WCODescription>Holder street and number</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryCode" type="ds:AddressCountryCodeType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>a2</WCOFormat>
            <WCODescription>Holder country code</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PostCode" type="ds:AddressPostcodeIDType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..9</WCOFormat>
            <WCODescription>Holder postcode</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="City" type="ds:AddressCityNameTextType" maxOccurs="1">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..35</WCOFormat>
            <WCODescription>Holder city</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GoodsOwnerType">
    <xs:complexContent>
      <xs:extension base="RepresentativeType">
        <xs:sequence>
          <xs:element name="SequenceNumeric" type="GoodsOwnerSequenceNumericType">
            <xs:annotation>
              <xs:documentation xml:lang="EN">
                <WCOFormat>n2</WCOFormat>
                <WCODescription>Sequence numeric of the owner of the goods</WCODescription>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="GoodsOwnerSequenceNumericType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n..2</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="2"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="PeriodOfDischargeTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..512</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="512"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="YieldRateTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..512</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="512"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="CustomsOfficeLocationTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an8</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:length value="8"/>
        <xs:pattern value="([a-zA-Z0-9])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DetailsOfPlannedActivitiesTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an8</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="512"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="LocationCodeCodeType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>a1</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:CodeType">
        <xs:length value="1"/>
        <xs:pattern value="([a-zA-Z])"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="IdentificationQualifierType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>a1</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:IDType">
        <xs:length value="1"/>
        <xs:pattern value="([a-zA-Z])"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="LocationIdentificationType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..35</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="35"/>
        <xs:pattern value="([a-zA-Z0-9])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="AdditionalIdentifierNumericType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n..3</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="3"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="AdditionalInformationTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..512</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="512"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="StreetAndNumberType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..70</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="70"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="RepresentativeNameTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..70</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="70"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="Place">
    <xs:sequence>
      <xs:element name="SequenceNumeric" type="PlaceSequenceNumericType">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>n..3</WCOFormat>
            <WCODescription>Sequence numeric of processed products</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Country" type="ds:AddressCountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an2</WCOFormat>
            <WCODescription>Country of the first place of se</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LocationTypeCode" type="LocationCodeCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>a1</WCOFormat>
            <WCODescription>First Place of Use Location type code</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="QualifierOfTheIdentification" type="IdentificationQualifierType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an2</WCOFormat>
            <WCODescription>Qualifier of the Identification for First Place of Use</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdentificationOfLocation" type="LocationIdentificationType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..35</WCOFormat>
            <WCODescription>Identification of Location of the First Place of Use</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdditionalIdentifier" type="AdditionalIdentifierNumericType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..35</WCOFormat>
            <WCODescription>Additional lIdentifier of the First Place of Use</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StreetAndNumber" type="StreetAndNumberType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..70</WCOFormat>
            <WCODescription>Street and number of the First Place of Use</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Postcode" type="ds:AddressPostcodeIDType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..9</WCOFormat>
            <WCODescription>Postcode of the First Place of Use</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="City" type="ds:AddressCityNameTextType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..9</WCOFormat>
            <WCODescription>Postcode of the First Place of Use</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="PlaceSequenceNumericType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n..3</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="3"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CustomsOfficesOfDischargeType">
    <xs:sequence>
      <xs:element name="SequenceNumeric" type="CustomsOfficesOfDischargeSequenceNumericType">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>n..3</WCOFormat>
            <WCODescription>Sequence numeric of processed products</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsOfficesOfDischarge" type="CustomsOfficeLocationTextType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an8</WCOFormat>
            <WCODescription>Customs Offices of discharge code</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="CustomsOfficesOfDischargeSequenceNumericType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n..3</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="3"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="DischargeType">
    <xs:sequence>
      <xs:element name="Period" type="PeriodType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>n2</WCOFormat>
            <WCODescription>Period of discharge type</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TickBox" type="TickBoxType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>n1</WCOFormat>
            <WCODescription>Period of discharge tickbox</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FreeText" type="PeriodOfDischargeTextType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..512</WCOFormat>
            <WCODescription>Period of discharge Free text</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="PeriodType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n2</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="2"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TickBoxType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n1</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="1"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ImportDutyType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n1</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="1"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="YieldRateType">
    <xs:sequence>
      <xs:element name="SequenceNumeric" type="YieldRateSequenceNumericType">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>n..3</WCOFormat>
            <WCODescription>Sequence numeric of yield rate</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FreeText" type="YieldRateTextType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..512</WCOFormat>
            <WCODescription>Yield Rate Text</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="YieldRateSequenceNumericType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n..3</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="3"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ProcessedProductsType">
    <xs:sequence>
      <xs:element name="SequenceNumeric" type="ProcessedProductsSequenceNumericType">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>n..3</WCOFormat>
            <WCODescription>Sequence numeric of processed products</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CommodityCode" type="ProcessedProductsCommodityCodeType">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an8</WCOFormat>
            <WCODescription>Commodity Code for processed products</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DescriptionOfGoods" type="DescriptionOfGoodsTextType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..512</WCOFormat>
            <WCODescription>Description of goods Text</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ProcessedProductsSequenceNumericType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n..8</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="8"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ProcessedProductsCommodityCodeType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an8</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:length value="8"/>
        <xs:pattern value="([a-zA-Z0-9])*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DescriptionOfGoodsTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..512</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="512"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="AuthorisationCode">
    <xs:sequence>
      <xs:element name="SequenceNumeric" type="AuthorisationCodeSequenceNumericType">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>n..3</WCOFormat>
            <WCODescription>Sequence numeric of identification of goods</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Code" type="AuthorisationCodeCodeType">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>n1</WCOFormat>
            <WCODescription>Code for processed products</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FreeText" type="AuthorisationCodeTextType" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="EN">
            <WCOFormat>an..512</WCOFormat>
            <WCODescription>Description of goods Text</WCODescription>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="AuthorisationCodeSequenceNumericType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n..3</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="3"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AuthorisationCodeCodeType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>n..2</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="udt:NumericType">
      <xs:totalDigits value="2"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="AuthorisationCodeTextType">
    <xs:annotation>
      <xs:documentation>
        <WCOFormat>an..512</WCOFormat>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:restriction base="udt:TextType">
        <xs:maxLength value="512"/>
        <xs:pattern value=".*[^\s].*"/>
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>