Import XSDs/APPLICATION_XSDS/DMS_REQUEST_FOR_CLOSURE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:WCOLibraryE7TAXUDEUCDM52public"
           targetNamespace="urn:WCOLibraryE7TAXUDEUCDM52public"
           elementFormDefault="qualified" version="1.2.0">
    <xs:include schemaLocation="../DMS_DS/GEFEG/WCO_TS_DEC.xsd"/>
    <xs:element name="Declaration" type="Declaration"/>
    <xs:complexType name="Declaration">
        <xs:sequence>
            <xs:element name="functionalReference">
                <xs:annotation>
                    <xs:documentation>
                        <EUCDMname>LRN</EUCDMname>
                        <EUCDMversion>EUCDM 6.1</EUCDMversion>
                        <code>12 09 001 000</code>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Identifier.Content" type="Identifier.Content"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="id">
                <xs:annotation>
                    <xs:documentation>
                        <EUCDMname>MRN</EUCDMname>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Identifier.Content" type="Identifier.Content"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="procedureCategory">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Identifier.Content" type="Identifier.Content"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="FunctionCode">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Code.Content" type="Code.Content"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Amendment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="sequence">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Numeric.Content" type="Numeric.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ChangeReasonCode">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Code.Content" type="Code.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ChangeReasonText" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Text.Content" type="Text.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Declarant">
                <xs:annotation>
                    <xs:documentation>
                        <EUCDMname>Declarant</EUCDMname>
                        <EUCDMversion>EUCDM 6.1</EUCDMversion>
                        <code>13 05 000 000</code>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Name</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>13 05 016 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Text.Content" type="Text.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="identification_2">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Identification number</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>13 05 017 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Address" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Address</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>13 05 018 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sequence">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="cityName">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>City</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 05 018 022</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="country">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Country</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 05 018 020</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Code.Content" type="Code.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="line" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Street additional line</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 05 018 024</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="postcode">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Postcode</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 05 018 021</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="streetName">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Street</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 05 018 023</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="streetNumber">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Number</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 05 018 025</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="postOfficeBox" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>P.O. box</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 05 018 026</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="countrySubDivisionName" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Sub-division</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 05 018 027</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Communication" minOccurs="0" maxOccurs="2">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Communication</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>13 05 029 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sequence">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="identification_2">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Identifier</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 05 029 015</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="type_8">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Type</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 05 029 002</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Code.Content" type="Code.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Submitter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Text.Content" type="Text.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="identification_2">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="sequence">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Numeric.Content" type="Numeric.Content">
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>