Import XSDs/APPLICATION_XSDS/DMS_BILL_OF_DISCHARGE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:wco:datamodel:WCO:DEC-DMS:2" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ds="urn:wco:datamodel:WCO:Declaration_DS:DMS:2" targetNamespace="urn:wco:datamodel:WCO:DEC-DMS:2"
           xmlns:eds="urn:wco:datamodel:WCO:WCO_DEC_EDS_AUTHORISATION:1"
           xmlns:edsmetadata="urn:wco:datamodel:WCO:WCO_DEC_EDS_METADATA:1"
           xmlns:extensions="urn:eds:datamodel:EDS:EDS_EXTENSIONS:1"
           elementFormDefault="qualified" version="2.2">
    <xs:import namespace="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
               schemaLocation="../DMS_DS/DMS_DS.xsd"/>
    <xs:import namespace="urn:wco:datamodel:WCO:WCO_DEC_EDS_AUTHORISATION:1"
               schemaLocation="../DMS_DS/WCO_DEC_EDS_AUTHORISATION.xsd"/>
    <xs:import namespace="urn:wco:datamodel:WCO:WCO_DEC_EDS_METADATA:1"
               schemaLocation="../DMS_DS/WCO_EDS/WCO_DEC_EDS_METADATA.xsd"/>
    <xs:import namespace="urn:eds:datamodel:EDS:EDS_EXTENSIONS:1"
               schemaLocation="../DMS_DS/EDS/EDS_EXTENSIONS.xsd"/>

    <xs:element name="Declaration" type="Declaration">
        <xs:annotation>
            <xs:documentation>
                <EUCDMname>Declaration</EUCDMname>
                <type>EUCDM 6.1</type>
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="Declaration">
        <xs:sequence>
            <xs:element name="FunctionCode" type="ds:DeclarationFunctionCodeType"/>
            <xs:element name="ProcedureCategory" type="ds:DeclarationProcedureCategoryCodeType"/>
            <xs:element name="FunctionalReferenceID" type="ds:DeclarationFunctionalReferenceIDType">
                <xs:annotation>
                    <xs:documentation>
                        <EUCDMname>LRN</EUCDMname>
                        <type>EUCDM 6.1</type>
                        <code>12 09 001 000</code>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ID" type="ds:DeclarationIdentificationIDType">
                <xs:annotation>
                    <xs:documentation>
                        <Name>MRN</Name>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TypeCode" type="ds:DeclarationTypeCodeType">
                <xs:annotation>
                    <xs:documentation>
                        <EUCDMname>Declaration type</EUCDMname>
                        <type>EUCDM 6.1</type>
                        <code>11 01 001 000</code>
                    </xs:documentation>
                    <xs:documentation>
                        <EUCDMname>Additional declaration type</EUCDMname>
                        <type>EUCDM 6.1</type>
                        <code>11 02 001 000</code>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GoodsItemQuantity" type="ds:DeclarationGoodsItemQuantityType"/>
            <xs:element name="Submitter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Name" type="ds:SubmitterNameTextType"/>
                        <xs:element name="ID" type="ds:SubmitterIdentificationIDType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GoodsShipment" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="GovernmentAgencyGoodsItem" minOccurs="0" maxOccurs="999">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="SequenceNumeric" type="ds:GovernmentAgencyGoodsItemSequenceNumericType" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Goods item number</EUCDMname>
                                                <type>EUCDM 6.1</type>
                                                <code>11 03 001 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="PreviousDocument" minOccurs="0" maxOccurs="99">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Previous document</EUCDMname>
                                                <type>EUCDM 6.1</type>
                                                <code>12 01 000 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="SequenceNumeric" type="ds:PreviousDocumentSequenceNumericType"/>
                                                <xs:element name="WriteOff" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="QuantityQuantity" type="ds:WriteOffQuantityQuantityType" minOccurs="0">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <EUCDMname>Quantity</EUCDMname>
                                                                        <type>EUCDM 6.1</type>
                                                                        <code>12 01 006 000</code>
                                                                    </xs:documentation>
                                                                    <xs:documentation>
                                                                        <EUCDMname>Measurement unit and qualifier
                                                                        </EUCDMname>
                                                                        <type>EUCDM 6.1</type>
                                                                        <code>12 01 005 000</code>
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="ID" type="ds:PreviousDocumentIdentificationIDType" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <EUCDMname>Reference number</EUCDMname>
                                                            <type>EUCDM 6.1</type>
                                                            <code>12 01 001 000</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="TypeCode" type="ds:PreviousDocumentTypeCodeType" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <EUCDMname>Type</EUCDMname>
                                                            <type>EUCDM 6.1</type>
                                                            <code>12 01 002 000</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="LineNumeric" type="ds:PreviousDocumentLineNumericType" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <EUCDMname>Goods item identifier</EUCDMname>
                                                            <type>EUCDM 6.1</type>
                                                            <code>12 01 007 000</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="DischargingGoodsItemNumber" type="ds:PreviousDocumentDischargingGoodsItemNumberType" minOccurs="0"/>
                                                <xs:element name="ScrapQuantity" type="ds:ScrapQuantityQuantityType" minOccurs="0"/>
                                                <xs:element name="TaxRateOfGoodsUnderSpecialProcedure" type="ds:TaxRateOfGoodsUnderSpecialProcedureType" minOccurs="0"/>
                                                <xs:element name="CustomValuesOfGoodsUnderSpecialProcedure" type="ds:CustomValuesOfGoodsUnderSpecialProcedureType" minOccurs="0"/>
                                                <xs:element name="DischargingGoodsCNCode" type="ds:DischargingGoodsCNCodeType" minOccurs="0"/>
                                                <xs:element name="DischargingGoodsCustomsValue" type="ds:DischargingGoodsCustomsValueType" minOccurs="0"/>
                                                <xs:element name="RateOfYieldAtDischarge" type="ds:RateOfYieldAtDischargeType" minOccurs="0"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>