Export XSDs/B3 XSDs/DMS_B3_v1.17.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:ds="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
		   xmlns="urn:wco:datamodel:WCO:DEC-DMS:2"
		   xmlns:eds="urn:wco:datamodel:WCO:WCO_DEC_EDS_AUTHORISATION:1"
		   xmlns:ext="urn:eds:datamodel:EDS:EDS_EXTENSIONS:1"
		   targetNamespace="urn:wco:datamodel:WCO:DEC-DMS:2"
		   elementFormDefault="qualified" version="1.2.0">
	<xs:import namespace="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
			   schemaLocation="../DMS_DS/DMS_DS_v1.6.xsd"/>
	<xs:import namespace="urn:wco:datamodel:WCO:WCO_DEC_EDS_AUTHORISATION:1"
			   schemaLocation="../DMS_DS/WCO_EDS/WCO_DEC_EDS_AUTHORISATION.xsd"/>
	<xs:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:6"
			   schemaLocation="../DMS_DS/UNECE/UnqualifiedDataType_6_DMS.xsd"/>
	<xs:import namespace="urn:eds:datamodel:EDS:EDS_EXTENSIONS:1"
			   schemaLocation="../DMS_DS/EDS/EDS_EXTENSIONS.xsd"/>

	<xs:element name="Declaration" type="Declaration">
		<xs:annotation>
			<xs:documentation>
				<EUCDMname>Declaration</EUCDMname>
				<type>EUCDM 6.1</type>
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="Declaration">
		<xs:sequence>
			<xs:element name="Extensions" type="ext:ExtensionType" minOccurs="0" maxOccurs="15"/>
			<xs:element name="FunctionCode" type="ds:DeclarationFunctionCodeType"/>
			<xs:element name="ProcedureCategory" type="ds:DeclarationProcedureCategoryCodeType"/>
			<xs:element name="FunctionalReferenceID" type="ds:DeclarationFunctionalReferenceIDType">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>LRN</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>12 09 000 000</code>
						<code>12 09 001 000</code>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode" type="ds:DeclarationTypeCodeType">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Declaration type</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>11 01 001 000</code>
					</xs:documentation>
					<xs:documentation>
						<EUCDMname>Additional declaration type</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>11 02 001 000</code>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeclarationOfficeID" type="ds:DeclarationDeclarationOfficeIDType"/>
			<xs:element name="Submitter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="ds:SubmitterNameTextType"/>
						<xs:element name="ID" type="ds:SubmitterIdentificationIDType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="Agent" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Representative</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>13 06 000 000</code>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ID" type="ds:AgentIdentificationIDType">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Identification number</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>13 06 017 000</code>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="FunctionCode" type="ds:AgentFunctionCodeType">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Status</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>13 06 030 000</code>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Contact" minOccurs="0" maxOccurs="9">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Contact person</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>13 06 074 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SequenceNumeric" type="ds:AgentContactSequenceNumericType"/>
									<xs:element name="name" type="ds:AgentContactNameType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Name</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 06 074 016</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Communication" maxOccurs="2">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:AgentCommunicationSequenceNumericType"/>
												<xs:element name="ID" type="ds:CommunicationIdentificationIDType">
													<xs:annotation>
														<xs:documentation>
															<info>This is an ID element with format an..256
																which contains the email or phone number of the contact</info>
														</xs:documentation>
														<xs:documentation>
															<EUCDMname>Phone Number</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 06 074 075</code>
														</xs:documentation>
														<xs:documentation>
															<EUCDMname>Email Address</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 06 074 076</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="TypeCode" type="ds:CommunicationTypeCodeType">
													<xs:annotation>
														<xs:documentation>
															<info>This is a TypeCode element with format an..3
																which specifies whether the information in the
																above ID element is a phone number or an email</info>
														</xs:documentation>
														<xs:documentation>
															<EUCDMname>Phone Number</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 06 074 075</code>
														</xs:documentation>
														<xs:documentation>
															<EUCDMname>Email Address</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 06 074 076</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="Authorisation" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Authorisation</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>12 12 000 000</code>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SequenceNumeric" type="ds:AuthorisationSequenceNumericType">
						</xs:element>
						<xs:element name="ID" type="ds:AuthorisationIdentificationIDType">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Reference Number</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>12 12 001 000</code>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Type" type="ds:AuthorisationReferenceType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Type</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>12 12 002 000</code>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AuthorisationHolder" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="Declarant">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Declarant</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>13 05 000 000</code>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="ds:DeclarantNameTextType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Representative</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>13 05 016 000</code>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ID" type="ds:DeclarantIdentificationIDType">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Identification number</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>13 05 017 000</code>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Address" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Address</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>13 05 018 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CityName" type="ds:AddressCityNameTextType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>City</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 05 018 022</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CountryCode" type="ds:AddressCountryCodeType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Country</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 05 018 020</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Line" type="ds:AddressLineTextType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Street and number</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 05 018 019</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PostcodeID" type="ds:AddressPostcodeIDType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Postcode</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 05 018 021</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Contact" minOccurs="0" maxOccurs="9">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Contact person</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>13 05 074 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SequenceNumeric" type="ds:DeclarantContactSequenceNumericType"/>
									<xs:element name="Name" type="ds:ContactNameTextType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Name</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 06 074 016</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Communication" maxOccurs="2">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:DeclarantCommunicationSequenceNumericType"/>
												<xs:element name="ID" type="ds:CommunicationIdentificationIDType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Phone Number</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 05 074 075</code>
														</xs:documentation>
														<xs:documentation>
															<EUCDMname>Email Address</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 05 074 076</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="TypeCode" type="ds:CommunicationTypeCodeType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Phone Number</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 05 074 075</code>
														</xs:documentation>
														<xs:documentation>
															<EUCDMname>Email Address</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 05 074 076</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ExitOffice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Customs office of exit</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>17 01 000 000</code>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ID" type="ds:ExitOfficeIdentificationIDType">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Reference number</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>17 02 001 000</code>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Exporter" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Exporter</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>13 01 000 000</code>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="ds:ExporterNameTextType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Name</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>13 01 016 000</code>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ID" type="ds:ExporterIdentificationIDType">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Name</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>13 01 017 000</code>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Address" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Address</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>13 01 018 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CityName" type="ds:AddressCityNameTextType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>City</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 01 018 022</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CountryCode" type="ds:AddressCountryCodeType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Country</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 01 018 020</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Line" type="ds:AddressLineTextType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Street and number</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 01 018 019</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PostcodeID" type="ds:AddressPostcodeIDType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Postcode</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 01 018 021</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GoodsShipment" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Nature of transaction</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>99 05 000 000</code>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Extensions" type="ext:ExtensionType" minOccurs="0" maxOccurs="15"/>
						<xs:element name="SupportingDocument" minOccurs="0" maxOccurs="99">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Supporting document</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>12 03 000 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SequenceNumeric" type="ds:SupportingDocumentSequenceNumericType"/>
									<xs:element name="ExpirationDateTime" type="ds:SupportingDocumentDateofValidityDateTimeType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Date of validity</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 03 011 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ID" type="ds:SupportingDocumentIdentificationIDType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Reference number</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 03 001 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TypeCode" type="ds:SupportingDocumentTypeCodeType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Type</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 03 002 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="IssuingAuthorityName" type="ds:SupportingDocumentIssuingAuthorityName" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Issuing Authority name</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 03 010 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LineNumeric" type="ds:SupportingDocumentLineNumericType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Document Line Item Number</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 03 013 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="99">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Identification number</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>12 02 000 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SequenceNumeric" type="ds:AdditionalInformationSequenceNumericType"/>
									<xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Identification number</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 02 008 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Identification number</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 02 009 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="AEOMutualRecognitionParty" minOccurs="0" maxOccurs="99">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Additional supply chain actor</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>13 14 000 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SequenceNumeric" type="ds:AEOMutualRecognitionPartySequenceNumericType"/>
									<xs:element name="ID" type="ds:AEOMutualRecognitionPartyIdentificationIDType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Identification number</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 14 017 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="RoleCode" type="ds:AEOMutualRecognitionPartyRoleCodeType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Role</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 14 031 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Consignee" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Consignee</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>13 03 000 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Name" type="ds:ConsigneeNameTextType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Name</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 03 016 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ID" type="ds:ConsigneeIdentificationIDType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Identification number</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 03 017 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Address" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Address</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 03 018 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CityName" type="ds:AddressCityNameTextType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>City</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 03 018 022</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CountryCode" type="ds:AddressCountryCodeType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Country</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 03 018 020</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Line" type="ds:AddressLineTextType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Street and number</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 03 018 019</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="PostcodeID" type="ds:AddressPostcodeIDType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Postcode</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 03 018 021</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Consignment" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Consignment</EUCDMname>
									<type>EUCDM 6.1</type>
									<code></code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BorderTransportMeans" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>BorderTransportMeans</EUCDMname>
												<type>EUCDM 6.1</type>
												<code></code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ID" type="ds:BorderTransportMeansIdentificationIDType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Identification number</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>19 08 017 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="IdentificationTypeCode" type="ds:BorderTransportMeansIdentificationTypeCodeType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Type of identification</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>19 08 061 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="RegistrationNationalityCode" type="ds:BorderTransportMeansRegistrationNationalityCodeType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Nationality</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>19 08 062 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ModeCode" type="ds:BorderTransportMeansModeCodeType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Mode of transport at the border</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>19 03 001 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ContainerCode" type="ds:ConsignmentContainerCodeType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Container indicator</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>19 01 001 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DepartureTransportMeans" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Inland mode of transport</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>19 04 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ID" type="ds:DepartureTransportMeansIdentificationIDType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Identification number</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>19 05 017 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="IdentificationTypeCode" type="ds:DepartureTransportMeansIdentificationTypeCodeType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Type of identification</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>19 05 061 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="RegistrationNationalityCode" type="ds:DepartureTransportMeansRegistrationNationalityCodeType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Nationality</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>19 05 062 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ModeCode" type="ds:DepartureTransportMeansModeCodeType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Inland mode of transport</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>19 04 001 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="GoodsLocation">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Location of goods</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>16 15 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Name" type="ds:GoodsLocationNameTextType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>UN/LOCODE</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 15 036 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ID" type="ds:GoodsLocationIdentificationIDType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Additional identifier</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 15 053 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="TypeCode" type="ds:GoodsLocationTypeCodeType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Type of location</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 15 045 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="IdentificationType" type="ds:IdentificationQualifierCodeType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Qualifier of identification</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 15 046 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Address" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Address</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 15 018 000</code>
														</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>City name</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>16 15 018 022</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="CountryCode" type="ds:AddressCountryCodeType">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>Country</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>16 15 018 020</code>
																	</xs:documentation>
																	<xs:documentation>
																		<EUCDMname>Country</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>16 15 081 020</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>Street and number</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>16 15 018 019</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PostcodeID" type="ds:AddressPostcodeIDType">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>Postcode</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>16 15 018 021</code>
																	</xs:documentation>
																	<xs:documentation>
																		<EUCDMname>Postcode</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>16 15 081 021</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="streetNumber" type="ds:AddressStreetNumberType" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>House number</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>16 15 081 025</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="authorisationReferenceNumber" type="ds:GoodsLocationAuthorisationReferenceNumber" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Authorisation number</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 15 052 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CustomsOffice" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Customs office</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 15 047 000</code>
														</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="identification" type="ds:GoodsLocationCustomsOfficeIdentification">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>Reference number</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>16 15 047 001</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="latitude" type="ds:GoodsLocationLatitude" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Location of goods</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 15 048 049</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="longitude" type="ds:GoodsLocationLongitude" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Location of goods</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 15 048 050</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="EconomicOperator" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Economic operator</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 15 051 000</code>
														</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="identification" type="ds:GoodsLocationEconomicOperatorIdentification">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>Identification number</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>16 15 051 017</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="Contact" minOccurs="0" maxOccurs="9">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Contact person</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 15 074 000</code>
														</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="name" type="ds:GoodsLocationContactNameType">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>Name</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>16 15 074 016</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Communication" maxOccurs="2">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>Communication</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code></code>
																	</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="SequenceNumeric" type="ds:GoodsLocationContactCommunicationSequenceNumericType"/>
																		<xs:element name="ID" type="ds:CommunicationIdentificationIDType">
																			<xs:annotation>
																				<xs:documentation>
																					<EUCDMname>Phone Number</EUCDMname>
																					<type>EUCDM 6.1</type>
																					<code>16 15 074 075</code>
																				</xs:documentation>
																				<xs:documentation>
																					<EUCDMname>Email address</EUCDMname>
																					<type>EUCDM 6.1</type>
																					<code>16 15 074 076</code>
																				</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="TypeCode" type="ds:CommunicationTypeCodeType">
																			<xs:annotation>
																				<xs:documentation>
																					<EUCDMname>Phone Number</EUCDMname>
																					<type>EUCDM 6.1</type>
																					<code>16 15 074 075</code>
																				</xs:documentation>
																				<xs:documentation>
																					<EUCDMname>Email address</EUCDMname>
																					<type>EUCDM 6.1</type>
																					<code>16 15 074 076</code>
																				</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="TransportEquipment" minOccurs="0" maxOccurs="9999">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Transport equipment</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>19 07 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:TransportEquipmentSequenceNumericType" maxOccurs="9999">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Goods reference</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>19 07 044 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ID" type="ds:TransportEquipmentIdentificationIDType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Equipment identification number</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>19 07 063 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Destination" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Country of destination</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>16 03 000 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CountryCode" type="ds:DestinationCountryCodeType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Country of destination</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>16 03 001 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ExportCountry" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>ExportCountry</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>16 07 000 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ID" type="ds:ExportCountryCountryCodeType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Country of export</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>16 07 001 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="GoodsMeasure">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Gross mass</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>18 04 000 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="GrossMassMeasure" type="ds:GoodsMeasureGrossMassMeasureType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Gross mass</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>18 04 001 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="GovernmentAgencyGoodsItem" maxOccurs="999">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Statistical value</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>99 06 000 000</code>
								</xs:documentation>
								<xs:documentation>
									<EUCDMname>Goods item number</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>11 03 000 000</code>
								</xs:documentation>
								<xs:documentation>
									<EUCDMname>Nature of transaction</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>99 05 000 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SequenceNumeric" type="ds:GovernmentAgencyGoodsItemSequenceNumericType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Goods item number</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>11 03 001 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Extensions" type="ext:ExtensionType" minOccurs="0" maxOccurs="15"/>
									<xs:element name="StatisticalValueAmount" type="ds:GovernmentAgencyGoodsItemStatisticalValueAmountType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Statistical value</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>99 06 001 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="99">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Additional information</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 02 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:AdditionalInformationSequenceNumericType"/>
												<xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Code</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>12 02 008 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Text</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>12 02 009 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="AEOMutualRecognitionParty" minOccurs="0" maxOccurs="99">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Additional supply chain actor</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 14 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:AEOMutualRecognitionPartySequenceNumericType"/>
												<xs:element name="ID" type="ds:AEOMutualRecognitionPartyIdentificationIDType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Identification number</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 14 017 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="RoleCode" type="ds:AEOMutualRecognitionPartyRoleCodeType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Role</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 14 031 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Commodity">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Description of goods</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>18 05 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Description" type="ds:CommodityDescriptionTextType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Description of goods</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>18 05 001 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Classification" minOccurs="2" maxOccurs="99">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Commodity code</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>18 09 000 000</code>
														</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="SequenceNumeric" type="ds:CommodityClassificationSequenceNumericType"/>
															<xs:element name="ID" type="ds:ClassificationIdentificationIDType">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>Harmonized System sub-heading code</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>18 09 056 000</code>
																	</xs:documentation>
																	<xs:documentation>
																		<EUCDMname>Combined nomenclature code</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>18 09 057 000</code>
																	</xs:documentation>
																	<xs:documentation>
																		<EUCDMname>TARIC additional code</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>18 09 059 000</code>
																	</xs:documentation>
																	<xs:documentation>
																		<EUCDMname>National additional code</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>18 09 060 000</code>
																	</xs:documentation>
																	<xs:documentation>
																		<EUCDMname>CUS code</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>18 08 001 000</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="IdentificationTypeCode" type="ds:ClassificationIdentificationTypeCodeType">
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="DutyTaxFee" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Duties and taxes</EUCDMname>
															<type>EUCDM 6.1</type>
															<code></code>
														</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="SequenceNumeric" type="ds:CommodityDutyTaxFeeSequenceNumericType"/>
															<xs:element name="AdValoremTaxBaseAmount" type="ds:DutyTaxFeeAdValoremTaxBaseAmountType" minOccurs="0">
															</xs:element>
															<xs:element name="SpecificTaxBaseQuantity" type="ds:DutyTaxFeeSpecificTaxBaseQuantityType" minOccurs="0">
															</xs:element>
															<xs:element name="Tax" type="ds:DutyTaxFeeTaxAmountType" minOccurs="0">
															</xs:element>
															<xs:element name="Payment" minOccurs="0">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="PaymentAmount" type="ds:PaymentPaymentAmountType">
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="GoodsMeasure">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Supplementary units</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>18 02 000 000</code>
														</xs:documentation>
														<xs:documentation>
															<EUCDMname>Net mass</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>18 01 000 000</code>
														</xs:documentation>
														<xs:documentation>
															<EUCDMname>Gross mass</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>18 04 000 000</code>
														</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="GrossMassMeasure" type="ds:GoodsMeasureGrossMassMeasureType">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>Gross mass</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>18 04 001 000</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="NetNetWeightMeasure" type="ds:GoodsMeasureNetNetWeightMeasureType">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>Net mass</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>18 01 001 000</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="TariffQuantity" type="ds:GoodsMeasureTariffQuantityType" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>Gross mass</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>18 02 001 000</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Consignee" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Consignee</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 03 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Name" type="ds:ConsigneeNameTextType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Name</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 03 016 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ID" type="ds:ConsigneeIdentificationIDType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Identification number</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 03 017 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Address" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Address</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 03 018 000</code>
														</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="CityName" type="ds:AddressCityNameTextType">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>City</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>13 03 017 022</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="CountryCode" type="ds:AddressCountryCodeType">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>Consignee</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>13 03 017 020</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Line" type="ds:AddressLineTextType">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>Street and number</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>13 03 017 019</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PostcodeID" type="ds:AddressPostcodeIDType">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>Postcode</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>13 03 017 021</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Destination" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Country of destination</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>16 03 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CountryCode" type="ds:DestinationCountryCodeType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Country of destination</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 03 001 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ExportCountry" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>ExportCountry</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>16 07 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ID" type="ds:ExportCountryCountryCodeType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Country of export</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 07 001 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="GovernmentProcedure" minOccurs="2" maxOccurs="100">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Procedure</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>11 09 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:GovernmentProcedureSequenceNumericType"/>
												<xs:element name="CurrentCode" type="ds:GovernmentProcedureCurrentCodeType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Requested procedure</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>11 09 001 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="PreviousCode" type="ds:GovernmentProcedurePreviousCodeType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Previous procedure</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>11 09 002 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Origin" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Country of origin</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>16 08 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:OriginSequenceNumericType"/>
												<xs:element name="CountryCode" type="ds:OriginCountryCodeType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Country of origin</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 08 001 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="TypeCode" type="ds:OriginTypeCodeType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Country of origin</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 08 001 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Packaging" maxOccurs="99">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Packaging</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>18 06 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:PackagingSequenceNumericType"/>
												<xs:element name="MarksNumbersID" type="ds:PackagingMarksNumbersIDType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Shipping marks</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>18 06 054 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="QuantityQuantity" type="ds:PackagingQuantityQuantityType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Number of packages</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>18 06 004 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="TypeCode" type="ds:PackagingTypeCodeType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Number of packages</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>18 06 003 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="PreviousDocument" minOccurs="0" maxOccurs="99">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Previous document</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 01 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:PreviousDocumentSequenceNumericType"/>
												<xs:element name="WriteOff" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="QuantityQuantity" type="ds:WriteOffQuantityQuantityType" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>Write-off quantity</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>12 01 005 000 and 12 01 006 000</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Packaging" minOccurs="0">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="QuantityQuantity" type="ds:PackagingQuantityQuantityType">
																			<xs:annotation>
																				<xs:documentation>
																					<EUCDMname>Number of packages</EUCDMname>
																					<type>EUCDM 6.1</type>
																					<code>12 01 004 000</code>
																				</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="TypeCode" type="ds:PackagingTypeCodeType">
																			<xs:annotation>
																				<xs:documentation>
																					<EUCDMname>Type of packages</EUCDMname>
																					<type>EUCDM 6.1</type>
																					<code>12 01 003 000</code>
																				</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="CategoryCode" type="ds:PreviousDocumentCategoryCodeType">
												</xs:element>
												<xs:element name="ID" type="ds:PreviousDocumentIdentificationIDType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Reference number</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>12 01 001 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="TypeCode" type="ds:PreviousDocumentTypeCodeType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Type</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>12 01 002 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="LineNumeric" type="ds:PreviousDocumentLineNumericType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Goods item identifier</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>12 01 007 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="UCR" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Reference number/UCR</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 08 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="TraderAssignedReferenceID" type="ds:UCRTraderAssignedReferenceIDType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Reference number/UCR</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>12 08 001 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="SupportingDocument" minOccurs="0" maxOccurs="99">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Supporting document</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 03 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:SupportingDocumentSequenceNumericType"/>
												<xs:element name="ExpirationDateTime" type="ds:SupportingDocumentDateofValidityDateTimeType" minOccurs="0">
												</xs:element>
												<xs:element name="ID" type="ds:SupportingDocumentIdentificationIDType">
												</xs:element>
												<xs:element name="TypeCode" type="ds:SupportingDocumentTypeCodeType">
												</xs:element>
												<xs:element name="IssuingAuthorityName" type="ds:SupportingDocumentIssuingAuthorityName" minOccurs="0">
												</xs:element>
												<xs:element name="LineNumeric" type="ds:SupportingDocumentLineNumericType" minOccurs="0">
												</xs:element>
												<xs:element name="WriteOff" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="QuantityQuantity" type="ds:WriteOffQuantityQuantityType" minOccurs="0">
															</xs:element>
															<xs:element name="AmountAmount" type="ds:WriteOffAmountAmountType" minOccurs="0">
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="Authorisation" minOccurs="0" maxOccurs="99">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Authorisation</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 12 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:AuthorisationSequenceNumericType"/>
												<xs:element name="ID" type="ds:AuthorisationIdentificationIDType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Authorisation</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>12 12 001 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Type" type="ds:AuthorisationReferenceType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Authorisation</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>12 12 002 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="AuthorisationHolder" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PreviousDocument" minOccurs="0" maxOccurs="99">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Previous document</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>12 01 000 000</code>
								</xs:documentation>
								<xs:documentation>
									<EUCDMname>Date and time of presentation of goods</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>15 08 001 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SequenceNumeric" type="ds:PreviousDocumentSequenceNumericType"/>
									<xs:element name="AcceptanceDateTime" type="ds:PreviousDocumentAcceptanceDateTimeType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Date and time of presentation of goods</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>15 08 001 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CategoryCode" type="ds:PreviousDocumentCategoryCodeType"/>
									<xs:element name="ID" type="ds:PreviousDocumentIdentificationIDType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Reference number</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 01 001 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TypeCode" type="ds:PreviousDocumentTypeCodeType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Type</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 01 002 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="UCR" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Reference number/UCR</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>12 08 000 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TraderAssignedReferenceID" type="ds:UCRTraderAssignedReferenceIDType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Reference number/UCR</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 08 001 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Warehouse">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Warehouse</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>12 11 000 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ID" type="ds:WarehouseIdentificationIDType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Identifier</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 11 015 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TypeCode" type="ds:WarehouseTypeCodeType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Type</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 11 002 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PresentationOffice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Customs office of presentation</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>17 09 000 000</code>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ID" type="ds:PresentationOfficeIdentificationIDType">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Reference number</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>17 09 001 000</code>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="SupervisingOffice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Supervising customs office</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>17 10 000 000</code>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ID" type="ds:SupervisingOfficeIdentificationIDType">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Reference number</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>17 10 001 000</code>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="ExportOffice">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Customs office of export</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>17 02 000 000</code>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="identification" type="ds:ExportOfficeIdentificationIDType">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Reference number</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>17 02 001 000</code>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

		</xs:sequence>
	</xs:complexType>
</xs:schema>
