I2 XSDs/toldsystemet_I2_v1.2.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
           xmlns="urn:wco:datamodel:WCO:DEC-DMS:2" targetNamespace="urn:wco:datamodel:WCO:DEC-DMS:2"
           elementFormDefault="qualified" version="1.1.7">
    <xs:import namespace="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
               schemaLocation="toldsystemet_DS/toldsystemet_DS_v1.2.xsd"/>
    <xs:element name="Declaration" type="Declaration"/>
    <xs:complexType name="Declaration">
        <xs:annotation>
            <xs:documentation>
                <details>
                    I2 declaration.
                </details>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>

            <xs:element name="FunctionCode" type="ds:DeclarationFunctionCodeType"/>
            <xs:element name="ProcedureCategory" type="ds:DeclarationProcedureCategoryCodeType"/>
            <xs:element name="FunctionalReferenceID" type="ds:DeclarationFunctionalReferenceIDType">
                <xs:annotation>
                    <xs:documentation>
                        <type>EUCDM 6.1</type>
                        <code>12 09 001 000</code>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ID" type="ds:DeclarationIdentificationIDType" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <type>DMS specific field</type>
                        <details>
                            The MRN.
                            Fill in the MRN for the H7 declaration the I2 should be added to.
                        </details>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TypeCode" type="ds:DeclarationTypeCodeType">
                <xs:annotation>
                    <xs:documentation>
                        <type>EUCDM 6.1</type>
                        <code>11 01 001 000 and 11 02 001 000</code>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Submitter" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <type>DMS specific field</type>
                        <details>
                            Name and identifier of submitting company.
                        </details>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Name" type="ds:SubmitterNameTextType" minOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    <details>
                                        The CVR/SE-number/EORI given by the client certificate used for the submission
                                        of declarations.
                                    </details>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="ID" type="ds:SubmitterIdentificationIDType" minOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    <details>
                                        The CVR/SE-number/EORI given by the client certificate used for the submission
                                        of declarations.
                                    </details>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="Agent" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <type>EUCDM 6.1</type>
                        <code>13 06 000 000</code>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ID" type="ds:AgentIdentificationIDType">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 6.1</type>
                                    <code>13 06 017 000</code>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="FunctionCode" type="ds:AgentFunctionCodeType">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 6.1</type>
                                    <code>13 06 030 000</code>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Declarant">
                <xs:annotation>
                    <xs:documentation>
                        <type>EUCDM 6.1</type>
                        <code>13 05 000 000</code>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Name" type="ds:DeclarantNameTextType" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 6.1</type>
                                    <code>13 05 016 000</code>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="ID" type="ds:DeclarantIdentificationIDType">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 6.1</type>
                                    <code>13 05 017 000</code>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="Address" minOccurs="0" maxOccurs="1">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 6.1</type>
                                    <code>13 05 018 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="CityName" type="ds:AddressCityNameTextType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 6.1</type>
                                                <code>13 05 018 022</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="CountryCode" type="ds:AddressCountryCodeType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 6.1</type>
                                                <code>13 05 018 020</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Line" type="ds:AddressLineTextType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 6.1</type>
                                                <code>13 05 018 019</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 6.1</type>
                                                <code>13 05 018 021</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GoodsShipment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Consignment" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="GoodsLocation" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 6.1</type>
                                                <code>16 15 000 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Name" type="ds:GoodsLocationNameTextType" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <type>EUCDM 6.1</type>
                                                            <code>16 15 036 000</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="ID" type="ds:GoodsLocationIdentificationIDType" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <type>EUCDM 6.1</type>
                                                            <code>16 15 053 000</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="TypeCode" type="ds:GoodsLocationTypeCodeType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <type>EUCDM 6.1</type>
                                                            <code>16 15 045 000</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="IdentificationType" type="ds:IdentificationQualifierCodeType" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <type>EUCDM 6.1</type>
                                                            <code>16 15 046 000</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="Address">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <type>EUCDM 6.1</type>
                                                            <code>16 15 018 000</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <type>EUCDM 6.1</type>
                                                                        <code>16 15 018 022</code>
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="CountryCode" type="ds:AddressCountryCodeType">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <type>EUCDM 6.1</type>
                                                                        <code>16 15 018 000 and 16 15 081 020</code>
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <type>EUCDM 6.1</type>
                                                                        <code>16 15 018 019</code>
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <type>EUCDM 6.1</type>
                                                                        <code>16 15 018 021 or 16 15 081 021</code>
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="streetNumber" type="ds:AddressStreetNumberType" minOccurs="0">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <type>EUCDM 6.1</type>
                                                                        <code>16 15 081 025</code>
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="authorisationReferenceNumber" type="ds:GoodsLocationAuthorisationReferenceNumber" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <type>EUCDM 6.1</type>
                                                            <code>16 15 052 000</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="CustomsOffice" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <type>EUCDM 6.1</type>
                                                            <code>16 15 047 000</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="identification" type="ds:GoodsLocationCustomsOfficeIdentification" minOccurs="0">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <type>EUCDM 6.1</type>
                                                                        <code>16 15 047 001</code>
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="latitude" type="ds:GoodsLocationLatitude" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <type>EUCDM 6.1</type>
                                                            <code>16 15 048 049</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="longitude" type="ds:GoodsLocationLongitude" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <type>EUCDM 6.1</type>
                                                            <code>16 15 048 050</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="EconomicOperator" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <type>EUCDM 6.1</type>
                                                            <code>16 15 051 000</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="identification" type="ds:GoodsLocationEconomicOperatorIdentification" minOccurs="0">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <type>EUCDM 6.1</type>
                                                                        <code>16 15 051 017</code>
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="TransportEquipment" minOccurs="0" maxOccurs="unbounded">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 6.1</type>
                                                <code>19 07 000 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="SequenceNumeric" type="ds:TransportEquipmentSequenceNumericType" minOccurs="1">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <type>EUCDM 6.1</type>
                                                            <code>19 07 044 000</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="ID" type="ds:TransportEquipmentIdentificationIDType" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <type>EUCDM 6.1</type>
                                                            <code>19 07 063 000</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="PreviousDocument" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>
                                    <type>EUCDM 6.1</type>
                                    <code>12 01 000 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="SequenceNumeric" type="ds:PreviousDocumentSequenceNumericType"/>
                                    <xs:element name="CategoryCode" type="ds:PreviousDocumentCategoryCodeType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 6.1</type>
                                                <code>12 01 002 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="ID" type="ds:PreviousDocumentIdentificationIDType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 6.1</type>
                                                <code>12 01 001 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TypeCode" type="ds:PreviousDocumentTypeCodeType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <type>EUCDM 6.1</type>
                                                <code>12 01 002 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="LineNumeric" type="ds:PreviousDocumentLineNumericType"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:sequence>
    </xs:complexType>
</xs:schema>
