Notification XSDs/SynchronousMessages/response_exitResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">
  <xs:element name="response" type="exitResponse"/>
  <xs:complexType name="exitResponse">
    <xs:sequence>
      <xs:element name="mrn" type="xs:string" minOccurs="0"/>
      <xs:element name="sender" type="xs:string" minOccurs="0"/>
      <xs:element name="validationErrors" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
