Notification XSDs/SynchronousMessages/response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <xs:element name="response" type="Response"/>

  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element name="lrn" type="xs:string"/>
      <xs:element name="mrn" type="xs:string"/>
      <xs:element name="declaration" type="xs:string"/>
      <xs:element name="validationErrors" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
