Notification XSDs/SynchronousMessages/SuccessfulSubmissionResponseDTO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
<!-- root element -->
  <xs:element name="SuccessfulResponseDTO" type="SuccessfulSubmissionResponseDTO"/>
<!-- Definition for SuccessfulSubmissionResponseDTO -->
  <xs:complexType name="SuccessfulSubmissionResponseDTO">
    <xs:sequence>
      <xs:element name="lrn" type="xs:string"/>
      <xs:element name="mrn" type="xs:string"/>
      <xs:element name="uuid" type="xs:string"/>
      <xs:element name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
