Transit XSDs/IE Messages/IE007 - Arrival Notification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ncts.dgtaxud.ec" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://ncts.dgtaxud.ec" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="51.8.2" vc:minVersion="1.1">
    <!--================================================================================-->
    <!--===== IE007: E_ARR_NOT                                                                -->
    <!--===== ARRIVAL NOTIFICATION                                                            -->
    <!--===== NCTS P5 Phase Definition                                                        -->
    <!--===== XSD Version 51.8.2                                                              -->
    <!--================================================================================-->
    <!--================================================================================-->
    <!--===== Includes                                                                        -->
    <!--================================================================================-->
    <xs:include schemaLocation="../NCTS_DS/ctypes.xsd" />
    <xs:include schemaLocation="../NCTS_DS/htypes.xsd" />
    <!--================================================================================-->
    <!--===== Root Element                                                                    -->
    <!--================================================================================-->
    <xs:element name="CC007C" type="CC007CType" />
    <!--================================================================================-->
    <!--===== Root Element Content                                                            -->
    <!--================================================================================-->
    <xs:complexType name="CC007CType">
        <xs:sequence>
            <xs:element name="messageSender" type="MessageSenderContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Message sender" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="messageRecipient" type="MessageRecipientContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Message recipient" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="preparationDateAndTime" type="PreparationDateAndTimeContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Preparation date and time" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="messageIdentification" type="MessageIdentificationContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Message identification" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="messageType" type="MessageTypes">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Message type" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="correlationIdentifier" type="CorrelationIdentifierContentType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Correlation identifier" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TransitOperation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MRN" type="MrnContentType05">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="MRN" />
                                    <format value="an18" />
                                    <optionality value="R" />
                                    <xsdBaseType value="MRNType" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="arrivalNotificationDateAndTime" type="ArrivalNotificationDateAndTimeContentType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Arrival notification date and time" />
                                    <format value="an19" />
                                    <optionality value="R" />
                                    <xsdBaseType value="DateTimeType" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="simplifiedProcedure" type="Flag">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Simplified procedure" />
                                    <format value="n1" />
                                    <optionality value="R" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="incidentFlag" type="Flag">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Incident flag" />
                                    <format value="n1" />
                                    <optionality value="R" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Authorisation" minOccurs="0" maxOccurs="9">
                <xs:annotation>
                    <xs:documentation>
                        <description value="AUTHORISATION" />
                        <optionality value="D" />
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Sequence number" />
                                    <format value="n..5" />
                                    <optionality value="R" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="type" type="TypeContentType04">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Type" />
                                    <format value="an..4" />
                                    <optionality value="R" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="referenceNumber" type="ReferenceNumberContentType03">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Reference number" />
                                    <format value="an..35" />
                                    <optionality value="R" />
                                    <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CustomsOfficeOfDestinationActual">
                <xs:annotation>
                    <xs:documentation>
                        <description value="CUSTOMS OFFICE OF DESTINATION (ACTUAL)" />
                        <optionality value="R" />
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="referenceNumber" type="ReferenceNumberContentType05">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Reference number" />
                                    <format value="an8" />
                                    <optionality value="R" />
                                    <xsdBaseType value="CORefNumType" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="TraderAtDestination">
                <xs:annotation>
                    <xs:documentation>
                        <description value="TRADER AT DESTINATION" />
                        <optionality value="R" />
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="identificationNumber" type="IdentificationNumberContentType01">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Identification number" />
                                    <format value="an..17" />
                                    <optionality value="R" />
                                    <xsdBaseType value="AlphaNumeric_MAX17_NoSpaces" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="communicationLanguageAtDestination" minOccurs="0" type="CommunicationLanguageAtDestinationContentType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Communication language at destination" />
                                    <format value="a2" />
                                    <optionality value="O" />
                                    <xsdBaseType value="LanguageCodeType" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Consignment">
                <xs:annotation>
                    <xs:documentation>
                        <description value="CONSIGNMENT" />
                        <optionality value="R" />
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="LocationOfGoods">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="LOCATION OF GOODS" />
                                    <optionality value="R" />
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="typeOfLocation" type="TypeOfLocationContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Type of location" />
                                                <format value="a1" />
                                                <optionality value="R" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="qualifierOfIdentification" type="QualifierOfIdentificationContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Qualifier of identification" />
                                                <format value="a1" />
                                                <optionality value="R" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="authorisationNumber" minOccurs="0" type="AuthorisationNumberContentType02">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Authorisation number" />
                                                <format value="an..35" />
                                                <optionality value="D" />
                                                <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="additionalIdentifier" minOccurs="0" type="AdditionalIdentifierContentType02">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Additional identifier" />
                                                <format value="an..4" />
                                                <optionality value="D" />
                                                <xsdBaseType value="AlphaNumeric_MAX4_NoSpaces" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="UNLocode" minOccurs="0" type="UNLocodeContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="UN LOCODE" />
                                                <format value="an..17" />
                                                <optionality value="D" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="CustomsOffice" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="CUSTOMS OFFICE" />
                                                <optionality value="D" />
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="referenceNumber" type="ReferenceNumberContentType05">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Reference number" />
                                                            <format value="an8" />
                                                            <optionality value="R" />
                                                            <xsdBaseType value="CORefNumType" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="GNSS" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="GNSS" />
                                                <optionality value="D" />
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="latitude" type="LatitudeContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Latitude" />
                                                            <format value="an..17" />
                                                            <optionality value="R" />
                                                            <xsdBaseType value="GNSSLatitude" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="longitude" type="LongitudeContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Longitude" />
                                                            <format value="an..17" />
                                                            <optionality value="R" />
                                                            <xsdBaseType value="GNSSLongitude" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="EconomicOperator" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="ECONOMIC OPERATOR" />
                                                <optionality value="D" />
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="identificationNumber" type="IdentificationNumberContentType01">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Identification number" />
                                                            <format value="an..17" />
                                                            <optionality value="R" />
                                                            <xsdBaseType value="AlphaNumeric_MAX17_NoSpaces" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Address" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="ADDRESS" />
                                                <optionality value="D" />
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="streetAndNumber" type="StreetAndNumberContentType02">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Street and number" />
                                                            <format value="an..70" />
                                                            <optionality value="R" />
                                                            <xsdBaseType value="AlphaNumeric_MAX70_NoSpaces" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="postcode" minOccurs="0" type="PostcodeContentType02">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Postcode" />
                                                            <format value="an..17" />
                                                            <optionality value="D" />
                                                            <xsdBaseType value="AlphaNumeric_MAX17_NoSpaces" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="city" type="CityContentType03">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="City" />
                                                            <format value="an..35" />
                                                            <optionality value="R" />
                                                            <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="country" type="CountryContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Country" />
                                                            <format value="a2" />
                                                            <optionality value="R" />
                                                            <xsdBaseType value="CountryCodeType" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="PostcodeAddress" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="POSTCODE ADDRESS" />
                                                <optionality value="D" />
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="houseNumber" minOccurs="0" type="HouseNumberContentType02">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="House number" />
                                                            <format value="an..17" />
                                                            <optionality value="D" />
                                                            <xsdBaseType value="AlphaNumeric_MAX17_NoSpaces" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="postcode" type="PostcodeContentType02">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Postcode" />
                                                            <format value="an..17" />
                                                            <optionality value="R" />
                                                            <xsdBaseType value="AlphaNumeric_MAX17_NoSpaces" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="country" type="CountryContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Country" />
                                                            <format value="a2" />
                                                            <optionality value="R" />
                                                            <xsdBaseType value="CountryCodeType" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="ContactPerson" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="CONTACT PERSON" />
                                                <optionality value="D" />
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="name" type="NameContentType02">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Name" />
                                                            <format value="an..70" />
                                                            <optionality value="R" />
                                                            <xsdBaseType value="AlphaNumeric_MAX70_NoSpaces" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="phoneNumber" type="PhoneNumberContentType02">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Phone number" />
                                                            <format value="an..35" />
                                                            <optionality value="R" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="eMailAddress" minOccurs="0" type="EMailAddressContentType02">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="E-mail address" />
                                                            <format value="an..256" />
                                                            <optionality value="O" />
                                                            <xsdBaseType value="EmailAddressType256_NoSpaces" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Incident" minOccurs="0" maxOccurs="9">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="INCIDENT" />
                                    <optionality value="O" />
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Sequence number" />
                                                <format value="n..5" />
                                                <optionality value="R" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="code" type="CodeContentType01">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Code" />
                                                <format value="n1" />
                                                <optionality value="R" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="text" type="TextContentType02">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Text" />
                                                <format value="an..512" />
                                                <optionality value="R" />
                                                <xsdBaseType value="AlphaNumeric_MAX512_NoSpaces" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Endorsement" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="ENDORSEMENT" />
                                                <optionality value="O" />
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="date" type="DateContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Date" />
                                                            <format value="an10" />
                                                            <optionality value="R" />
                                                            <xsdBaseType value="DateType" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="authority" type="AuthorityContentType01">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Authority" />
                                                            <format value="an..35" />
                                                            <optionality value="R" />
                                                            <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="place" type="PlaceContentType01">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Place" />
                                                            <format value="an..35" />
                                                            <optionality value="R" />
                                                            <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="country" type="CountryContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Country" />
                                                            <format value="a2" />
                                                            <optionality value="R" />
                                                            <xsdBaseType value="CountryCodeType" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Location">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="LOCATION" />
                                                <optionality value="R" />
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="qualifierOfIdentification" type="QualifierOfIdentificationContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Qualifier of identification" />
                                                            <format value="a1" />
                                                            <optionality value="R" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="UNLocode" minOccurs="0" type="UNLocodeContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="UN LOCODE" />
                                                            <format value="an..17" />
                                                            <optionality value="D" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="country" type="CountryContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Country" />
                                                            <format value="a2" />
                                                            <optionality value="R" />
                                                            <xsdBaseType value="CountryCodeType" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="GNSS" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="GNSS" />
                                                            <optionality value="D" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="latitude" type="LatitudeContentType">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="Latitude" />
                                                                        <format value="an..17" />
                                                                        <optionality value="R" />
                                                                        <xsdBaseType value="GNSSLatitude" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="longitude" type="LongitudeContentType">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="Longitude" />
                                                                        <format value="an..17" />
                                                                        <optionality value="R" />
                                                                        <xsdBaseType value="GNSSLongitude" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="Address" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="ADDRESS" />
                                                            <optionality value="D" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="streetAndNumber" type="StreetAndNumberContentType02">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="Street and number" />
                                                                        <format value="an..70" />
                                                                        <optionality value="R" />
                                                                        <xsdBaseType value="AlphaNumeric_MAX70_NoSpaces" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="postcode" minOccurs="0" type="PostcodeContentType02">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="Postcode" />
                                                                        <format value="an..17" />
                                                                        <optionality value="D" />
                                                                        <xsdBaseType value="AlphaNumeric_MAX17_NoSpaces" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="city" type="CityContentType03">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="City" />
                                                                        <format value="an..35" />
                                                                        <optionality value="R" />
                                                                        <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="TransportEquipment" minOccurs="0" maxOccurs="9999">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="TRANSPORT EQUIPMENT" />
                                                <optionality value="D" />
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Sequence number" />
                                                            <format value="n..5" />
                                                            <optionality value="R" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="containerIdentificationNumber" minOccurs="0" type="ContainerIdentificationNumberContentType02">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Container identification number" />
                                                            <format value="an..17" />
                                                            <optionality value="D" />
                                                            <xsdBaseType value="ContainerIdentificationNumber_NoSpaces" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="numberOfSeals" minOccurs="0" type="NumberOfSealsContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Number of seals" />
                                                            <format value="n..4" />
                                                            <optionality value="D" />
                                                            <xsdBaseType value="NumericWithZero_4" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="Seal" minOccurs="0" maxOccurs="99">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="SEAL" />
                                                            <optionality value="D" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="Sequence number" />
                                                                        <format value="n..5" />
                                                                        <optionality value="R" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="identifier" type="IdentifierContentType02">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="Identifier" />
                                                                        <format value="an..20" />
                                                                        <optionality value="R" />
                                                                        <xsdBaseType value="AlphaNumeric_MAX20_NoSpaces" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="GoodsReference" minOccurs="0" maxOccurs="9999">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="GOODS REFERENCE" />
                                                            <optionality value="O" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="Sequence number" />
                                                                        <format value="n..5" />
                                                                        <optionality value="R" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="declarationGoodsItemNumber" type="DeclarationGoodsItemNumberContentType01">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="Declaration goods item number" />
                                                                        <format value="n..5" />
                                                                        <optionality value="R" />
                                                                        <xsdBaseType value="DeclarationGoodsItemNumberType" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Transhipment" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="TRANSHIPMENT" />
                                                <optionality value="D" />
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="containerIndicator" type="Flag">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Container indicator" />
                                                            <format value="n1" />
                                                            <optionality value="R" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="TransportMeans">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="TRANSPORT MEANS" />
                                                            <optionality value="R" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="typeOfIdentification" type="TypeOfIdentificationContentType">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="Type of identification" />
                                                                        <format value="n2" />
                                                                        <optionality value="R" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="identificationNumber" type="IdentificationNumberContentType06">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="Identification number" />
                                                                        <format value="an..35" />
                                                                        <optionality value="R" />
                                                                        <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="nationality" type="NationalityContentType">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="Nationality" />
                                                                        <format value="a2" />
                                                                        <optionality value="R" />
                                                                        <xsdBaseType value="CountryCodeType" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="PhaseID" type="phaseIDtype" />
    </xs:complexType>
</xs:schema>
