Transit XSDs/IE Messages/IE007.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           xmlns="http://ncts.dgtaxud.ec" targetNamespace="http://ncts.dgtaxud.ec"
           elementFormDefault="unqualified" attributeFormDefault="unqualified" version="51.8.0" vc:minVersion="1.1">
    <!--================================================================================-->
    <!--===== IE015: E_DEC_DAT                                                          -->
    <!--===== DECLARATION DATA                                                          -->
    <!--===== NCTS P5 Phase Definition                                                  -->
    <!--===== XSD Version 51.8.0                                                        -->
    <!--================================================================================-->
    <!--================================================================================-->
    <!--===== Includes                                                                  -->
    <!--================================================================================-->
    <xs:include schemaLocation="../NCTS_DS/ctypes.xsd"/>
    <xs:include schemaLocation="../NCTS_DS/htypes.xsd"/>
    <!--================================================================================-->
    <!--===== Root Element                                                              -->
    <!--================================================================================-->
    <xs:element name="CC007C" type="CC007CType"/>
    <!--================================================================================-->
    <!--===== Root Element Content                                                      -->
    <!--================================================================================-->
    <xs:complexType name="CC007CType">
        <xs:sequence>
            <xs:element name="Message" type="MessageSenderContentType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="messageSender" type="MessageSenderContentType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Message sender"/>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="messageRecipient" type="MessageRecipientContentType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Message recipient"/>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="preparationDateAndTime" type="PreparationDateAndTimeContentType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Preparation date and time"/>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="messageIdentification" type="MessageIdentificationContentType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Message identification"/>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="messageType" type="MessageTypes">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Message type"/>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="correlationIdentifier" type="CorrelationIdentifierContentType" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Correlation identifier"/>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="TransitOperation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MRN" type="MrnContentType05">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="MRN"/>
                                    <format value="an18"/>
                                    <optionality value="R"/>
                                    <xsdBaseType value="MRNType"/>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="arrivalNotificationDateAndTime"
                                    type="ArrivalNotificationDateAndTimeContentType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Arrival notification date and time"/>
                                    <format value="an19"/>
                                    <optionality value="R"/>
                                    <xsdBaseType value="DateTimeType"/>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="simplifiedProcedure" type="Flag">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Simplified procedure"/>
                                    <codeList code="CL027" type="technical" name="Flag"/>
                                    <format value="n1"/>
                                    <optionality value="R"/>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="incidentFlag" type="Flag">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Incident flag"/>
                                    <codeList code="CL027" type="technical" name="Flag"/>
                                    <format value="n1"/>
                                    <optionality value="R"/>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Authorisation" minOccurs="0" maxOccurs="9">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Sequence number"/>
                                    <format value="n..5"/>
                                    <optionality value="R"/>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="type" type="TypeContentType04">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Type"/>
                                    <codeList code="CL236" type="business" name="Authorisationtypedestination"/>
                                    <format value="an..4"/>
                                    <optionality value="R"/>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="referenceNumber" type="ReferenceNumberContentType03">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Reference number"/>
                                    <format value="an..35"/>
                                    <optionality value="R"/>
                                    <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces"/>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CustomsOfficeOfDestinationActual">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="referenceNumber" type="ReferenceNumberContentType05">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Reference number"/>
                                    <codeList code="CL171" type="business" name="CustomsOfficeDeparture"/>
                                    <format value="an8"/>
                                    <optionality value="R"/>
                                    <xsdBaseType value="CORefNumType"/>
                                </xs:documentation>
                                <xs:documentation>
                                    <xs:EUCDMName>Reference Number</xs:EUCDMName>
                                    <xs:Code>17 03 001 000</xs:Code>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="TraderAtDestination">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="identificationNumber" type="IdentificationNumberContentType01">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Identification number"/>
                                    <format value="an..17"/>
                                    <optionality value="R"/>
                                    <xsdBaseType value="AlphaNumeric_MAX17_NoSpaces"/>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="communicationLanguageAtDestination" minOccurs="0"
                                    type="CommunicationLanguageAtDestinationContentType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Communication language at destination"/>
                                    <codeList code="CL192" type="business" name="Languagebycustoms"/>
                                    <format value="a2"/>
                                    <optionality value="O"/>
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Consignment">
                <xs:documentation>
                    <xs:EUCDMName>Container Indicator</xs:EUCDMName>
                    <xs:Code>19 01 000 000</xs:Code>
                </xs:documentation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="LocationOfGoods" type="LocationOfGoodsType01">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="LOCATION OF GOODS"/>
                                    <optionality value="R"/>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="typeOfLocation" type="TypeOfLocationContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Type of location"/>
                                                <codeList code="CL347" type="business" name="TypeOfLocation"/>
                                                <format value="a1"/>
                                                <optionality value="R"/>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="qualifierOfIdentification"
                                                type="QualifierOfIdentificationContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Qualifier of identification"/>
                                                <codeList code="CL326" type="business"
                                                          name="QualifierOfTheIdentification"/>
                                                <format value="a1"/>
                                                <optionality value="R"/>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="authorisationNumber" minOccurs="0"
                                                type="AuthorisationNumberContentType02">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Authorisation number"/>
                                                <format value="an..35"/>
                                                <optionality value="D"/>
                                                <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces"/>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="additionalIdentifier" minOccurs="0"
                                                type="AdditionalIdentifierContentType02">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Additional identifier"/>
                                                <format value="an..4"/>
                                                <optionality value="D"/>
                                                <xsdBaseType value="AlphaNumeric_MAX4_NoSpaces"/>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="UNLocode" minOccurs="0" type="UNLocodeContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="UN LOCODE"/>
                                                <codeList code="CL244" type="business" name="Unlocodeextended"/>
                                                <format value="an..17"/>
                                                <optionality value="D"/>
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="CustomsOffice" minOccurs="0" type="CustomsOfficeType01">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="CUSTOMS OFFICE"/>
                                                <optionality value="D"/>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:sequence>
                                            <xs:element name="referenceNumber" type="ReferenceNumberContentType05">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        <description value="Reference number"/>
                                                        <codeList code="CL172" type="business"
                                                                  name="CustomsOfficeDestination"/>
                                                        <format value="an8"/>
                                                        <optionality value="R"/>
                                                        <xsdBaseType value="CORefNumType"/>
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:element>
                                    <xs:element name="GNSS" minOccurs="0" type="GNSSType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="GNSS"/>
                                                <optionality value="D"/>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:sequence>
                                            <xs:element name="latitude" type="LatitudeContentType">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        <description value="Latitude"/>
                                                        <format value="an..17"/>
                                                        <optionality value="R"/>
                                                        <xsdBaseType value="GNSSLatitude"/>
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="longitude" type="LongitudeContentType">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        <description value="Longitude"/>
                                                        <format value="an..17"/>
                                                        <optionality value="R"/>
                                                        <xsdBaseType value="GNSSLongitude"/>
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:element>
                                    <xs:element name="EconomicOperator" minOccurs="0" type="EconomicOperatorType03">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="ECONOMIC OPERATOR"/>
                                                <optionality value="D"/>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:sequence>
                                            <xs:element name="identificationNumber"
                                                        type="IdentificationNumberContentType01">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        <description value="Identification number"/>
                                                        <format value="an..17"/>
                                                        <optionality value="R"/>
                                                        <xsdBaseType value="AlphaNumeric_MAX17_NoSpaces"/>
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:element>
                                    <xs:element name="Address" minOccurs="0" type="AddressType14">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="ADDRESS"/>
                                                <optionality value="D"/>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:sequence>
                                            <xs:element name="streetAndNumber" type="StreetAndNumberContentType02">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        <description value="Street and number"/>
                                                        <format value="an..70"/>
                                                        <optionality value="R"/>
                                                        <xsdBaseType value="AlphaNumeric_MAX70_NoSpaces"/>
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="postcode" minOccurs="0" type="PostcodeContentType02">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        <description value="Postcode"/>
                                                        <format value="an..17"/>
                                                        <optionality value="D"/>
                                                        <xsdBaseType value="AlphaNumeric_MAX17_NoSpaces"/>
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="city" type="CityContentType03">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        <description value="City"/>
                                                        <format value="an..35"/>
                                                        <optionality value="R"/>
                                                        <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces"/>
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="country" type="CountryContentType">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        <description value="Country"/>
                                                        <codeList code="CL009" type="business"
                                                                  name="CountryCodesCommonTransit"/>
                                                        <format value="a2"/>
                                                        <optionality value="R"/>
                                                        <xsdBaseType value="CountryCodeType"/>
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:element>
                                    <xs:element name="PostcodeAddress" minOccurs="0" type="PostcodeAddressType02">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="POSTCODE ADDRESS"/>
                                                <optionality value="D"/>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:sequence>
                                            <xs:element name="houseNumber" minOccurs="0"
                                                        type="HouseNumberContentType02">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        <description value="House number"/>
                                                        <format value="an..17"/>
                                                        <optionality value="D"/>
                                                        <xsdBaseType value="AlphaNumeric_MAX17_NoSpaces"/>
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="postcode" type="PostcodeContentType02">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        <description value="Postcode"/>
                                                        <format value="an..17"/>
                                                        <optionality value="R"/>
                                                        <xsdBaseType value="AlphaNumeric_MAX17_NoSpaces"/>
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="country" type="CountryContentType">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        <description value="Country"/>
                                                        <codeList code="CL190" type="business"
                                                                  name="Countryaddresspostcodebased"/>
                                                        <format value="a2"/>
                                                        <optionality value="R"/>
                                                        <xsdBaseType value="CountryCodeType"/>
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:element>
                                    <xs:element name="ContactPerson" minOccurs="0" type="ContactPersonType06">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="CONTACT PERSON"/>
                                                <optionality value="D"/>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:sequence>
                                            <xs:element name="name" type="NameContentType02">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        <description value="Name"/>
                                                        <format value="an..70"/>
                                                        <optionality value="R"/>
                                                        <xsdBaseType value="AlphaNumeric_MAX70_NoSpaces"/>
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="phoneNumber" type="PhoneNumberContentType02">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        <description value="Phone number"/>
                                                        <format value="an..35"/>
                                                        <optionality value="R"/>
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                            <xs:element name="eMailAddress" minOccurs="0"
                                                        type="EMailAddressContentType02">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        <description value="E-mail address"/>
                                                        <format value="an..256"/>
                                                        <optionality value="O"/>
                                                        <xsdBaseType value="EmailAddressType256_NoSpaces"/>
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Incident" minOccurs="0" maxOccurs="9" type="IncidentType01">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="INCIDENT"/>
                                    <optionality value="O"/>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:sequence>
                                <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                    <xs:annotation>
                                        <xs:documentation>
                                            <description value="Sequence number"/>
                                            <format value="n..5"/>
                                            <optionality value="R"/>
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="code" type="CodeContentType01">
                                    <xs:annotation>
                                        <xs:documentation>
                                            <description value="Code"/>
                                            <codeList code="CL019" type="business" name="IncidentCode"/>
                                            <format value="n1"/>
                                            <optionality value="R"/>
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="text" type="TextContentType02">
                                    <xs:annotation>
                                        <xs:documentation>
                                            <description value="Text"/>
                                            <format value="an..512"/>
                                            <optionality value="R"/>
                                            <xsdBaseType value="AlphaNumeric_MAX512_NoSpaces"/>
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="Endorsement" minOccurs="0" type="EndorsementType01">
                                    <xs:annotation>
                                        <xs:documentation>
                                            <description value="ENDORSEMENT"/>
                                            <optionality value="O"/>
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="Location" type="LocationType01">
                                    <xs:annotation>
                                        <xs:documentation>
                                            <description value="LOCATION"/>
                                            <optionality value="R"/>
                                        </xs:documentation>
                                    </xs:annotation>
                                    <xs:sequence>
                                        <xs:element name="qualifierOfIdentification"
                                                    type="QualifierOfIdentificationContentType">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    <description value="Qualifier of identification"/>
                                                    <codeList code="CL038" type="business"
                                                              name="QualifierOfIdentificationIncident"/>
                                                    <format value="a1"/>
                                                    <optionality value="R"/>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="UNLocode" minOccurs="0" type="UNLocodeContentType">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    <description value="UN LOCODE"/>
                                                    <codeList code="CL244" type="business" name="Unlocodeextended"/>
                                                    <format value="an..17"/>
                                                    <optionality value="D"/>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="country" type="CountryContentType">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    <description value="Country"/>
                                                    <codeList code="CL009" type="business"
                                                              name="CountryCodesCommonTransit"/>
                                                    <format value="a2"/>
                                                    <optionality value="R"/>
                                                    <xsdBaseType value="CountryCodeType"/>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="GNSS" minOccurs="0" type="GNSSType">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    <description value="GNSS"/>
                                                    <optionality value="D"/>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:sequence>
                                                <xs:element name="latitude" type="LatitudeContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Latitude"/>
                                                            <format value="an..17"/>
                                                            <optionality value="R"/>
                                                            <xsdBaseType value="GNSSLatitude"/>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="longitude" type="LongitudeContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Longitude"/>
                                                            <format value="an..17"/>
                                                            <optionality value="R"/>
                                                            <xsdBaseType value="GNSSLongitude"/>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:element>
                                        <xs:element name="Address" minOccurs="0" type="AddressType01">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    <description value="ADDRESS"/>
                                                    <optionality value="D"/>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:sequence>
                                                <xs:element name="streetAndNumber" type="StreetAndNumberContentType02">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Street and number"/>
                                                            <format value="an..70"/>
                                                            <optionality value="R"/>
                                                            <xsdBaseType value="AlphaNumeric_MAX70_NoSpaces"/>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="postcode" minOccurs="0" type="PostcodeContentType02">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Postcode"/>
                                                            <format value="an..17"/>
                                                            <optionality value="D"/>
                                                            <xsdBaseType value="AlphaNumeric_MAX17_NoSpaces"/>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="city" type="CityContentType03">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="City"/>
                                                            <format value="an..35"/>
                                                            <optionality value="R"/>
                                                            <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces"/>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:element>
                                <xs:element name="TransportEquipment" minOccurs="0" maxOccurs="9999"
                                            type="TransportEquipmentType01">
                                    <xs:annotation>
                                        <xs:documentation>
                                            <description value="TRANSPORT EQUIPMENT"/>
                                            <optionality value="D"/>
                                        </xs:documentation>
                                    </xs:annotation>
                                    <xs:sequence>
                                        <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    <description value="Sequence number"/>
                                                    <format value="n..5"/>
                                                    <optionality value="R"/>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="containerIdentificationNumber" minOccurs="0"
                                                    type="ContainerIdentificationNumberContentType02">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    <description value="Container identification number"/>
                                                    <format value="an..17"/>
                                                    <optionality value="D"/>
                                                    <xsdBaseType value="ContainerIdentificationNumber_NoSpaces"/>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="numberOfSeals" minOccurs="0" type="NumberOfSealsContentType">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    <description value="Number of seals"/>
                                                    <format value="n..4"/>
                                                    <optionality value="D"/>
                                                    <xsdBaseType value="NumericWithZero_4"/>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="Seal" minOccurs="0" maxOccurs="99" type="SealType05">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    <description value="SEAL"/>
                                                    <optionality value="D"/>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:sequence>
                                                <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Sequence number"/>
                                                            <format value="n..5"/>
                                                            <optionality value="R"/>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="identifier" type="IdentifierContentType02">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Identifier"/>
                                                            <format value="an..20"/>
                                                            <optionality value="R"/>
                                                            <xsdBaseType value="AlphaNumeric_MAX20_NoSpaces"/>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:element>
                                        <xs:element name="GoodsReference" minOccurs="0" maxOccurs="9999"
                                                    type="GoodsReferenceType01">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    <description value="GOODS REFERENCE"/>
                                                    <optionality value="O"/>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:sequence>
                                                <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Sequence number"/>
                                                            <format value="n..5"/>
                                                            <optionality value="R"/>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="declarationGoodsItemNumber"
                                                            type="DeclarationGoodsItemNumberContentType01">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Declaration goods item number"/>
                                                            <format value="n..5"/>
                                                            <optionality value="R"/>
                                                            <xsdBaseType value="DeclarationGoodsItemNumberType"/>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:element>
                                <xs:element name="Transhipment" minOccurs="0" type="TranshipmentType01">
                                    <xs:annotation>
                                        <xs:documentation>
                                            <description value="TRANSHIPMENT"/>
                                            <optionality value="D"/>
                                        </xs:documentation>
                                    </xs:annotation>
                                    <xs:sequence>
                                        <xs:element name="containerIndicator" type="Flag">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    <description value="Container indicator"/>
                                                    <codeList code="CL027" type="technical" name="Flag"/>
                                                    <format value="n1"/>
                                                    <optionality value="R"/>
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="TransportMeans" type="TransportMeansType01">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    <description value="TRANSPORT MEANS"/>
                                                    <optionality value="R"/>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:sequence>
                                                <xs:element name="typeOfIdentification"
                                                            type="TypeOfIdentificationContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Type of identification"/>
                                                            <codeList code="CL750" type="business"
                                                                      name="ClTypeofidentificationofmeansoftransport"/>
                                                            <format value="n2"/>
                                                            <optionality value="R"/>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="identificationNumber"
                                                            type="IdentificationNumberContentType06">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Identification number"/>
                                                            <format value="an..35"/>
                                                            <optionality value="R"/>
                                                            <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces"/>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="nationality" type="NationalityContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Nationality"/>
                                                            <codeList code="CL165" type="business" name="Nationality"/>
                                                            <format value="a2"/>
                                                            <optionality value="R"/>
                                                            <xsdBaseType value="CountryCodeType"/>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:element>
                            </xs:sequence>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>