Transit XSDs/IE Messages/IE026 - Guarantee Access Codes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ncts.dgtaxud.ec" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://ncts.dgtaxud.ec" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="51.8.2" vc:minVersion="1.1">
  <!--================================================================================-->
  <!--===== IE026: E_ACC_COD                                                                -->
  <!--===== GUARANTEE ACCESS CODES                                                          -->
  <!--===== NCTS P5 Phase Definition                                                        -->
  <!--===== XSD Version 51.8.2                                                              -->
  <!--================================================================================-->
  <!--================================================================================-->
  <!--===== Includes                                                                        -->
  <!--================================================================================-->
  <xs:include schemaLocation="../NCTS_DS/ctypes.xsd" />
  <xs:include schemaLocation="../NCTS_DS/htypes.xsd" />
  <!--================================================================================-->
  <!--===== Root Element                                                                    -->
  <!--================================================================================-->
  <xs:element name="CC026C" type="CC026CType" />
  <!--================================================================================-->
  <!--===== Root Element Content                                                            -->
  <!--================================================================================-->
  <xs:complexType name="CC026CType">
    <xs:sequence>
      <xs:element name="messageSender" type="MessageSenderContentNotificationType">
        <xs:annotation>
          <xs:documentation>
            <description value="Message sender" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="messageRecipient" type="MessageRecipientContentNotificationType">
        <xs:annotation>
          <xs:documentation>
            <description value="Message recipient" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="preparationDateAndTime" type="PreparationDateAndTimeContentType">
        <xs:annotation>
          <xs:documentation>
            <description value="Preparation date and time" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="messageIdentification" type="MessageIdentificationContentType">
        <xs:annotation>
          <xs:documentation>
            <description value="Message identification" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="messageType" type="MessageTypes">
        <xs:annotation>
          <xs:documentation>
            <description value="Message type" />
            <codeList name="MessageTypes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="correlationIdentifier" type="CorrelationIdentifierContentType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <description value="Correlation identifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HolderOfTheTransitProcedure">
        <xs:annotation>
          <xs:documentation>
            <description value="HOLDER OF THE TRANSIT PROCEDURE" />
            <optionality value="R" />
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation>
              <usedBy>Used by 1/91 messages: CC026C</usedBy>
            </xs:documentation>
          </xs:annotation>
          <xs:sequence>
            <xs:element name="identificationNumber" minOccurs="0" type="IdentificationNumberContentType01">
              <xs:annotation>
                <xs:documentation>
                  <description value="Identification number" />
                  <format value="an..17" />
                  <optionality value="O" />
                  <xsdBaseType value="AlphaNumeric_MAX17_NoSpaces" />
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="name" minOccurs="0" type="NameContentType01">
              <xs:annotation>
                <xs:documentation>
                  <description value="Name" />
                  <format value="an..70" />
                  <optionality value="D" />
                  <xsdBaseType value="Alphanumeric_Max70" />
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Address" minOccurs="0">
              <xs:annotation>
                <xs:documentation>
                  <description value="ADDRESS" />
                  <optionality value="D" />
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation>
                    <usedBy>Used by 4/91 messages: CC014C, CC022C, CC026C, CC051C</usedBy>
                  </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                  <xs:element name="streetAndNumber" type="StreetAndNumberContentType01">
                    <xs:annotation>
                      <xs:documentation>
                        <description value="Street and number" />
                        <format value="an..70" />
                        <optionality value="R" />
                        <xsdBaseType value="Alphanumeric_Max70" />
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="postcode" minOccurs="0" type="PostcodeContentType01">
                    <xs:annotation>
                      <xs:documentation>
                        <description value="Postcode" />
                        <format value="an..17" />
                        <optionality value="D" />
                        <xsdBaseType value="PostalCodeType" />
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="city" type="CityContentType02">
                    <xs:annotation>
                      <xs:documentation>
                        <description value="City" />
                        <format value="an..35" />
                        <optionality value="R" />
                        <xsdBaseType value="CityType" />
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="country" type="CountryContentType">
                    <xs:annotation>
                      <xs:documentation>
                        <description value="Country" />
                        <format value="a2" />
                        <optionality value="R" />
                        <xsdBaseType value="CountryCodeType" />
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CustomsOfficeOfGuarantee">
        <xs:annotation>
          <xs:documentation>
            <description value="CUSTOMS OFFICE OF GUARANTEE" />
            <optionality value="R" />
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation>
              <usedBy>Used by 9/91 messages: CC026C, CC037C, CC224C, CC225C, CC228C, CC229C, CC231C, CD204C, CD209C</usedBy>
            </xs:documentation>
          </xs:annotation>
          <xs:sequence>
            <xs:element name="referenceNumber" type="ReferenceNumberContentType05">
              <xs:annotation>
                <xs:documentation>
                  <description value="Reference number" />
                  <format value="an8" />
                  <optionality value="R" />
                  <xsdBaseType value="CORefNumType" />
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GuaranteeReference">
        <xs:annotation>
          <xs:documentation>
            <description value="GUARANTEE REFERENCE" />
            <optionality value="R" />
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:annotation>
            <xs:documentation>
              <usedBy>Used by 1/91 messages: CC026C</usedBy>
            </xs:documentation>
          </xs:annotation>
          <xs:sequence>
            <xs:element name="GRN" type="GrnContentType">
              <xs:annotation>
                <xs:documentation>
                  <description value="GRN" />
                  <format value="an..24" />
                  <optionality value="R" />
                  <xsdBaseType value="GRNType" />
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="masterAccessCode" type="MasterAccessCodeContentType">
              <xs:annotation>
                <xs:documentation>
                  <description value="Master access code" />
                  <format value="an..4" />
                  <optionality value="R" />
                  <xsdBaseType value="AlphaNumeric_MAX4_NoSpaces" />
                </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="AccessCode">
              <xs:annotation>
                <xs:documentation>
                  <description value="ACCESS CODE" />
                  <optionality value="R" />
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation>
                    <usedBy>Used by 1/91 messages: CC026C</usedBy>
                  </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                  <xs:element name="accessCodeCurrent" minOccurs="0" type="AccessCodeCurrentContentType">
                    <xs:annotation>
                      <xs:documentation>
                        <description value="Access code current" />
                        <format value="an..4" />
                        <optionality value="O" />
                        <xsdBaseType value="AlphaNumeric_MAX4_NoSpaces" />
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="accessCodeNew" minOccurs="0" type="AccessCodeNewContentType">
                    <xs:annotation>
                      <xs:documentation>
                        <description value="Access code new" />
                        <format value="an..4" />
                        <optionality value="O" />
                        <xsdBaseType value="AlphaNumeric_MAX4_NoSpaces" />
                      </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="PhaseID" type="phaseIDtype" />
  </xs:complexType>
</xs:schema>
