Transit XSDs/IE Messages/IE044 - Unloading Remarks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ncts.dgtaxud.ec" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://ncts.dgtaxud.ec" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="51.8.6" vc:minVersion="1.1">
    <!--================================================================================-->
    <!--===== IE044: E_ULD_REM                                                                -->
    <!--===== UNLOADING REMARKS                                                               -->
    <!--===== NCTS P5 Phase Definition                                                        -->
    <!--===== XSD Version 51.8.6                                                              -->
    <!--================================================================================-->
    <!--================================================================================-->
    <!--===== Includes                                                                        -->
    <!--================================================================================-->
    <xs:include schemaLocation="../NCTS DS/ctypes.xsd" />
    <xs:include schemaLocation="../NCTS DS/htypes.xsd" />
    <!--================================================================================-->
    <!--===== Root Element                                                                    -->
    <!--================================================================================-->
    <xs:element name="CC044C" type="CC044CType" />
    <!--================================================================================-->
    <!--===== Root Element Content                                                            -->
    <!--================================================================================-->
    <xs:complexType name="CC044CType">
        <xs:sequence>
            <xs:element name="messageSender" type="MessageSenderContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Message sender" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="messageRecipient" type="MessageRecipientContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Message recipient" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="preparationDateAndTime" type="PreparationDateAndTimeContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Preparation date and time" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="messageIdentification" type="MessageIdentificationContentType">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Message identification" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="messageType" type="MessageTypes">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Message type" />
                        <codeList name="MessageTypes" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="correlationIdentifier" type="CorrelationIdentifierContentType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <description value="Correlation identifier" />
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TransitOperation">
                <xs:annotation>
                    <xs:documentation>
                        <description value="TRANSIT OPERATION" />
                        <optionality value="R" />
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:annotation>
                        <xs:documentation>
                            <usedBy>Used by 1/91 messages: CC044C</usedBy>
                        </xs:documentation>
                    </xs:annotation>
                    <xs:sequence>
                        <xs:element name="MRN" type="MrnContentType05">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="MRN" />
                                    <format value="an18" />
                                    <optionality value="R" />
                                    <xsdBaseType value="MRNType" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="otherThingsToReport" minOccurs="0" type="OtherThingsToReportContentType02">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Other things to report" />
                                    <format value="an..512" />
                                    <optionality value="O" />
                                    <xsdBaseType value="AlphaNumeric_MAX512_NoSpaces" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CustomsOfficeOfDestinationActual">
                <xs:annotation>
                    <xs:documentation>
                        <description value="CUSTOMS OFFICE OF DESTINATION (ACTUAL)" />
                        <optionality value="R" />
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:annotation>
                        <xs:documentation>
                            <usedBy>Used by 11/91 messages: CC007C, CC025C, CC043C, CC044C, CC057C, CD002C, CD003C, CD006C, CD018C, CD024C, CD049C</usedBy>
                        </xs:documentation>
                    </xs:annotation>
                    <xs:sequence>
                        <xs:element name="referenceNumber" type="ReferenceNumberContentType05">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Reference number" />
                                    <format value="an8" />
                                    <optionality value="R" />
                                    <xsdBaseType value="CORefNumType" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="TraderAtDestination">
                <xs:annotation>
                    <xs:documentation>
                        <description value="TRADER AT DESTINATION" />
                        <optionality value="R" />
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:annotation>
                        <xs:documentation>
                            <usedBy>Used by 1/91 messages: CC044C</usedBy>
                        </xs:documentation>
                    </xs:annotation>
                    <xs:sequence>
                        <xs:element name="identificationNumber" type="IdentificationNumberContentType01">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Identification number" />
                                    <format value="an..17" />
                                    <optionality value="R" />
                                    <xsdBaseType value="AlphaNumeric_MAX17_NoSpaces" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UnloadingRemark">
                <xs:annotation>
                    <xs:documentation>
                        <description value="UNLOADING REMARK" />
                        <optionality value="R" />
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:annotation>
                        <xs:documentation>
                            <usedBy>Used by 1/91 messages: CC044C</usedBy>
                        </xs:documentation>
                    </xs:annotation>
                    <xs:sequence>
                        <xs:element name="conform" type="Flag">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Conform" />
                                    <format value="n1" />
                                    <optionality value="R" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="unloadingCompletion" type="Flag">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Unloading completion" />
                                    <format value="n1" />
                                    <optionality value="R" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="unloadingDate" type="UnloadingDateContentType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Unloading date" />
                                    <format value="an10" />
                                    <optionality value="R" />
                                    <xsdBaseType value="DateType" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="stateOfSeals" minOccurs="0" type="Flag">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="State of seals" />
                                    <format value="n1" />
                                    <optionality value="D" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="unloadingRemark" minOccurs="0" type="UnloadingRemarkContentType">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Unloading remark" />
                                    <format value="an..512" />
                                    <optionality value="O" />
                                    <xsdBaseType value="AlphaNumeric_MAX512_NoSpaces" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Consignment" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <description value="CONSIGNMENT" />
                        <optionality value="O" />
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:annotation>
                        <xs:documentation>
                            <usedBy>Used by 1/91 messages: CC044C</usedBy>
                        </xs:documentation>
                    </xs:annotation>
                    <xs:sequence>
                        <xs:element name="grossMass" minOccurs="0" type="GrossMassContentType02">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="Gross mass" />
                                    <format value="n..16,6" />
                                    <optionality value="O" />
                                    <xsdBaseType value="DecimalWithZero_16_6" />
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TransportEquipment" minOccurs="0" maxOccurs="9999">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="TRANSPORT EQUIPMENT" />
                                    <optionality value="O" />
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:annotation>
                                    <xs:documentation>
                                        <usedBy>Used by 1/91 messages: CC044C</usedBy>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:sequence>
                                    <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Sequence number" />
                                                <format value="n..5" />
                                                <optionality value="R" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="containerIdentificationNumber" minOccurs="0" type="ContainerIdentificationNumberContentType02">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Container identification number" />
                                                <format value="an..17" />
                                                <optionality value="O" />
                                                <xsdBaseType value="ContainerIdentificationNumber_NoSpaces" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="numberOfSeals" minOccurs="0" type="NumberOfSealsContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Number of seals" />
                                                <format value="n..4" />
                                                <optionality value="O" />
                                                <xsdBaseType value="NumericWithZero_4" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Seal" minOccurs="0" maxOccurs="99">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="SEAL" />
                                                <optionality value="O" />
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:annotation>
                                                <xs:documentation>
                                                    <usedBy>Used by 1/91 messages: CC044C</usedBy>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:sequence>
                                                <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Sequence number" />
                                                            <format value="n..5" />
                                                            <optionality value="R" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="identifier" type="IdentifierContentType02">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Identifier" />
                                                            <format value="an..20" />
                                                            <optionality value="O" />
                                                            <xsdBaseType value="AlphaNumeric_MAX20_NoSpaces" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="GoodsReference" minOccurs="0" maxOccurs="9999">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="GOODS REFERENCE" />
                                                <optionality value="O" />
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:annotation>
                                                <xs:documentation>
                                                    <usedBy>Used by 12/91 messages: CC007C, CC017C, CC043C, CC044C, CC182C, CD003C, CD018C, CD038C, CD115C, CD165C, CD180C, CD181C</usedBy>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:sequence>
                                                <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Sequence number" />
                                                            <format value="n..5" />
                                                            <optionality value="R" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="declarationGoodsItemNumber" type="DeclarationGoodsItemNumberContentType01">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Declaration goods item number" />
                                                            <format value="n..5" />
                                                            <optionality value="R" />
                                                            <xsdBaseType value="DeclarationGoodsItemNumberType" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="DepartureTransportMeans" minOccurs="0" maxOccurs="999">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="DEPARTURE TRANSPORT MEANS" />
                                    <optionality value="O" />
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:annotation>
                                    <xs:documentation>
                                        <usedBy>Used by 2/91 messages: CC017C, CC044C</usedBy>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:sequence>
                                    <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Sequence number" />
                                                <format value="n..5" />
                                                <optionality value="R" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="typeOfIdentification" minOccurs="0" type="TypeOfIdentificationContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Type of identification" />
                                                <format value="n2" />
                                                <optionality value="O" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="identificationNumber" minOccurs="0" type="IdentificationNumberContentType06">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Identification number" />
                                                <format value="an..35" />
                                                <optionality value="O" />
                                                <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="nationality" minOccurs="0" type="NationalityContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Nationality" />
                                                <format value="a2" />
                                                <optionality value="O" />
                                                <xsdBaseType value="CountryCodeType" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="SupportingDocument" minOccurs="0" maxOccurs="99">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="SUPPORTING DOCUMENT" />
                                    <optionality value="O" />
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:annotation>
                                    <xs:documentation>
                                        <usedBy>Used by 1/91 messages: CC044C</usedBy>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:sequence>
                                    <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Sequence number" />
                                                <format value="n..5" />
                                                <optionality value="R" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="type" minOccurs="0" type="TypeContentType02">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Type" />
                                                <format value="an4" />
                                                <optionality value="O" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="referenceNumber" minOccurs="0" type="ReferenceNumberContentType04">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Reference number" />
                                                <format value="an..70" />
                                                <optionality value="O" />
                                                <xsdBaseType value="AlphaNumeric_MAX70_NoSpaces" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="complementOfInformation" minOccurs="0" type="ComplementOfInformationContentType02">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Complement of information" />
                                                <format value="an..35" />
                                                <optionality value="O" />
                                                <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="TransportDocument" minOccurs="0" maxOccurs="99">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="TRANSPORT DOCUMENT" />
                                    <optionality value="O" />
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:annotation>
                                    <xs:documentation>
                                        <usedBy>Used by 2/91 messages: CC017C, CC044C</usedBy>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:sequence>
                                    <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Sequence number" />
                                                <format value="n..5" />
                                                <optionality value="R" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="type" minOccurs="0" type="TypeContentType02">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Type" />
                                                <format value="an4" />
                                                <optionality value="O" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="referenceNumber" minOccurs="0" type="ReferenceNumberContentType04">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Reference number" />
                                                <format value="an..70" />
                                                <optionality value="O" />
                                                <xsdBaseType value="AlphaNumeric_MAX70_NoSpaces" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="AdditionalReference" minOccurs="0" maxOccurs="99">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="ADDITIONAL REFERENCE" />
                                    <optionality value="O" />
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:annotation>
                                    <xs:documentation>
                                        <usedBy>Used by 2/91 messages: CC017C, CC044C</usedBy>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:sequence>
                                    <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Sequence number" />
                                                <format value="n..5" />
                                                <optionality value="R" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="type" minOccurs="0" type="TypeContentType02">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Type" />
                                                <format value="an4" />
                                                <optionality value="O" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="referenceNumber" minOccurs="0" type="ReferenceNumberContentType04">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Reference number" />
                                                <format value="an..70" />
                                                <optionality value="O" />
                                                <xsdBaseType value="AlphaNumeric_MAX70_NoSpaces" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="HouseConsignment" minOccurs="0" maxOccurs="1999">
                            <xs:annotation>
                                <xs:documentation>
                                    <description value="HOUSE CONSIGNMENT" />
                                    <optionality value="O" />
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:annotation>
                                    <xs:documentation>
                                        <usedBy>Used by 1/91 messages: CC044C</usedBy>
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:sequence>
                                    <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Sequence number" />
                                                <format value="n..5" />
                                                <optionality value="R" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="grossMass" minOccurs="0" type="GrossMassContentType02">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="Gross mass" />
                                                <format value="n..16,6" />
                                                <optionality value="O" />
                                                <xsdBaseType value="DecimalWithZero_16_6" />
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="DepartureTransportMeans" minOccurs="0" maxOccurs="999">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="DEPARTURE TRANSPORT MEANS" />
                                                <optionality value="O" />
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:annotation>
                                                <xs:documentation>
                                                    <usedBy>Used by 2/91 messages: CC017C, CC044C</usedBy>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:sequence>
                                                <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Sequence number" />
                                                            <format value="n..5" />
                                                            <optionality value="R" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="typeOfIdentification" minOccurs="0" type="TypeOfIdentificationContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Type of identification" />
                                                            <format value="n2" />
                                                            <optionality value="O" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="identificationNumber" minOccurs="0" type="IdentificationNumberContentType06">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Identification number" />
                                                            <format value="an..35" />
                                                            <optionality value="O" />
                                                            <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="nationality" minOccurs="0" type="NationalityContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Nationality" />
                                                            <format value="a2" />
                                                            <optionality value="O" />
                                                            <xsdBaseType value="CountryCodeType" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="SupportingDocument" minOccurs="0" maxOccurs="99">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="SUPPORTING DOCUMENT" />
                                                <optionality value="O" />
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:annotation>
                                                <xs:documentation>
                                                    <usedBy>Used by 1/91 messages: CC044C</usedBy>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:sequence>
                                                <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Sequence number" />
                                                            <format value="n..5" />
                                                            <optionality value="R" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="type" minOccurs="0" type="TypeContentType02">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Type" />
                                                            <format value="an4" />
                                                            <optionality value="O" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="referenceNumber" minOccurs="0" type="ReferenceNumberContentType04">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Reference number" />
                                                            <format value="an..70" />
                                                            <optionality value="O" />
                                                            <xsdBaseType value="AlphaNumeric_MAX70_NoSpaces" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="complementOfInformation" minOccurs="0" type="ComplementOfInformationContentType02">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Complement of information" />
                                                            <format value="an..35" />
                                                            <optionality value="O" />
                                                            <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="TransportDocument" minOccurs="0" maxOccurs="99">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="TRANSPORT DOCUMENT" />
                                                <optionality value="O" />
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:annotation>
                                                <xs:documentation>
                                                    <usedBy>Used by 2/91 messages: CC017C, CC044C</usedBy>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:sequence>
                                                <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Sequence number" />
                                                            <format value="n..5" />
                                                            <optionality value="R" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="type" minOccurs="0" type="TypeContentType02">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Type" />
                                                            <format value="an4" />
                                                            <optionality value="O" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="referenceNumber" minOccurs="0" type="ReferenceNumberContentType04">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Reference number" />
                                                            <format value="an..70" />
                                                            <optionality value="O" />
                                                            <xsdBaseType value="AlphaNumeric_MAX70_NoSpaces" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="AdditionalReference" minOccurs="0" maxOccurs="99">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="ADDITIONAL REFERENCE" />
                                                <optionality value="O" />
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:annotation>
                                                <xs:documentation>
                                                    <usedBy>Used by 2/91 messages: CC017C, CC044C</usedBy>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:sequence>
                                                <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Sequence number" />
                                                            <format value="n..5" />
                                                            <optionality value="R" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="type" minOccurs="0" type="TypeContentType02">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Type" />
                                                            <format value="an4" />
                                                            <optionality value="O" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="referenceNumber" minOccurs="0" type="ReferenceNumberContentType04">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Reference number" />
                                                            <format value="an..70" />
                                                            <optionality value="O" />
                                                            <xsdBaseType value="AlphaNumeric_MAX70_NoSpaces" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="ConsignmentItem" minOccurs="0" maxOccurs="999">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <description value="CONSIGNMENT ITEM" />
                                                <optionality value="O" />
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:annotation>
                                                <xs:documentation>
                                                    <usedBy>Used by 1/91 messages: CC044C</usedBy>
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:sequence>
                                                <xs:element name="goodsItemNumber" type="GoodsItemNumberContentType">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Goods item number" />
                                                            <format value="n..5" />
                                                            <optionality value="R" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="declarationGoodsItemNumber" type="DeclarationGoodsItemNumberContentType01">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="Declaration goods item number" />
                                                            <format value="n..5" />
                                                            <optionality value="O" />
                                                            <xsdBaseType value="DeclarationGoodsItemNumberType" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="Commodity" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="COMMODITY" />
                                                            <optionality value="O" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:annotation>
                                                            <xs:documentation>
                                                                <usedBy>Used by 1/91 messages: CC044C</usedBy>
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                        <xs:sequence>
                                                            <xs:element name="descriptionOfGoods" minOccurs="0" type="DescriptionOfGoodsContentType02">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="Description of goods" />
                                                                        <format value="an..512" />
                                                                        <optionality value="O" />
                                                                        <xsdBaseType value="AlphaNumeric_MAX512_NoSpaces" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="cusCode" minOccurs="0" type="CusCodeContentType">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="CUS code" />
                                                                        <format value="an9" />
                                                                        <optionality value="O" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="CommodityCode" minOccurs="0">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="COMMODITY CODE" />
                                                                        <optionality value="O" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                                <xs:complexType>
                                                                    <xs:annotation>
                                                                        <xs:documentation>
                                                                            <usedBy>Used by 2/91 messages: CC017C, CC044C</usedBy>
                                                                        </xs:documentation>
                                                                    </xs:annotation>
                                                                    <xs:sequence>
                                                                        <xs:element name="harmonizedSystemSubHeadingCode" type="HarmonizedSystemSubHeadingCodeContentType">
                                                                            <xs:annotation>
                                                                                <xs:documentation>
                                                                                    <description value="Harmonized System sub-heading code" />
                                                                                    <format value="an6" />
                                                                                    <optionality value="R" />
                                                                                </xs:documentation>
                                                                            </xs:annotation>
                                                                        </xs:element>
                                                                        <xs:element name="combinedNomenclatureCode" minOccurs="0" type="CombinedNomenclatureCodeContentType02">
                                                                            <xs:annotation>
                                                                                <xs:documentation>
                                                                                    <description value="Combined nomenclature code" />
                                                                                    <format value="an2" />
                                                                                    <optionality value="D" />
                                                                                    <xsdBaseType value="AlphaNumeric_2_NoSpaces" />
                                                                                </xs:documentation>
                                                                            </xs:annotation>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="GoodsMeasure" minOccurs="0">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="GOODS MEASURE" />
                                                                        <optionality value="O" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                                <xs:complexType>
                                                                    <xs:annotation>
                                                                        <xs:documentation>
                                                                            <usedBy>Used by 4/91 messages: CC017C, CC044C, CD012C, CD018C</usedBy>
                                                                        </xs:documentation>
                                                                    </xs:annotation>
                                                                    <xs:sequence>
                                                                        <xs:element name="grossMass" minOccurs="0" type="GrossMassContentType02">
                                                                            <xs:annotation>
                                                                                <xs:documentation>
                                                                                    <description value="Gross mass" />
                                                                                    <format value="n..16,6" />
                                                                                    <optionality value="O" />
                                                                                    <xsdBaseType value="DecimalWithZero_16_6" />
                                                                                </xs:documentation>
                                                                            </xs:annotation>
                                                                        </xs:element>
                                                                        <xs:element name="netMass" minOccurs="0" type="NetMassContentType">
                                                                            <xs:annotation>
                                                                                <xs:documentation>
                                                                                    <description value="Net mass" />
                                                                                    <format value="n..16,6" />
                                                                                    <optionality value="O" />
                                                                                    <xsdBaseType value="DecimalWithoutZero_16_6" />
                                                                                </xs:documentation>
                                                                            </xs:annotation>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="Packaging" minOccurs="0" maxOccurs="99">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="PACKAGING" />
                                                            <optionality value="O" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:annotation>
                                                            <xs:documentation>
                                                                <usedBy>Used by 2/91 messages: CC017C, CC044C</usedBy>
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                        <xs:sequence>
                                                            <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="Sequence number" />
                                                                        <format value="n..5" />
                                                                        <optionality value="R" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="typeOfPackages" minOccurs="0" type="TypeOfPackagesContentType">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="Type of packages" />
                                                                        <format value="an2" />
                                                                        <optionality value="O" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="numberOfPackages" minOccurs="0" type="NumberOfPackagesContentType01">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="Number of packages" />
                                                                        <format value="n..8" />
                                                                        <optionality value="O" />
                                                                        <xsdBaseType value="NumericWithZero_8" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="shippingMarks" minOccurs="0" type="ShippingMarksContentType02">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="Shipping marks" />
                                                                        <format value="an..512" />
                                                                        <optionality value="O" />
                                                                        <xsdBaseType value="AlphaNumeric_MAX512_NoSpaces" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="SupportingDocument" minOccurs="0" maxOccurs="99">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="SUPPORTING DOCUMENT" />
                                                            <optionality value="O" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:annotation>
                                                            <xs:documentation>
                                                                <usedBy>Used by 1/91 messages: CC044C</usedBy>
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                        <xs:sequence>
                                                            <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="Sequence number" />
                                                                        <format value="n..5" />
                                                                        <optionality value="R" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="type" minOccurs="0" type="TypeContentType02">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="Type" />
                                                                        <format value="an4" />
                                                                        <optionality value="O" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="referenceNumber" minOccurs="0" type="ReferenceNumberContentType04">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="Reference number" />
                                                                        <format value="an..70" />
                                                                        <optionality value="O" />
                                                                        <xsdBaseType value="AlphaNumeric_MAX70_NoSpaces" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="complementOfInformation" minOccurs="0" type="ComplementOfInformationContentType02">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="Complement of information" />
                                                                        <format value="an..35" />
                                                                        <optionality value="O" />
                                                                        <xsdBaseType value="AlphaNumeric_MAX35_NoSpaces" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="TransportDocument" minOccurs="0" maxOccurs="99">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="TRANSPORT DOCUMENT" />
                                                            <optionality value="O" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:annotation>
                                                            <xs:documentation>
                                                                <usedBy>Used by 2/91 messages: CC017C, CC044C</usedBy>
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                        <xs:sequence>
                                                            <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="Sequence number" />
                                                                        <format value="n..5" />
                                                                        <optionality value="R" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="type" minOccurs="0" type="TypeContentType02">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="Type" />
                                                                        <format value="an4" />
                                                                        <optionality value="O" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="referenceNumber" minOccurs="0" type="ReferenceNumberContentType04">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="Reference number" />
                                                                        <format value="an..70" />
                                                                        <optionality value="O" />
                                                                        <xsdBaseType value="AlphaNumeric_MAX70_NoSpaces" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="AdditionalReference" minOccurs="0" maxOccurs="99">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <description value="ADDITIONAL REFERENCE" />
                                                            <optionality value="O" />
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:annotation>
                                                            <xs:documentation>
                                                                <usedBy>Used by 2/91 messages: CC017C, CC044C</usedBy>
                                                            </xs:documentation>
                                                        </xs:annotation>
                                                        <xs:sequence>
                                                            <xs:element name="sequenceNumber" type="SequenceNumberContentType">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="Sequence number" />
                                                                        <format value="n..5" />
                                                                        <optionality value="R" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="type" minOccurs="0" type="TypeContentType02">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="Type" />
                                                                        <format value="an4" />
                                                                        <optionality value="O" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                            <xs:element name="referenceNumber" minOccurs="0" type="ReferenceNumberContentType04">
                                                                <xs:annotation>
                                                                    <xs:documentation>
                                                                        <description value="Reference number" />
                                                                        <format value="an..70" />
                                                                        <optionality value="O" />
                                                                        <xsdBaseType value="AlphaNumeric_MAX70_NoSpaces" />
                                                                    </xs:documentation>
                                                                </xs:annotation>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="PhaseID" type="phaseIDtype" />
    </xs:complexType>
</xs:schema>
