Export XSDs/C2 XSDs/DMS_C2_PN_v1.24.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:ds="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
		   xmlns="urn:wco:datamodel:WCO:DEC-DMS:2"
		   xmlns:eds="urn:wco:datamodel:WCO:WCO_DEC_EDS_AUTHORISATION:1"
		   xmlns:ext="urn:eds:datamodel:EDS:EDS_EXTENSIONS:1"
		   targetNamespace="urn:wco:datamodel:WCO:DEC-DMS:2"
		   elementFormDefault="qualified" version="1.2.0">
	<xs:import namespace="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
			   schemaLocation="../DMS DS/DMS_DS_v1.9.xsd"/>
	<xs:import namespace="urn:wco:datamodel:WCO:WCO_DEC_EDS_AUTHORISATION:1"
			   schemaLocation="../DMS DS/WCO EDS/WCO_DEC_EDS_AUTHORISATION.xsd"/>
	<xs:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:6"
			   schemaLocation="../DMS DS/UNECE/UnqualifiedDataType_6_DMS.xsd"/>
	<xs:import namespace="urn:eds:datamodel:EDS:EDS_EXTENSIONS:1"
			   schemaLocation="../DMS DS/EDS/EDS_EXTENSIONS.xsd"/>

	<xs:element name="Declaration" type="Declaration">
		<xs:annotation>
			<xs:documentation>
				<EUCDMname>Declaration</EUCDMname>
				<type>EUCDM 6.1</type>
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="Declaration">
		<xs:sequence>
			<xs:element name="Extensions" type="ext:ExtensionType" minOccurs="0" maxOccurs="15"/>
			<xs:element name="AcceptanceDateTime" type="ds:DeclarationAcceptanceDateTimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Date of acceptance</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>15 09 001 000</code>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FunctionCode" type="ds:DeclarationFunctionCodeType"/>
			<xs:element name="ProcedureCategory" type="ds:DeclarationProcedureCategoryCodeType"/>
			<xs:element name="FunctionalReferenceID" type="ds:DeclarationFunctionalReferenceIDType">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>LRN</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>12 09 001 000</code>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ID" type="ds:DeclarationIdentificationIDType">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>MRN</EUCDMname>
						<type>EUCDM 6.1</type>
						<code></code>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode" type="ds:DeclarationTypeCodeType">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Declaration type</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>11 01 001 000</code>
					</xs:documentation>
					<xs:documentation>
						<EUCDMname>Additional declaration type</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>11 02 001 000</code>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeclarationOfficeID" type="ds:DeclarationDeclarationOfficeIDType"/>
			<xs:element name="Submitter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="ds:SubmitterNameTextType"/>
						<xs:element name="ID" type="ds:SubmitterIdentificationIDType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="Agent" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Representative</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>13 06 000 000</code>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ID" type="ds:AgentIdentificationIDType">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Identification number</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>13 06 017 000</code>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="FunctionCode" type="ds:AgentFunctionCodeType">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Status</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>13 06 030 000</code>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Contact" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Contact person</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>13 06 074 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SequenceNumeric" type="ds:AgentContactSequenceNumericType"/>
									<xs:element name="name" type="ds:AgentContactNameType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Name</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 06 074 016</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Communication" maxOccurs="2">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:AgentCommunicationSequenceNumericType"/>
												<xs:element name="ID" type="ds:CommunicationIdentificationIDType">
													<xs:annotation>
														<xs:documentation>
															<info>This is an ID element with format an..256
																which contains the email or phone number of the contact</info>
														</xs:documentation>
														<xs:documentation>
															<EUCDMname>Phone Number</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 06 074 075</code>
														</xs:documentation>
														<xs:documentation>
															<EUCDMname>Email Address</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 06 074 076</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="TypeCode" type="ds:CommunicationTypeCodeType">
													<xs:annotation>
														<xs:documentation>
															<info>This is a TypeCode element with format an..3
																which specifies whether the information in the
																above ID element is a phone number or an email</info>
														</xs:documentation>
														<xs:documentation>
															<EUCDMname>Phone Number</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 06 074 075</code>
														</xs:documentation>
														<xs:documentation>
															<EUCDMname>Email Address</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 06 074 076</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="Declarant">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Declarant</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>13 05 000 000</code>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="ds:DeclarantNameTextType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Representative</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>13 05 016 000</code>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ID" type="ds:DeclarantIdentificationIDType">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Identification number</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>13 05 017 000</code>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Address" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Address</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>13 05 018 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CityName" type="ds:AddressCityNameTextType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>City</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 05 018 022</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CountryCode" type="ds:AddressCountryCodeType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Country</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 05 018 020</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Line" type="ds:AddressLineTextType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Street and number</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 05 018 019</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Postcode</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 05 018 021</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Contact" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Contact person</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>13 05 074 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SequenceNumeric" type="ds:DeclarantContactSequenceNumericType"/>
									<xs:element name="Name" type="ds:ContactNameTextType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Name</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 06 074 016</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Communication" maxOccurs="2">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:DeclarantCommunicationSequenceNumericType"/>
												<xs:element name="ID" type="ds:CommunicationIdentificationIDType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Phone Number</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 05 074 075</code>
														</xs:documentation>
														<xs:documentation>
															<EUCDMname>Email Address</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 05 074 076</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="TypeCode" type="ds:CommunicationTypeCodeType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Phone Number</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 05 074 075</code>
														</xs:documentation>
														<xs:documentation>
															<EUCDMname>Email Address</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 05 074 076</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="GoodsShipment">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Nature of transaction</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>99 05 000 000</code>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Extensions" type="ext:ExtensionType" minOccurs="0" maxOccurs="15"/>
						<xs:element name="Consignment">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Consignment</EUCDMname>
									<type>EUCDM 6.1</type>
									<code></code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ContainerCode" type="ds:ConsignmentContainerCodeType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Container indicator</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>19 01 001 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="DepartureTransportMeans" minOccurs="0" maxOccurs="999">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Departure transport means</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>19 05 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:DepartureTransportMeansSequenceNumericType">
													<xs:annotation>
														<xs:documentation xml:lang="EN">
															<WCOID>006</WCOID>
															<WCOName>Sequence number</WCOName>
															<WCODescription>Number indicating the position in a sequence</WCODescription>
															<EUCDMVersion>EUCDM 6.0</EUCDMVersion>
															<WCOFormat>n..5</WCOFormat>
														</xs:documentation>
														<xs:documentation>
															<TDEDUID>1050</TDEDUID>
															<TDEDName>Sequence. Position.Identifier</TDEDName>
															<DictionaryEntryName>DepartureTransportMeans. Sequence. Numeric</DictionaryEntryName>
															<NamedComplexType>DepartureTransportMeansSequenceNumericType</NamedComplexType>
															<XMLTag>SequenceNumeric</XMLTag>
															<UniquePositionID>10352</UniquePositionID>
															<WCOUsageDeclarationCRI>X</WCOUsageDeclarationCRI>
															<WCOUsageDeclarationCRE>X</WCOUsageDeclarationCRE>
															<WCOUsageDeclarationTRT>X</WCOUsageDeclarationTRT>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ID" type="ds:DepartureTransportMeansIdentificationIDType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Identification number</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>19 05 017 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="IdentificationTypeCode" type="ds:DepartureTransportMeansIdentificationTypeCodeType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Type of identification</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>19 05 061 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ModeCode" type="ds:DepartureTransportMeansModeCodeType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Inland mode of transport</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>19 04 001 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="RegistrationNationalityCode" type="ds:DepartureTransportMeansRegistrationNationalityCodeType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Nationality</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>19 05 062 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="GoodsLocation">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Location of goods</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>16 15 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Name" type="ds:GoodsLocationNameTextType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>UN/LOCODE</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 15 036 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ID" type="ds:GoodsLocationIdentificationIDType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Additional identifier</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 15 053 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="TypeCode" type="ds:GoodsLocationTypeCodeType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Type of location</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 15 045 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="IdentificationType" type="ds:IdentificationQualifierCodeType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Qualifier of identification</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 15 046 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Address" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Address</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 15 018 000</code>
														</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>City name</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>16 15 018 022</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="CountryCode" type="ds:AddressCountryCodeType">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>Country</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>16 15 018 020</code>
																	</xs:documentation>
																	<xs:documentation>
																		<EUCDMname>Country</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>16 15 081 020</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>Street and number</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>16 15 018 019</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>Postcode</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>16 15 018 021</code>
																	</xs:documentation>
																	<xs:documentation>
																		<EUCDMname>Postcode</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>16 15 081 021</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="streetNumber" type="ds:AddressStreetNumberType" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>House number</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>16 15 081 025</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="authorisationReferenceNumber" type="ds:GoodsLocationAuthorisationReferenceNumber" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Authorisation number</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 15 052 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CustomsOffice" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Customs office</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 15 047 000</code>
														</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="identification" type="ds:GoodsLocationCustomsOfficeIdentification">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>Reference number</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>16 15 047 001</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="latitude" type="ds:GoodsLocationLatitude" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Location of goods</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 15 048 049</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="longitude" type="ds:GoodsLocationLongitude" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Location of goods</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 15 048 050</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="EconomicOperator" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Economic operator</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 15 051 000</code>
														</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="identification" type="ds:GoodsLocationEconomicOperatorIdentification">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>Identification number</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>16 15 051 017</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="Contact" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Contact person</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 15 074 000</code>
														</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="name" type="ds:GoodsLocationContactNameType">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>Name</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>16 15 074 016</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Communication" maxOccurs="2">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>Communication</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code></code>
																	</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="SequenceNumeric" type="ds:GoodsLocationContactCommunicationSequenceNumericType"/>
																		<xs:element name="ID" type="ds:CommunicationIdentificationIDType">
																			<xs:annotation>
																				<xs:documentation>
																					<EUCDMname>Phone Number</EUCDMname>
																					<type>EUCDM 6.1</type>
																					<code>16 15 074 075</code>
																				</xs:documentation>
																				<xs:documentation>
																					<EUCDMname>Email address</EUCDMname>
																					<type>EUCDM 6.1</type>
																					<code>16 15 074 076</code>
																				</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="TypeCode" type="ds:CommunicationTypeCodeType">
																			<xs:annotation>
																				<xs:documentation>
																					<EUCDMname>Phone Number</EUCDMname>
																					<type>EUCDM 6.1</type>
																					<code>16 15 074 075</code>
																				</xs:documentation>
																				<xs:documentation>
																					<EUCDMname>Email address</EUCDMname>
																					<type>EUCDM 6.1</type>
																					<code>16 15 074 076</code>
																				</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="TransportEquipment" minOccurs="0" maxOccurs="9999">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Transport equipment</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>19 07 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:TransportEquipmentSequenceNumericType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Goods reference</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>19 07 044 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ID" type="ds:TransportEquipmentIdentificationIDType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Equipment identification number</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>19 07 063 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Seal" minOccurs="0" maxOccurs="99">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="SequenceNumeric" type="ds:SealSequenceNumericType"/>
															<xs:element name="ID" type="ds:SealIdentificationIDType">
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="SealsAffixedQuantity" type="ds:TransportEquipmentSealsAffixedQuantity"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="GovernmentAgencyGoodsItem" minOccurs="0" maxOccurs="999">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Goods item number</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>11 03 000 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SequenceNumeric" type="ds:GovernmentAgencyGoodsItemSequenceNumericType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Goods item number</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>11 03 001 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Extensions" type="ext:ExtensionType" minOccurs="0" maxOccurs="15"/>

									<xs:element name="PreviousDocument" minOccurs="0" maxOccurs="99">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Previous document</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 01 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:PreviousDocumentSequenceNumericType"/>
												<xs:element name="WriteOff" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="QuantityQuantity" type="ds:WriteOffQuantityQuantityType" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>Write-off quantity</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>12 01 005 000 and 12 01 006 000</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Packaging" minOccurs="0">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="QuantityQuantity" type="ds:PreviousDocumentPackagingQuantityQuantityType" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>
																					<EUCDMname>Number of packages</EUCDMname>
																					<type>EUCDM 6.1</type>
																					<code>12 01 004 000</code>
																				</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="TypeCode" type="ds:PackagingTypeCodeType" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>
																					<EUCDMname>Type of packages</EUCDMname>
																					<type>EUCDM 6.1</type>
																					<code>12 01 003 000</code>
																				</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="ID" type="ds:PreviousDocumentIdentificationIDType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Reference number</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>12 01 001 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="TypeCode" type="ds:PreviousDocumentTypeCodeType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Type</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>12 01 002 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="LineNumeric" type="ds:PreviousDocumentLineNumericType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Goods item identifier</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>12 01 007 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>

									<xs:element name="Authorisation" minOccurs="0" maxOccurs="99">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Authorisation</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 12 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:AuthorisationSequenceNumericType">
												</xs:element>
												<xs:element name="ID" type="ds:AuthorisationIdentificationIDType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Authorisation</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>12 12 001 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Type" type="ds:AuthorisationReferenceType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Authorisation</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>12 12 002 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="AuthorisationHolder" type="ds:AuthorisationHolderIdentificationIDType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>AuthorisationHolder</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>12 12 080 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>

								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="PreviousDocument" minOccurs="0" maxOccurs="99">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Previous document</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>12 01 000 000</code>
								</xs:documentation>
								<xs:documentation>
									<EUCDMname>Date of acceptance</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>15 09 000 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SequenceNumeric" type="ds:PreviousDocumentSequenceNumericType"/>
									<xs:element name="AcceptanceDateTime" type="ds:PreviousDocumentAcceptanceDateTimeType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Date of acceptance</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>15 09 001 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ID" type="ds:PreviousDocumentIdentificationIDType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Reference number</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 01 001 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TypeCode" type="ds:PreviousDocumentTypeCodeType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Type</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 01 002 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="PresentationOffice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Customs office of presentation</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>17 09 000 000</code>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ID" type="ds:PresentationOfficeIdentificationIDType">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Reference number</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>17 09 001 000</code>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ExportOffice">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Customs office of export</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>17 02 000 000</code>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="identification" type="ds:ExportOfficeIdentificationIDType">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Reference number</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>17 02 001 000</code>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
