I2/toldsystemet_I2_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:wco:datamodel:WCO:DEC-DMS:2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="urn:wco:datamodel:WCO:Declaration_DS:DMS:2" xmlns:eds="urn:wco:datamodel:WCO:WCO_DEC_EDS_AUTHORISATION:1" targetNamespace="urn:wco:datamodel:WCO:DEC-DMS:2" elementFormDefault="qualified" version="1.1.0">
	<xs:import namespace="urn:wco:datamodel:WCO:Declaration_DS:DMS:2" schemaLocation="toldsystemet_DS/toldsystemet_DS_v1.1.xsd"/>
	<xs:import namespace="urn:wco:datamodel:WCO:WCO_DEC_EDS_AUTHORISATION:1" schemaLocation="toldsystemet_DS/WCO_DEC_EDS_AUTHORISATION.xsd" />
	<xs:element name="Declaration" type="Declaration"/>
	<xs:complexType name="Declaration">
		<xs:sequence>
			<xs:element name="FunctionCode" type="ds:DeclarationFunctionCodeType"/>
			<xs:element name="ProcedureCategory" type="ds:DeclarationProcedureCategoryCodeType">
			</xs:element>
			<xs:element name="FunctionalReferenceID" type="ds:DeclarationFunctionalReferenceIDType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="EN">LRN</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ID" type="ds:DeclarationIdentificationIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="EN">MRN</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode" type="ds:DeclarationTypeCodeType" minOccurs="1"/>
			<xs:element name="GoodsItemQuantity" type="ds:DeclarationGoodsItemQuantityType" minOccurs="1"/>
			<xs:element name="DeclarationOfficeID" type="ds:DeclarationDeclarationOfficeIDType" minOccurs="0"/>
			<xs:element name="TotalGrossMassMeasure" type="ds:DeclarationTotalGrossMassMeasureType" minOccurs="0"/>
			
			<xs:element name="Authentication">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Authentication" type="ds:AuthenticationAuthenticationTextType" minOccurs="1">
						</xs:element>
						<annotation>
							<documentation>
								<type>
									1/8 EUDCM 5.2+ (not in EUDCM 6.0)
								</type>
								<details>
									Mandatory on header level.
								</details>
							</documentation>
						</annotation>
						<xs:element name="Authenticator" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Name" type="ds:AuthenticatorNameTextType" minOccurs="0">
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="Submitter">
				<xs:annotation>
					<xs:documentation xml:lang="EN">Required element in ERMIS</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="ds:SubmitterNameTextType" minOccurs="1">
						</xs:element>
						<xs:element name="ID" type="ds:SubmitterIdentificationIDType" minOccurs="0">
						</xs:element>
						<xs:element name="Address" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0">
									</xs:element>
									<xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0">
									</xs:element>
									<xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0">
									</xs:element>
									<xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0">
									</xs:element>
									<xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0">
									</xs:element>
									<xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0">
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="Agent" minOccurs="0" maxOccurs="1">
				<annotation>
							<documentation>
								<type>
									3/20 EUDCM 5.2+ (not in EUDCM 6.0)
								</type>
								<details>
									A representative. 
									Mandatory on header level.
								</details>
							</documentation>
						</annotation>
				<xs:complexType>
					<xs:sequence>
						<!--<xs:element name="Name" type="ds:AgentNameTextType" minOccurs="0"/>
						<annotation>
							<documentation>
								<type>
									3/19 EUCDM 5.2+	
								</type>
								<details>
									Not in I2.
									Declarant can use a third party for importing. 
								</details>
							</documentation>
						</annotation> -->
						<xs:element name="ID" type="ds:AgentIdentificationIDType" minOccurs="1"/>
						<annotation>
							<documentation>
								<type>
									3/20 EUCDM 5.2+
								</type>
								<details>
									EORI
								</details>
							</documentation>
						</annotation>
						<xs:element name="FunctionCode" type="ds:AgentFunctionCodeType" minOccurs="1"/>
						<annotation>
							<documentation>
								<type>
									3/21 EUCDM 5.2+
								</type>
								<details>
									Form of representation
										- Code 2 is direct representation. 
										- Code 3, indirect represenation. In order to use code 3 the agent has to have a danish EORI.
								</details>
							</documentation>
						</annotation>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="AuthorisationHolder" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>
						<type>
							3/39 EUCDM 5.2+
						</type>
						<details>
							Holder of the authorisation.
							This information shall not be required in case a customs declaration has been lodged prior to the presentation of the goods pursuant to Article 171 of the Code.	
						</details>
					</documentation>
				</annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SequenceNumeric" type="ds:AuthorisationHolderSequenceNumericType" minOccurs="1"/>
						<annotation>
							<documentation>
								ERMIS requires this field
							</documentation>
						</annotation>
						<xs:element name="ID" type="ds:AuthorisationHolderIdentificationIDType" minOccurs="1">
						</xs:element>
						<annotation>
							<documentation>
								<type>
									3/39 EUCDM 5.2+
								</type>
								<details>
									EORI
							</documentation>
						</annotation>
						<xs:element name="CategoryCode" type="ds:AuthorisationHolderCategoryCodeType" minOccurs="1"> Using the relevant Union code, enter the type of the authorisation
						</xs:element>
						<annotation>
							<documentation>
								<type>
									3/39 EUCDM 5.2+
								</type>
								<details>
									Relevant Union code for the type of the authorisation
								</details>
							</documentation>
						</annotation>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="Declarant">
				<annotation>
					<documentation>
						<type>
							3/41 EUCDM 5.2+
						</type>
						<details>
							Person presenting the goods to customs in case of entry in the declarant's records or pre-lodged customs declaration
						</details>
							</documentation>
						</annotation>
				<xs:complexType>
					<xs:sequence>
						<!--<xs:element name="Name" type="ds:DeclarantNameTextType" minOccurs="0"/> -->
						<xs:element name="ID" type="ds:DeclarantIdentificationIDType" minOccurs="1"/>
						<annotation>
							<documentation>
								<type>
									3/41 EUCDM 5.2+
								</type>
								<details>
									EORI
								</details>
							</documentation>
						</annotation>
						<!--	<xs:element name="Address" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="1"/>
									<xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="1"/>
									<xs:element name="CountrySubDivisionCode" type="ds:AddressCountrySubDivisionCodeType" minOccurs="0"/>
									<xs:element name="CountrySubDivisionName" type="ds:AddressCountrySubDivisionNameTextType" minOccurs="0"/>
									<xs:element name="Line" type="ds:AddressLineTextType" minOccurs="1"/>
									<xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="1"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>-->
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="GoodsShipment">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Consignment" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="GoodsLocation">
										<annotation>
											<documentation>
												<type>
													5/23 EUCDM 5.2+
												</type>
												<details>
													The location of goods
												</details>
											</documentation>
										</annotation>
										<xs:complexType>
											<xs:annotation>
												<xs:documentation xml:lang="EN">Either fill in "Name, ID, TypeCode and Address/TypeCode" or Address</xs:documentation>
											</xs:annotation>
											<xs:sequence>
												<xs:element name="Name" type="ds:GoodsLocationNameTextType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="EN">
															ID - Identification of location. 
															Input depends on ID-element (ID qualifier code)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ID" type="ds:GoodsLocationIdentificationIDType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="EN">ID qualifier code</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="TypeCode" type="ds:GoodsLocationTypeCodeType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="EN">Type of location</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Address">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="TypeCode" type="ds:AddressTypeCodeType" minOccurs="0">
																<xs:annotation>
																	<xs:documentation xml:lang="EN">Qualifier of identification</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
															<xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="1">
																<xs:annotation>
																	<xs:documentation xml:lang="EN">Required field in ERMIS</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
															<xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="TransportEquipment" minOccurs="0" maxOccurs="unbounded">
										<annotation>
											<documentation>
												<type>
													7/10 EUCDM 5.2+
												</type>
												<details>
													Container identification
												</details>
											</documentation>
										</annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:TransportEquipmentSequenceNumericType" minOccurs="0">
												</xs:element>
												<xs:annotation>
													 <xs:documentation xml:lang="EN">Required field in ERMIS</xs:documentation>
												</xs:annotation>
												<xs:element name="ID" type="ds:TransportEquipmentIdentificationIDType" minOccurs="1">
													<documentation>
														<annotation>
															Container ID number
														</annotation>
													</documentation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="GovernmentAgencyGoodsItem" minOccurs="1" maxOccurs="999">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SequenceNumeric" type="ds:GovernmentAgencyGoodsItemSequenceNumericType" minOccurs="1"/>
									<annotation>
											<documentation>
												<type>
													1/6 EUCDM 5.2+
												</type>
												<details>
													Goods item number
												</details>
											</documentation>
										</annotation>
									<xs:element name="Commodity">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="GoodsMeasure" minOccurs="0" maxOccurs="1">
													<annotation>
														<documentation>
															<type>
																6/5 EUCDM 5.2+
															</type>
															<details>
																Gross mass in kilograms.
																The gross mass is the weight of goods including packaging, but excluding the carrier's equipment for the declaration.
															</details>
														</documentation>
													</annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="GrossMassMeasure" type="ds:GoodsMeasureGrossMassMeasureType" minOccurs="1"/>
															<!--<xs:element name="NetNetWeightMeasure" type="ds:GoodsMeasureNetNetWeightMeasureType" minOccurs="0"/>-->
															<!-- Not in EUCDM 5.2+ -->
															<xs:element name="TariffQuantity" type="ds:GoodsMeasureTariffQuantityType" minOccurs="1"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="TransportEquipment" minOccurs="0"	maxOccurs="unbounded">
													<annotation>
													<documentation>
														<type>
															7/10 EUCDM 5.2+
														</type>
														<details>
															Container identification
														</details>
													</documentation>
												</annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="SequenceNumeric" type="ds:TransportEquipmentSequenceNumericType" minOccurs="0">
															</xs:element>

															<xs:element name="ID" type="ds:TransportEquipmentIdentificationIDType" minOccurs="1">
															</xs:element>
															<documentation>
																<annotation>
																	Container ID number
																</annotation>
															</documentation>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Packaging" minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:PackagingSequenceNumericType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="EN">Required field in ERMIS</xs:documentation>
													</xs:annotation>
												</xs:element>
												<!--<xs:element name="MarksNumbersID" type="ds:PackagingMarksNumbersIDType" minOccurs="0">
												</xs:element>-->
												<xs:element name="QuantityQuantity" type="ds:PackagingQuantityQuantityType" minOccurs="1"/>
												<annotation>
													<documentation>
														<type>
															6/10 EUCDM 5.2+
														</type>
														<details>
															Number of packages
														</details>
													</documentation>
												</annotation>
												<xs:element name="TypeCode" type="ds:PackagingTypeCodeType"	minOccurs="0"/>
												<annotation>
													<documentation>
														<type>
															6/9 EUCDM 5.2+
														</type>
														<details>
															Type of packages. 
															This information shall only be provided if the discharge of the goods under temporary storage concerns only parts of the declaration for temporary storage lodged previously in relation with the goods concerned.
														</details>
													</documentation>
												</annotation>
												<!--<xs:element name="PackingMaterialDescription" type="ds:PackagingPackingMaterialDescriptionTextType" minOccurs="0">
												</xs:element>-->
												<!--<xs:element name="LengthMeasure" type="ds:PackagingLengthMeasureType" minOccurs="0">
												</xs:element>-->
												<!--<xs:element name="WidthMeasure" type="ds:PackagingWidthMeasureType"	minOccurs="0">
												</xs:element>-->
												<!--<xs:element name="HeightMeasure" type="ds:PackagingHeightMeasureType" minOccurs="0">
												</xs:element>-->
												<!--<xs:element name="VolumeMeasure" type="ds:PackagingVolumeMeasureType" minOccurs="0">
												</xs:element>-->
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="PreviousDocument" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:annotation>
												<xs:documentation>
													<type> 
														2/1 EUDCM 5.2+
													</type>
												</xs:documentation>
											</xs:annotation>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:PreviousDocumentSequenceNumericType" minOccurs="1"/>
												<annotation>
													<documentation>
														Required field in ERMIS
													</documentation>
												</annotation>
												<!--<xs:element name="AcceptanceDateTime" type="ds:PreviousDocumentAcceptanceDateTimeType" minOccurs="0">
												</xs:element>
												<xs:element name="WriteOff" minOccurs="0" maxOccurs="1">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="PackagingQuantityQuantity" type="ds:WriteOffPackagingQuantityQuantityType" minOccurs="0">
															</xs:element>
															<xs:element name="PackagingTypeCode" type="ds:WriteOffPackagingTypeCodeType" minOccurs="0">
															</xs:element>
															<xs:element name="QuantityQuantity" type="ds:WriteOffQuantityQuantityType" minOccurs="0">
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element> -->
												<!-- CategoryCode is not required according EUCDM 5.2
												<xs:element name="CategoryCode" type="ds:PreviousDocumentCategoryCodeType" minOccurs="0"/>-->
												<xs:element name="ID" type="ds:PreviousDocumentIdentificationIDType" minOccurs="0"/>
												<xs:element name="TypeCode" type="ds:PreviousDocumentTypeCodeType" minOccurs="0"/>
												<!-- LineNumeric is required on item level according EUCDM 6.0-->
												<xs:element name="LineNumeric" type="ds:PreviousDocumentLineNumericType" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PreviousDocument" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									<type> 
										2/1 - EUDCM 5.2+
									</type>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SequenceNumeric" type="ds:PreviousDocumentSequenceNumericType" minOccurs="1"/>
										<annotation>
											<documentation>
												Required field in ERMIS
											</documentation>
										</annotation>
									<!--<xs:element name="AcceptanceDateTime" type="ds:PreviousDocumentAcceptanceDateTimeType" minOccurs="0"/>-->
									<!-- CategoryCode is not required according EUCDM 5.2 or EUCDM 6.0 -->
									<!-- <xs:element name="CategoryCode" type="ds:PreviousDocumentCategoryCodeType" minOccurs="0"/> -->
									<xs:element name="ID" type="ds:PreviousDocumentIdentificationIDType" minOccurs="0"/>
									<xs:element name="TypeCode" type="ds:PreviousDocumentTypeCodeType" minOccurs="0"/>
									<!-- LineNumeric is not required on header level according to EUCDM 6.0-->
									<xs:element name="LineNumeric" type="ds:PreviousDocumentLineNumericType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
