Export XSDs/B1 XSDs/toldsystemet_B1_Basic_v1.13.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
		   xmlns="urn:wco:datamodel:WCO:DEC-DMS:2" targetNamespace="urn:wco:datamodel:WCO:DEC-DMS:2"
		   elementFormDefault="qualified" version="1.2.0">
	<xs:import namespace="urn:wco:datamodel:WCO:Declaration_DS:DMS:2"
			   schemaLocation="DMS_DS/DMS_DS_v1.3.xsd"/>



	

	<xs:element name="Declaration" type="Declaration">
		<xs:annotation>
			<xs:documentation>
				<EUCDMname>Declaration</EUCDMname>
				<type>EUCDM 6.1</type>
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Declaration">
		<xs:sequence>
			<xs:element name="FunctionCode" type="ds:DeclarationFunctionCodeType"/>
			<xs:element name="ProcedureCategory" type="ds:DeclarationProcedureCategoryCodeType"/>
			<xs:element name="FunctionalReferenceID" type="ds:DeclarationFunctionalReferenceIDType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>LRN</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>12 09 001 000</code>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode" type="ds:DeclarationTypeCodeType">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Declaration type</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>11 01 001 000</code>
					</xs:documentation>
					<xs:documentation>
						<EUCDMname>Additional declaration type</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>11 02 001 000</code>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeclarationOfficeID" type="ds:DeclarationDeclarationOfficeIDType"/>
			<xs:element name="InvoiceAmount" type="ds:DeclarationInvoiceAmountType" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Total amount invoiced</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>14 06 001 000</code>
					</xs:documentation>
					<xs:documentation>
						<EUCDMname>Total amount invoiced currency</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>14 05 001 000</code>
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="Submitter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="ds:SubmitterNameTextType"/>
						<xs:element name="ID" type="ds:SubmitterIdentificationIDType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="Declarant" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Declarant</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>13 05 000 000</code>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="ds:DeclarantNameTextType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Representative</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>13 05 016 000</code>
								</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="ID" type="ds:DeclarantIdentificationIDType" minOccurs="1">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Identification number</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>13 05 017 000</code>
								</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="Address" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Address</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>13 05 018 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>

									<xs:element name="CityName" type="ds:AddressCityNameTextType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>City</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 05 018 022</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>

									<xs:element name="CountryCode" type="ds:AddressCountryCodeType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Country</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 05 018 020</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>

									<xs:element name="Line" type="ds:AddressLineTextType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Street and number</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 05 018 019</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>

									<xs:element name="PostcodeID" type="ds:AddressPostcodeIDType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Postcode</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 05 018 021</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

						<xs:element name="Contact" minOccurs="0" maxOccurs="9">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Contact person</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>13 05 074 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SequenceNumeric" type="ds:DeclarantContactSequenceNumericType" minOccurs="1"/>

									<xs:element name="Name" type="ds:ContactNameTextType">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Name</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 06 074 016</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>

									<xs:element name="Communication" minOccurs="0" maxOccurs="9">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:DeclarantCommunicationSequenceNumericType"/>

												<xs:element name="ID"
															type="ds:CommunicationIdentificationIDType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Phone Number</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 05 074 075</code>
														</xs:documentation>
														<xs:documentation>
															<EUCDMname>Email Address</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 05 074 076</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>

												<xs:element name="TypeCode" type="ds:CommunicationTypeCodeType">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Phone Number</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 05 074 075</code>
														</xs:documentation>
														<xs:documentation>
															<EUCDMname>Email Address</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 05 074 076</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>

					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="ExitOffice" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Customs office of exit</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>17 01 000 000</code>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ID" type="ds:ExitOfficeIdentificationIDType">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Reference number</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>17 02 001 000</code>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="Exporter" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Exporter</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>13 01 000 000</code>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="ds:ExporterNameTextType" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Name</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>13 01 016 000</code>
								</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="ID" type="ds:ExporterIdentificationIDType" minOccurs="1">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Name</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>13 01 017 000</code>
								</xs:documentation>
							</xs:annotation>
						</xs:element>

						<xs:element name="Address" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Address</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>13 01 018 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>City</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 01 018 022</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Country</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 01 018 020</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Street and number</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 01 018 019</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Postcode</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 01 018 021</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="GoodsShipment" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Nature of transaction</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>99 05 000 000</code>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SupportingDocument" minOccurs="0" maxOccurs="99">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Supporting document</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>12 03 000 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SequenceNumeric" type="ds:SupportingDocumentSequenceNumericType" minOccurs="1"/>
									<xs:element name="ExpirationDateTime" type="ds:SupportingDocumentDateofValidityDateTimeType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Date of validity</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 03 011 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ID" type="ds:SupportingDocumentIdentificationIDType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Reference number</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 03 001 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TypeCode" type="ds:SupportingDocumentTypeCodeType" minOccurs="1">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Type</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 03 002 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="IssuingAuthorityName" type="ds:SupportingDocumentIssuingAuthorityName" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Issuing Authority name</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 03 010 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LineNumeric" type="ds:SupportingDocumentLineNumericType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Document Line Item Number</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 03 013 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="AdditionalReference" minOccurs="0" maxOccurs="99">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Additional reference</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>12 04 000 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SequenceNumeric" type="ds:AdditionalReferenceSequenceNumericType" minOccurs="1"/>
									<xs:element name="ID" type="ds:AdditionalReferenceIdentificationIDType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Reference number</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 04 001 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TypeCode" type="ds:AdditionalReferenceTypeCodeType" minOccurs="1">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Type</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 04 002 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Consignment" minOccurs="1">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Consignment</EUCDMname>
									<type>EUCDM 6.1</type>
									<code></code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BorderTransportMeans" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>BorderTransportMeans</EUCDMname>
												<type>EUCDM 6.1</type>
												<code></code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>

												<xs:element name="ID" type="ds:BorderTransportMeansIdentificationIDType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Identification number</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>19 08 017 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="IdentificationTypeCode" type="ds:BorderTransportMeansIdentificationTypeCodeType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Type of identification</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>19 08 061 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="RegistrationNationalityCode" type="ds:BorderTransportMeansRegistrationNationalityCodeType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Nationality</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>19 08 062 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ModeCode" type="ds:BorderTransportMeansModeCodeType" minOccurs="1">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Mode of transport at the border</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>19 03 001 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ContainerCode" type="ds:ConsignmentContainerCodeType" minOccurs="1">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Container indicator</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>19 01 001 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="GoodsLocation" minOccurs="1">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Location of goods</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>16 15 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="TypeCode" type="ds:GoodsLocationTypeCodeType" minOccurs="1">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Type of location</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 15 045 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="IdentificationType" type="ds:IdentificationQualifierCodeType" minOccurs="1">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Qualifier of identification</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 15 046 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="TransportContractDocument" minOccurs="0" maxOccurs="99">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Transport document</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 05 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:TransportContractDocumentSequenceNumericType" minOccurs="1">
													<xs:annotation>
														<xs:documentation xml:lang="EN">
															<WCOID>006</WCOID>
															<WCOName>Sequence number</WCOName>
															<WCODescription>Number indicating the position in a
																sequence</WCODescription>
															<EUCDMVersion>EUCDM 6.0</EUCDMVersion>
															<WCOFormat>n..5</WCOFormat>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ID" type="ds:TransportContractDocumentIdentificationIDType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="EN">
															<EUCDMname>Transport document number</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>12 05 001 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Type" type="ds:TransportContractDocumentType" minOccurs="1">
													<xs:annotation>
														<xs:documentation xml:lang="EN">
															<EUCDMname>Transport document type</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>12 05 002 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Destination" minOccurs="1">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Country of destination</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>16 03 000 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CountryCode" type="ds:DestinationCountryCodeType" minOccurs="1">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Country of destination</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>16 03 001 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="ExportCountry" minOccurs="1">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>ExportCountry</EUCDMname>
									<type>EUCDM 6.1</type>
									<code></code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ID" type="ds:ExportCountryCountryCodeType" minOccurs="1">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Country of export</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>16 07 001 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="GoodsMeasure" minOccurs="1">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Gross mass</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>18 04 000 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="GrossMassMeasure" type="ds:GoodsMeasureGrossMassMeasureType" minOccurs="1">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Gross mass</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>18 04 001 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="GovernmentAgencyGoodsItem" minOccurs="1" maxOccurs="999">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Statistical value</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>99 06 000 000</code>
								</xs:documentation>
								<xs:documentation>
									<EUCDMname>Goods item number</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>11 03 000 000</code>
								</xs:documentation>
								<xs:documentation>
									<EUCDMname>Nature of transaction</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>99 05 000 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SequenceNumeric" type="ds:GovernmentAgencyGoodsItemSequenceNumericType" minOccurs="1">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Goods item number</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>11 03 001 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="StatisticalValueAmount" type="ds:GovernmentAgencyGoodsItemStatisticalValueAmountType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Statistical value</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>99 06 001 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="TransactionNatureCode" type="ds:GovernmentAgencyGoodsItemTransactionNatureCodeType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Nature of transaction</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>99 05 001 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="99">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Additional information</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 02 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:AdditionalInformationSequenceNumericType" minOccurs="0"/>
												<xs:element name="StatementCode"
															type="ds:AdditionalInformationStatementCodeType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Code</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>12 02 008 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Text</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>12 02 009 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="AEOMutualRecognitionParty" minOccurs="0" maxOccurs="99">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Additional supply chain actor</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>13 14 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:AEOMutualRecognitionPartySequenceNumericType"/>
												<xs:element name="ID" type="ds:AEOMutualRecognitionPartyIdentificationIDType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Identification number</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 14 017 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="RoleCode" type="ds:AEOMutualRecognitionPartyRoleCodeType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Role</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>13 14 031 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Commodity" minOccurs="1">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Description of goods</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>18 05 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Description" type="ds:CommodityDescriptionTextType" minOccurs="1">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Description of goods</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>18 05 001 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>

												<xs:element name="Classification" minOccurs="1" maxOccurs="99">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Commodity code</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>18 09 000 000</code>
														</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="SequenceNumeric" type="ds:CommodityClassificationSequenceNumericType"/>
															<xs:element name="ID" type="ds:ClassificationIdentificationIDType" minOccurs="0">
															</xs:element>
															<xs:element name="IdentificationTypeCode" type="ds:ClassificationIdentificationTypeCodeType" minOccurs="0">
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="GoodsMeasure" minOccurs="1">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Supplementary units</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>18 02 000 000</code>
														</xs:documentation>
														<xs:documentation>
														<EUCDMname>Net mass</EUCDMname>
														<type>EUCDM 6.1</type>
														<code>18 01 000 000</code>
													</xs:documentation>
														<xs:documentation>
															<EUCDMname>Gross mass</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>18 04 000 000</code>
														</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="GrossMassMeasure" type="ds:GoodsMeasureGrossMassMeasureType" minOccurs="1">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>Gross mass</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>18 04 001 000</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="NetNetWeightMeasure" type="ds:GoodsMeasureNetNetWeightMeasureType" minOccurs="1">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>Net mass</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>18 01 001 000</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="TariffQuantity" type="ds:GoodsMeasureTariffQuantityType" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMname>Gross mass</EUCDMname>
																		<type>EUCDM 6.1</type>
																		<code>18 02 001 000</code>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>

												<xs:element name="TaxCalculation" minOccurs="0" maxOccurs="99">
													<xs:annotation>
														<xs:documentation>
															<EUCDMName>Duties and Taxes</EUCDMName>
															<code>14 03 000 000</code>
															<type>EUCDM 6.1</type>
														</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="TaxAssessedAmount" type="ds:PaymentTaxAssessedAmountType" minOccurs="0">
															</xs:element>
															<xs:element name="DutyTaxFee" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>
																		<EUCDMName>DutyTaxFee</EUCDMName>
																		<code>14 16 000 000</code>
																		<type>EUCDM 6.1</type>
																	</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="SequenceNumeric" type="ds:AuthorisationSequenceNumericType" minOccurs="1">
																		</xs:element>
																		<xs:element name="TypeCode" type="ds:DutyTaxFeeTypeCodeType" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>
																					<EUCDMName>Tax Type</EUCDMName>
																					<code>14 03 039 000</code>
																					<type>EUCDM 6.1</type>
																				</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="TaxBase" minOccurs="0" maxOccurs="99">
																			<xs:annotation>
																				<xs:documentation>
																					<EUCDMName>Tax Rate</EUCDMName>
																					<code>14 03 040 000</code>
																					<type>EUCDM 6.1</type>
																				</xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="TaxRateNumeric" type="ds:DutyTaxFeeTaxRateNumericType" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>
																								<EUCDMName>Tax Rate</EUCDMName>
																								<code>14 03 040 041</code>
																								<type>EUCDM 6.1</type>
																							</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="specificTaxBase" minOccurs="0">
																						<xs:complexType>
																							<xs:sequence>
																								<xs:element name="SpecificTaxBaseQuantity" type="ds:DutyTaxFeeSpecificTaxBaseQuantityType" minOccurs="0">
																									<xs:annotation>
																										<xs:documentation>
																											<EUCDMName>Quantity</EUCDMName>
																											<code>14 03 040 006</code>
																											<type>EUCDM 6.1</type>
																										</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																							</xs:sequence>
																						</xs:complexType>
																					</xs:element>
																					<xs:element name="AdValoremTaxBaseAmount" type="ds:DutyTaxFeeAdValoremTaxBaseAmountType" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>
																								<EUCDMName>Amount</EUCDMName>
																								<code>14 03 040 014</code>
																								<type>EUCDM 6.1</type>
																							</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="Tax" type="ds:DutyTaxFeeTaxAmountType" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>
																								<EUCDMName>Tax Amount</EUCDMName>
																								<code>14 03 040 043</code>
																								<type>EUCDM 6.1</type>
																							</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																		<xs:element name="Payment" minOccurs="0">
																			<xs:complexType>
																				<xs:sequence>
																					<xs:element name="MethodCode" type="ds:PaymentMethodCodeType" minOccurs="0" maxOccurs="99">
																						<xs:annotation>
																							<xs:documentation>
																								<EUCDMName>Method of payment</EUCDMName>
																								<code>14 03 038 000</code>
																								<type>EUCDM 6.1</type>
																							</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																					<xs:element name="PaymentAmount" type="ds:PaymentPaymentAmountType" minOccurs="0">
																						<xs:annotation>
																							<xs:documentation>
																								<EUCDMName>Payable tax amount</EUCDMName>
																								<code>14 03 042 000</code>
																								<type>EUCDM 6.1</type>
																							</xs:documentation>
																						</xs:annotation>
																					</xs:element>
																				</xs:sequence>
																			</xs:complexType>
																		</xs:element>
																		</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>

											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Destination" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Country of destination</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>16 03 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CountryCode" type="ds:DestinationCountryCodeType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Country of destination</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 03 001 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ExportCountry" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>ExportCountry</EUCDMname>
												<type>EUCDM 6.1</type>
												<code></code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ID" type="ds:ExportCountryCountryCodeType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Country of export</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>16 07 001 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="GovernmentProcedure" minOccurs="2" maxOccurs="100">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Procedure</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>11 09 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:GovernmentProcedureSequenceNumericType"/>
												<xs:element name="CurrentCode" type="ds:GovernmentProcedureCurrentCodeType" minOccurs="1">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Requested procedure</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>11 09 001 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="PreviousCode" type="ds:GovernmentProcedurePreviousCodeType" minOccurs="1">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Previous procedure</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>11 09 002 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Packaging" minOccurs="1" maxOccurs="99">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Packaging</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>18 06 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:PackagingSequenceNumericType" minOccurs="1"/>
												<xs:element name="MarksNumbersID" type="ds:PackagingMarksNumbersIDType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Shipping marks</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>18 06 054 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="QuantityQuantity" type="ds:PackagingQuantityQuantityType" minOccurs="1">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Number of packages</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>18 06 004 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="TypeCode" type="ds:PackagingTypeCodeType" minOccurs="1">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Number of packages</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>18 06 003 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="SupportingDocument" minOccurs="0" maxOccurs="99">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Supporting document</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 03 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:SupportingDocumentSequenceNumericType" minOccurs="1"/>
												<xs:element name="ExpirationDateTime" type="ds:SupportingDocumentDateofValidityDateTimeType" minOccurs="0">
												</xs:element>
												<xs:element name="ID" type="ds:SupportingDocumentIdentificationIDType" minOccurs="0">
												</xs:element>
												<xs:element name="TypeCode" type="ds:SupportingDocumentTypeCodeType" minOccurs="0">
												</xs:element>
												<xs:element name="IssuingAuthorityName" type="ds:SupportingDocumentIssuingAuthorityName" minOccurs="0">
												</xs:element>
												<xs:element name="LineNumeric" type="ds:SupportingDocumentLineNumericType" minOccurs="0">
												</xs:element>
												<xs:element name="WriteOff" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="QuantityQuantity" type="ds:WriteOffQuantityQuantityType" minOccurs="0">
															</xs:element>
															<xs:element name="AmountAmount" type="ds:WriteOffAmountAmountType" minOccurs="0">
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="AdditionalReference" minOccurs="0" maxOccurs="99">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Additional reference</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>12 04 000 000</code>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:AdditionalReferenceSequenceNumericType" minOccurs="1"/>
												<xs:element name="ID" type="ds:AdditionalReferenceIdentificationIDType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Reference number</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>12 04 001 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="TypeCode" type="ds:AdditionalReferenceTypeCodeType" minOccurs="0">
													<xs:annotation>
														<xs:documentation>
															<EUCDMname>Type</EUCDMname>
															<type>EUCDM 6.1</type>
															<code>12 04 002 000</code>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="TradeTerms" minOccurs="1">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Delivery terms</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>14 01 000 000</code>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ConditionCode" type="ds:TradeTermsConditionCodeType" minOccurs="1">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>INCOTERM code</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>14 01 035 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LocationID" type="ds:TradeTermsLocationIDType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>UN/LOCODE</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>14 01 036 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LocationName" type="ds:TradeTermsLocationNameTextType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>Location</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>14 01 037 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CountryCode" type="ds:TradeTermsCountryCodeType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<EUCDMname>INCOTERM code</EUCDMname>
												<type>EUCDM 6.1</type>
												<code>14 01 020 000</code>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ExportOffice" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Customs office of export</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>17 02 000 000</code>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="identification" type="ds:ExportOfficeIdentificationIDType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<EUCDMname>Reference number</EUCDMname>
									<type>EUCDM 6.1</type>
									<code>17 02 001 000</code>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Security"  type="ds:DeclarationSecurityType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<EUCDMname>Security</EUCDMname>
						<type>EUCDM 6.1</type>
						<code>11 07 000 000</code>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
