Import XSDs/G3/G3_DMS_v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:WCOLibraryE7TAXUDEUCDM52public"
           targetNamespace="urn:WCOLibraryE7TAXUDEUCDM52public"
           elementFormDefault="qualified" version="1.2.0">
    <xs:include schemaLocation="../DMS_DS/WCO_TS_DEC.xsd"/>

    <xs:element name="Declaration" type="Declaration"/>

    <xs:complexType name="Declaration">
        <xs:sequence>
            <xs:element name="functionalReference">
                <xs:annotation>
                    <xs:documentation>
                        <EUCDMname>LRN</EUCDMname>
                        <EUCDMversion>EUCDM 6.1</EUCDMversion>
                        <code>12 09 001 000</code>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Identifier.Content" type="Identifier.Content"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="procedureCategory"> <!--Cina: what's up with this element? -->
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Identifier.Content" type="Identifier.Content">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="FunctionCode"> <!--Cina: what's up with this element? -->
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Code.Content" type="Code.Content"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Agent" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <EUCDMname>Representative</EUCDMname>
                        <EUCDMversion>EUCDM 6.1</EUCDMversion>
                        <code>13 06 000 000</code>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Name</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>13 06 016 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Text.Content" type="Text.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="identification_2">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Identification number</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>13 06 017 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <!--<xs:element name="Address" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Address</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>13 06 018 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sequence">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="cityName">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>City</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 06 018 022</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="country">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Country</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 06 018 020</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Code.Content" type="Code.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="line">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Street additional line</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 06 018 024</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="postcode" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Postcode</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 06 018 021</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="streetName" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Street</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 06 018 023</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="streetNumber" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Number</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 06 018 025</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="postOfficeBox" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>P.O. box</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 06 018 026</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="countrySubDivisionName" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Sub-division</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 06 018 027</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element> -->
                        <xs:element name="Communication" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Communication</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>13 06 029 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sequence">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="identification_2">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Identifier</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 06 029 015</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="type_8">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Type</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 06 029 002</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Code.Content" type="Code.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="sequence">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Numeric.Content" type="Numeric.Content">
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="function_3">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Status</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>13 06 030 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Code.Content" type="Code.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Declarant">
                <xs:annotation>
                    <xs:documentation>
                        <EUCDMname>Declarant</EUCDMname>
                        <EUCDMversion>EUCDM 6.1</EUCDMversion>
                        <code>13 05 000 000</code>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Name</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>13 05 016 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Text.Content" type="Text.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="identification_2">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Identification number</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>13 05 017 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Address" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Address</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>13 05 018 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sequence">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="cityName">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>City</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 05 018 022</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="country">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Country</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 05 018 020</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Code.Content" type="Code.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="line" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Street additional line</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 05 018 024</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="postcode">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Postcode</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 05 018 021</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="streetName">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Street</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 05 018 023</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="streetNumber">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Number</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 05 018 025</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="postOfficeBox" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>P.O. box</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 05 018 026</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="countrySubDivisionName" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Sub-division</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 05 018 027</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Communication" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Communication</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>13 05 029 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="identification_2">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Identifier</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 05 029 015</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="type_8">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Type</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>13 05 029 002</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Code.Content" type="Code.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Submitter"> <!-- Cina: It's not in the DCM but just ignore it -->
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Text.Content" type="Text.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="identification_2">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="sequence">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Numeric.Content" type="Numeric.Content">
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="PresentationOffice" minOccurs="0"> <!-- Cina: this element should not be in G4? -->
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="identification">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>   <!-- Cina: this element should not be in G4? -->
            <!--           <xs:element name="expectedArrival" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        <EUCDMname>Estimated date and time of arrival at the port of unloading</EUCDMname>
                        <EUCDMversion>EUCDM 6.1</EUCDMversion>
                        <code>15 04 001 000</code>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="DateTime.Content" type="DateTime.Content"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            --> <!-- Cina: this element is in D level according to clarif but in MC according to DM-->
            <!-- Cina: this element is in D level according to clarif but in MC according to DM-->
            <!-- MC (Master Consignment) level -->
            <xs:element name="Consignment">
                <xs:annotation>
                    <xs:documentation>
                        <EUCDMname>Consignment</EUCDMname>
                        <EUCDMversion>EUCDM 6.1</EUCDMversion>
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="sequence">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Numeric.Content" type="Numeric.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="postalReceptacle" minOccurs="0" maxOccurs="9999">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Receptacle identification number</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>19 11 001 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="expectedArrival" minOccurs="0">
                            <xs:annotation>
                                <!--<xs:documentation>
                                    <EUCDMname>Estimated date and time of arrival at the port of unloading</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>15 04 001 000</code>
                                </xs:documentation> -->
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="DateTime.Content" type="DateTime.Content"/>
                                    <xs:element name="DateTime.Format.Code" type="DateTime.Format.Code"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="ArrivalTransportMeans" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Arrival transport means</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>19 06 000 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="identification_2">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Identification number</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>19 06 017 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="identificationType">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Type of identification</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>19 06 061 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Code.Content" type="Code.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <!-- MI (Master Item) level -->
                        <xs:element name="ConsignmentItem" maxOccurs="999">
                            <xs:annotation>
                                <xs:documentation>
                                    <!--   <EUCDMname>Consignment Item</EUCDMname> -->
                                    <EUCDMname>Goods item number</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>11 03 000 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sequence">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Goods item number</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>11 03 001 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="GoodsLocation">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Location of Goods</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>16 15 000 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="identification_2" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>UN/LOCODE</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>16 15 036 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Identifier.Content" type="Identifier.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="type_2">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Type of Location</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>16 15 045 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Code.Content" type="Code.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="role" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Additional Identifier</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>16 15 053 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Code.Content" type="Code.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="latitude" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Latitude</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>16 15 048 049</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Measure.Content" type="Measure.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="longitude" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Longitude</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>16 15 048 050</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Measure.Content" type="Measure.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Address" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Address</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>16 15 018 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sequence">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Numeric.Content" type="Numeric.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="cityName" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <EUCDMname>City</EUCDMname>
                                                            <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                            <code>16 15 018 022</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Text.Content" type="Text.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="country">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <EUCDMname>Country</EUCDMname>
                                                            <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                            <code>16 15 018 020</code>
                                                        </xs:documentation>
                                                        <xs:documentation>
                                                            <EUCDMname>Country</EUCDMname>
                                                            <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                            <code>16 15 081 020</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Code.Content" type="Code.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="line" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <EUCDMname>Street and number</EUCDMname>
                                                            <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                            <code>16 15 018 019</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Text.Content" type="Text.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="postcode">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <EUCDMname>Postcode</EUCDMname>
                                                            <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                            <code>16 15 018 021</code>
                                                        </xs:documentation>
                                                        <xs:documentation>
                                                            <EUCDMname>Postcode</EUCDMname>
                                                            <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                            <code>16 15 081 021</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Identifier.Content"
                                                                        type="Identifier.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="streetNumber" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <EUCDMname>House Number</EUCDMname>
                                                            <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                            <code>16 15 081 025</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Text.Content" type="Text.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="sequence">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="identificationType_2">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Qualifier of Identification</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>16 15 046 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Code.Content" type="Code.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="authorisationReferenceNumber" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Authorisation Number</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>16 15 052 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="CustomsOffice" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Customs office</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>16 15 047 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="identification">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <EUCDMname>Reference number</EUCDMname>
                                                            <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                            <code>16 15 047 001</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Identifier.Content"
                                                                        type="Identifier.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="EconomicOperator" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Economic Operator</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>16 15 051 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="identification_2">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <EUCDMname>Identification Number</EUCDMname>
                                                            <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                            <code>16 15 051 017</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Identifier.Content"
                                                                        type="Identifier.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <!-- HC (House Consignment) level -->
                        <xs:element name="HouseConsignment">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sequence">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <!-- HI (House Item) level -->
                                    <xs:element name="ConsignmentItem" maxOccurs="999">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Consignment Item</EUCDMname>
                                                <EUCDMname>Goods item number</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>11 03 000 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sequence">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <EUCDMname>Goods item number</EUCDMname>
                                                            <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                            <code>11 03 001 000</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Numeric.Content" type="Numeric.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="PreviousDocument" minOccurs="0" maxOccurs="99">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Previous document</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>12 01 000 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sequence">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Numeric.Content" type="Numeric.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="line_2" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <EUCDMname>Goods item identifier</EUCDMname>
                                                            <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                            <code>12 01 007 000</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Numeric.Content" type="Numeric.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="identification_2">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <EUCDMname>Reference Number</EUCDMname>
                                                            <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                            <code>12 01 001 000</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Identifier.Content"
                                                                        type="Identifier.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="type_3">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <EUCDMname>Type</EUCDMname>
                                                            <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                            <code>12 01 002 000</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Code.Content" type="Code.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="TransportContractDocument" minOccurs="0" maxOccurs="99">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Transport document</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>12 05 000 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sequence">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Numeric.Content" type="Numeric.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="identification_2">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <EUCDMname>Reference number</EUCDMname>
                                                            <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                            <code>12 05 001 000</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Identifier.Content"
                                                                        type="Identifier.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="type_3">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <EUCDMname>Type</EUCDMname>
                                                            <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                            <code>12 05 002 000</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Code.Content" type="Code.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="LoadingLocation">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Place of loading</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>16 13 000 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="name" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Location</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>16 13 037 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Text.Content" type="Text.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="identification_2" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>UN/LOCODE</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>16 13 036 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Identifier.Content" type="Identifier.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Address" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="sequence">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Numeric.Content" type="Numeric.Content">
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="country">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            <EUCDMname>Country</EUCDMname>
                                                            <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                            <code>16 13 020 000</code>
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="Code.Content" type="Code.Content"/>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="PreviousDocument" minOccurs="0" maxOccurs="99">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Previous document</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>12 01 000 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sequence">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="line_2" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Goods item identifier</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>12 01 007 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="identification_2">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Reference Number</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>12 01 001 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="type_3">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Type</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>12 01 002 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Code.Content" type="Code.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="TransportContractDocument" minOccurs="0" maxOccurs="99">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Transport document</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>12 05 000 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sequence">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="identification_2">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Reference number</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>12 05 001 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="type_3">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Type</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>12 05 002 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Code.Content" type="Code.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="TransportEquipment" minOccurs="0" maxOccurs="9999">
                            <xs:annotation>
                                <xs:documentation>
                                    <EUCDMname>Transport Equipment</EUCDMname>
                                    <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                    <code>19 07 000 000</code>
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sequence">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Numeric.Content" type="Numeric.Content">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="identification_2">
                                        <xs:annotation>
                                            <xs:documentation>
                                                <EUCDMname>Container identification number</EUCDMname>
                                                <EUCDMversion>EUCDM 6.1</EUCDMversion>
                                                <code>19 07 063 000</code>
                                            </xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Identifier.Content" type="Identifier.Content"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>