H7/toldsystemet_H7_v1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:wco:datamodel:WCO:DEC-DMS:2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="urn:wco:datamodel:WCO:Declaration_DS:DMS:2" xmlns:eds="urn:wco:datamodel:WCO:WCO_DEC_EDS_AUTHORISATION:1" targetNamespace="urn:wco:datamodel:WCO:DEC-DMS:2" elementFormDefault="qualified" version="1.1.2">
	<xs:import namespace="urn:wco:datamodel:WCO:Declaration_DS:DMS:2" schemaLocation="toldsystemet_DS/toldsystemet_DS_v1.1.xsd"/>
	<xs:import namespace="urn:wco:datamodel:WCO:WCO_DEC_EDS_AUTHORISATION:1" schemaLocation="toldsystemet_DS/WCO_DEC_EDS_AUTHORISATION.xsd" />
	<xs:element name="Declaration" type="Declaration"/>
	<xs:complexType name="Declaration">
		<xs:sequence>
			<xs:element name="FunctionCode" type="ds:DeclarationFunctionCodeType"/>
			<xs:element name="ProcedureCategory" type="ds:DeclarationProcedureCategoryCodeType">
			</xs:element>
			<xs:element name="FunctionalReferenceID" type="ds:DeclarationFunctionalReferenceIDType" minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="EN">LRN</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ID" type="ds:DeclarationIdentificationIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="EN">MRN</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode" type="ds:DeclarationTypeCodeType" minOccurs="1"/>
			<xs:element name="GoodsItemQuantity" type="ds:DeclarationGoodsItemQuantityType" minOccurs="1"/>
			<xs:element name="DeclarationOfficeID" type="ds:DeclarationDeclarationOfficeIDType" minOccurs="0"/>
			<xs:element name="TotalGrossMassMeasure" type="ds:DeclarationTotalGrossMassMeasureType" minOccurs="0"/>
			<xs:element name="Submitter">
				<xs:annotation>
					<xs:documentation xml:lang="EN">Required element in ERMIS</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="ds:SubmitterNameTextType"	minOccurs="1">
						</xs:element>
						<xs:element name="ID" type="ds:SubmitterIdentificationIDType" minOccurs="0">
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Agent" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="ds:AgentNameTextType" minOccurs="0"/>
							<xs:annotation>
								<xs:documentation xml:lang="EN">
									Can be used if declarant uses a third party for importing.
									Not mandatory.
								</xs:documentation>
							</xs:annotation>
						<xs:element name="ID" type="ds:AgentIdentificationIDType" minOccurs="1"/>
							<xs:annotation>
								<xs:documentation xml:lang="EN">
									EORI.
									Mandatory. </xs:documentation>
							</xs:annotation>
						<xs:element name="FunctionCode" type="ds:AgentFunctionCodeType" minOccurs="1"/>
							<xs:annotation>
								<xs:documentation xml:lang="EN">
									Form of representation: direct representation or indirect representation. 

									- Code 2: Direct representation 
									- Code 3: Indirect representation. In order to use code 3, the agent has to have a Danish EORI.
									Mandatory.
								 </xs:documentation>
							</xs:annotation>
						<!-- Address is removed in EUCDM 6.0 -->
						<xs:element name="Address" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
									<xs:annotation>
										<xs:documentation xml:lang="EN">
											Not necessary as the information will be collected from the EORI (Agent\ID).
										</xs:documentation>
									</xs:annotation>
									<xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0"/>
									<xs:annotation>
										<xs:documentation xml:lang="EN">
											Not necessary as the information will be collected from the EORI (Agent\ID).
										</xs:documentation>
									<xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
									<xs:annotation>
										<xs:documentation xml:lang="EN">
											Not necessary as the information will be collected from the EORI (Agent\ID).
										</xs:documentation>
									<xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
									<xs:annotation>
										<xs:documentation xml:lang="EN">
											Not necessary as the information will be collected from the EORI (Agent\ID).
										</xs:documentation>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Declarant"> 
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="ds:DeclarantNameTextType" minOccurs="0"/>
						<xs:annotation>
							<documentation>
								Name and address of the person or company importing the good(s). 
								Importer and declarant can be the same. 

								If private - DK9999 is used in C08.
								Not mandatory.
							</documentation>
						</xs:annotation>
						<xs:element name="ID" type="ds:DeclarantIdentificationIDType" minOccurs="1"/>
						<xs:annotation>
							<documentation>
								EORI. 
								Mandatory.
							</documentation>
						</xs:annotation>
						<xs:element name="Address" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="1"/>
									<xs:annotation>
										<documentation>
											Only used for C08	
										</documentation>
									</xs:annotation>
									<xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="1"/>
									<xs:annotation>
										<documentation>
											Only used for C08
										</documentation>
									</xs:annotation>
									<xs:element name="Line" type="ds:AddressLineTextType" minOccurs="1"/>
									<xs:annotation>
										<documentation>
											Only used for C08
										</documentation>
									</xs:annotation>
									<xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="1"/>
									<xs:annotation>
										<documentation>
											Only used for C08
										</documentation>
									</xs:annotation>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Exporter" minOccurs="0" maxOccurs="1"> 
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="ds:ExporterNameTextType" minOccurs="1"/>
						<xs:element name="ID" type="ds:ExporterIdentificationIDType" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="EN">Required field in ERMIS</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Address" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="1"/>
									<xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="1"/>
									<xs:element name="Line" type="ds:AddressLineTextType" minOccurs="1"/>
									<xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="1"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GoodsShipment">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AdditionalDocument" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SequenceNumeric" type="ds:AdditionalDocumentSequenceNumericType" minOccurs="1">
									</xs:element>
									<xs:element name="CategoryCode" type="ds:AdditionalDocumentCategoryCodeType" minOccurs="1"/>
									<xs:element name="ID" type="ds:AdditionalDocumentIdentificationIDType" minOccurs="1"/>
									<xs:element name="TypeCode" type="ds:AdditionalDocumentTypeCodeType" minOccurs="1"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SequenceNumeric" type="ds:AdditionalInformationSequenceNumericType" minOccurs="1">
									</xs:element>
									<xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType" minOccurs="0"/>
									<xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0"/>
									<xs:element name="StatementTypeCode" type="ds:AdditionalInformationStatementTypeCodeType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="EN">Required field in ERMIS</xs:documentation>
											<xs:documentation xml:lang="EN">StatementTypeCode is not compliant with EUCDM</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Consignment" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="GoodsLocation" minOccurs="0" maxOccurs="1">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Name" type="ds:GoodsLocationNameTextType" minOccurs="1">
													<xs:annotation>
														<xs:documentation xml:lang="EN">UN/LOCODE</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ID" type="ds:GoodsLocationIdentificationIDType" minOccurs="1">
													<xs:annotation>
														<xs:documentation xml:lang="EN">Additional identifier</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="TypeCode" type="ds:GoodsLocationTypeCodeType" minOccurs="1">
													<xs:annotation>
														<xs:documentation xml:lang="EN">Type of location</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Address">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="TypeCode" type="ds:AddressTypeCodeType" minOccurs="1">
																<xs:annotation>
																	<xs:documentation xml:lang="EN">Qualifier of identification</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
															<xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="0">
																<xs:annotation>
																	<xs:documentation xml:lang="EN">Required field in ERMIS</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
															<xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="CustomsValuation" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="FreightChargeAmount" type="ds:CustomsValuationFreightChargeAmountType" minOccurs="1"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="GovernmentAgencyGoodsItem" minOccurs="1" maxOccurs="999">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CustomsValueAmount" type="ds:GovernmentAgencyGoodsItemCustomsValueAmountType" minOccurs="1"/>
									<xs:element name="SequenceNumeric" type="ds:GovernmentAgencyGoodsItemSequenceNumericType" minOccurs="1"/>
									<!-- AdditionalDocument is not required at this level according EUCDM 5.2, but is in EUCDM 6.0 -->
									<xs:element name="AdditionalDocument" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:AdditionalDocumentSequenceNumericType" minOccurs="1">
												</xs:element>
												<xs:element name="CategoryCode" type="ds:AdditionalDocumentCategoryCodeType" minOccurs="0"/>
												<xs:element name="ID" type="ds:AdditionalDocumentIdentificationIDType" minOccurs="0"/>
												<xs:element name="TypeCode" type="ds:AdditionalDocumentTypeCodeType" minOccurs="0"/>
												<xs:element name="WriteOff" minOccurs="0" maxOccurs="1">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="QuantityQuantity" type="ds:WriteOffQuantityQuantityType" minOccurs="0"/>
															<xs:element name="AmountAmount" type="ds:WriteOffAmountAmountType" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:AdditionalInformationSequenceNumericType" minOccurs="1">
												</xs:element>
												<xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType" minOccurs="0"/>
												<xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0"/>
												<xs:element name="StatementTypeCode" type="ds:AdditionalInformationStatementTypeCodeType" minOccurs="0"/>
												<!--svarer ikke til EUCDM-->
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Commodity">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Description" type="ds:CommodityDescriptionTextType" minOccurs="1"/>
												<xs:element name="Classification" minOccurs="1">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="SequenceNumeric" type="ds:CommodityClassificationSequenceNumericType">
															</xs:element>
															<xs:element name="ID"
																		type="ds:ClassificationIdentificationIDType" minOccurs="1"></xs:element>
															<xs:element name="IdentificationTypeCode" type="ds:ClassificationIdentificationTypeCodeType" minOccurs="0">
																<xs:annotation>
																	<xs:documentation xml:lang="EN">EUCDM an..8, WCO an..3</xs:documentation>
																	<xs:documentation xml:lang="EN">Required field in ERMIS</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="GoodsMeasure" minOccurs="0" maxOccurs="1">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="GrossMassMeasure" type="ds:GoodsMeasureGrossMassMeasureType" minOccurs="1"/>
															<xs:element name="TariffQuantity" type="ds:GoodsMeasureTariffQuantityType" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Consignor" minOccurs="0" maxOccurs="1">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Name" type="ds:ConsignorNameTextType"	minOccurs="1">
												</xs:element>
												<xs:element name="ID" type="ds:ConsignorIdentificationIDType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="EN">Required field in ERMIS</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Address" minOccurs="0" maxOccurs="1">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="1"/>
															<xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="1"/>
															<xs:element name="Line" type="ds:AddressLineTextType" minOccurs="1"/>
															<xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="1"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="CustomsValuation" minOccurs="0" maxOccurs="1">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="FreightChargeAmount" type="ds:CustomsValuationFreightChargeAmountType" minOccurs="1"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="DomesticDutyTaxParty" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:DomesticDutyTaxPartySequenceNumericType" minOccurs="1">
												</xs:element>
												<xs:element name="ID" type="ds:DomesticDutyTaxPartyIdentificationIDType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="EN">Required in ERMIS if RoleCode=IOSS</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="RoleCode" type="ds:DomesticDutyTaxPartyRoleCodeType" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="GovernmentProcedure" minOccurs="1" maxOccurs="2">
										<xs:annotation>
											<xs:documentation xml:lang="EN">ERMIS requires "1/10 Requested procedure"=40 in CurrentCode, "1/10 Previous procedure"=00 in PreviousCode and "1/11 Additional procedure"=C07/C08 in CurrentCode</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:GovernmentProcedureSequenceNumericType" minOccurs="1"/>
												<xs:element name="CurrentCode" type="ds:GovernmentProcedureCurrentCodeType" minOccurs="1"/>
												<xs:element name="PreviousCode" type="ds:GovernmentProcedurePreviousCodeType" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Packaging" minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:PackagingSequenceNumericType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="EN">Required field in ERMIS</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="QuantityQuantity" type="ds:PackagingQuantityQuantityType" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="PreviousDocument" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<!-- CategoryCode is not required according EUCDM 5.2-->
												<xs:element name="CategoryCode" type="ds:PreviousDocumentCategoryCodeType" minOccurs="1"/>
												<xs:element name="ID" type="ds:PreviousDocumentIdentificationIDType" minOccurs="1"/>
												<xs:element name="TypeCode" type="ds:PreviousDocumentTypeCodeType" minOccurs="1"/>
												<!-- LineNumeric is not required according EUCDM 6.0-->
												<xs:element name="LineNumeric" type="ds:PreviousDocumentLineNumericType" minOccurs="1"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="UCR" minOccurs="0" maxOccurs="1">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="TraderAssignedReferenceID" type="ds:UCRTraderAssignedReferenceIDType" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Importer">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Name" type="ds:ImporterNameTextType" minOccurs="0">
										<xs:annotation>
											<xs:documentation xml:lang="EN">Required field in ERMIS</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ID" type="ds:ImporterIdentificationIDType" minOccurs="1"/>
									<xs:element name="Address" minOccurs="0" maxOccurs="1">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="1"/>
												<xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="1"/>
												<xs:element name="Line" type="ds:AddressLineTextType" minOccurs="1"/>
												<xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="1"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PreviousDocument" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SequenceNumeric" type="ds:PreviousDocumentSequenceNumericType" minOccurs="1">
									</xs:element>
									<xs:element name="AcceptanceDateTime" type="ds:PreviousDocumentAcceptanceDateTimeType" minOccurs="0"/>

									<!-- CategoryCode is not required according EUCDM 5.2-->
									<xs:element name="CategoryCode"	type="ds:PreviousDocumentCategoryCodeType" minOccurs="1"/>
									<xs:element name="ID" type="ds:PreviousDocumentIdentificationIDType" minOccurs="1"/>
									<xs:element name="TypeCode" type="ds:PreviousDocumentTypeCodeType" minOccurs="1"/>
									<!-- LineNumeric is not required according EUCDM 6.0-->
									<xs:element name="LineNumeric" type="ds:PreviousDocumentLineNumericType" minOccurs="1"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="UCR" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ID" type="ds:UCRIdentificationIDType" minOccurs="0"/>
									<xs:element name="TraderAssignedReferenceID" type="ds:UCRTraderAssignedReferenceIDType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
