H7/toldsystemet_H7_v1.2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:wco:datamodel:WCO:DEC-DMS:2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="urn:wco:datamodel:WCO:Declaration_DS:DMS:2" targetNamespace="urn:wco:datamodel:WCO:DEC-DMS:2" elementFormDefault="qualified" version="1.0.12">
	<xs:import namespace="urn:wco:datamodel:WCO:Declaration_DS:DMS:2" schemaLocation="toldsystemet_DS/toldsystemet_DS_v1.xsd"/>
	<xs:element name="Declaration" type="Declaration"/>
	<xs:complexType name="Declaration">
		<xs:annotation>
			<xs:documentation>
				<details>
					H7 declaration.
				</details>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FunctionCode" type="ds:DeclarationFunctionCodeType">
							<xs:annotation>
					<xs:documentation>
						<type>DMS specific field</type>
						<details>
							- "9"	For initial submission
							- "13"	For correction
						</details>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FunctionalReferenceID" type="ds:DeclarationFunctionalReferenceIDType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<type>EUCDM 5.2</type>
						<code>2/5</code>
						<details>
							LRN - The local reference number (LRN) shall be used. It is nationally defined and allocated
							by the declarant in agreement with the competent authorities to identify each single
							declaration. Must be unique.
						</details>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ID" type="ds:DeclarationIdentificationIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<type>DMS specific field</type>
						<details>
							Used for corrections, invalidation, or amendment. Not used for submission.
							The MRN is automatically generated following the EUCDM legislation as a unique combination
							of 18 characters.
							The combination of the 18 characters is, in the time of writing, as follows:
							1. The last two digits of the year of formal acceptance of the declaration (e.g. 20 for	
							2020)
								a. Consist of 2 digits
							2. Country where the declaration/proof of the customs status of union goods/notification is	
							lodged (e.g. DK for Denmark)
								a. Consist of 2 letters
							3. Unique identifier based on year and country (e.g. 49DE04K21LO1)
								a. Consist of 12 alphanumeric characters
							4. Procedure identifier of the declaration (e.g. R for H1, H2, H3, H4, H6, H7 or I1)
								a. Consist of 1 alphanumeric character
							5. Control digit (e.g. 5)
								a. Consist of 1 alphanumeric character
							6. Based on the ISO 6346 algorithm
						</details>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode" type="ds:DeclarationTypeCodeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<type>DMS specific field</type>
						<details>
							Follows the 1/1 from H1:
							- "IMA" 	For a standard customs declaration (under Article 162 of the Code).
							- "IMD" 	For lodging a standard customs declaration (such as referred to under code A) in
							accordance with Article 171 of the Code.
						</details>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsItemQuantity" type="ds:DeclarationGoodsItemQuantityType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<type>DMS specific field</type>
						<details>
							Total number of items in the declaration.
						</details>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeclarationOfficeID" type="ds:DeclarationDeclarationOfficeIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<type>EUCDM 5.2</type>
						<code>5/23</code>
						<details>
							See supplied DeclarationOfficeID.xlsx for valid entries.
						</details>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalGrossMassMeasure" type="ds:DeclarationTotalGrossMassMeasureType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						<type>EUCDM 5.2</type>
						<code>6/5</code>
						<details>
							Weight of packages.
						</details>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Submitter">
				<xs:annotation>
					<xs:documentation>
						<type>DMS specific field</type>
						<details>
							Name and Identifier of submitting company.
						</details>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="ds:SubmitterNameTextType" minOccurs="1">
							<xs:annotation>
								<xs:documentation>
									<type>DMS specific field</type>
									<details>
										Submitting name, provided by TOLDST.
									</details>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ID" type="ds:SubmitterIdentificationIDType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<type>DMS specific field</type>
									<details>
										Submitting ID, provided by TOLDST.
									</details>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Agent" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<details>
							Details on importing third party.
							Also known as Representative in EUCDM.
						</details>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="ds:AgentNameTextType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<type>EUCDM 5.2</type>
									<code>3/19</code>
									<details>
										Representative name. Only provide info, if Declaration/Agent/ID isn't filled.
										EORI.
									</details>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ID" type="ds:AgentIdentificationIDType" minOccurs="1">
							<xs:annotation>
								<xs:documentation>
									<type>EUCDM 5.2</type>
									<code>3/20</code>
									<details>
										Representative identification No. - Normally EORI.
									</details>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="FunctionCode" type="ds:AgentFunctionCodeType" minOccurs="1">
							<xs:annotation>
								<xs:documentation>
									<type>EUCDM 5.2</type>
									<code>3/21</code>
									<details>
										Representative status code:
										- "2" is direct representation.
										- "3" indirect represenation.
										In order to use code 3 the agent has to have a danish EORI.
									</details>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Address" minOccurs="1" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="1"/>
									<xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="1"/>
									<xs:element name="Line" type="ds:AddressLineTextType" minOccurs="1"/>
									<xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="1"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Declarant">
				<xs:annotation>
					<xs:documentation>
						<details>
							Name and address of the person or company importing the good. Importer and declarant can be
							the same.
						</details>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="ds:DeclarantNameTextType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>
									<type>EUCDM 5.2</type>
									<code>3/17</code>
									<details>
										Name and address of the person or company importing the good(s). 
										Importer and declarant can be the same. 

										If private - DK9999 is used in C08.
									</details>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ID" type="ds:DeclarantIdentificationIDType" minOccurs="1">
							<xs:annotation>
								<xs:documentation>
									<type>EUCDM 5.2</type>
									<code>3/18</code>
									<details>
										Declarant identification No. - EORI
									</details>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Address" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									<type>EUCDM 5.2</type>
									<code>3/17</code>
									<details>
										Declarant Address. Only needed for C08 or if EORI is DK09999981. Country code is ISO 3166 ALPHA-2.
									</details>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="1"/>
									<xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="1"/>
									<xs:element name="Line" type="ds:AddressLineTextType" minOccurs="1"/>
									<xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="1"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Exporter" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<details>
							The party exporting the good into the union.
						</details>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="ds:ExporterNameTextType" minOccurs="1">
							<xs:annotation>
								<xs:documentation>
									<type>EUCDM 5.2</type>
									<code>3/1</code>
									<details>
										Person or Company name.
									</details>
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<!-- <xs:element name="ID" type="ds:ExporterIdentificationIDType">
							<xs:annotation>
								<xs:documentation>
									<type>DMS specific field</type>
									<details>
										Currently required. Will be removed in the future. Use the Name again.
									</details>
								</xs:documentation>
							</xs:annotation>
						</xs:element> -->
						<xs:annotation>
								<xs:documentation xml:lang="EN">Required field in ERMIS</xs:documentation>
							</xs:annotation>
						<xs:element name="Address" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									<type>EUCDM 5.2</type>
									<code>3/1</code>
									<details>
										Exporter Address. Country code is ISO 3166 ALPHA-2
									</details>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="1"/>
									<xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="1"/>
									<xs:element name="Line" type="ds:AddressLineTextType" minOccurs="1"/>
									<xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="1"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GoodsShipment">
				<xs:annotation>
					<xs:documentation>
						<details>
							H7 declaration goods.
							All subfields have to be filled, if one is filled.
						</details>
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AdditionalDocument" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									<type>EUCDM 5.2</type>
									<code>2/3</code>
									<details>
										All subfields have to be filled, if one is filled.
										<!--https://svn.taxud.gefeg.com/svn/Documentation/EUCDM/EN/EUCDM/Annex-B/i11.htm#1FMain/FData%20groups/TGroup-2/EB-2-3 --> 
										https://svn.taxud.gefeg.com/svn/Documentation/Archive/EUCDM%205.2/EN/index.htm
									</details>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SequenceNumeric" type="ds:AdditionalDocumentSequenceNumericType" minOccurs="1"/>
									<xs:element name="CategoryCode" type="ds:AdditionalDocumentCategoryCodeType" minOccurs="1"/>
									<xs:annotation>
										<xs:documentation>
											In H7 documentation this is the type code, but here it's split into two fields, category code and type code.
										</xs:documentation>
									</xs:annotation>
									<xs:element name="ID" type="ds:AdditionalDocumentIdentificationIDType" minOccurs="1"/>
									<xs:element name="TypeCode" type="ds:AdditionalDocumentTypeCodeType" minOccurs="1"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									<type>EUCDM 5.2</type>
									<code>2/2</code>
									<details>
										Used for any additional information.
										If filled, both codes (StatementCode and StatementTypeCode) have to be filled.
										<!-- https://svn.taxud.gefeg.com/svn/Documentation/EUCDM/EN/EUCDM/Annex-B/i11.htm#1FMain/FData%20groups/TGroup-2/EB-2-2 -->
										https://svn.taxud.gefeg.com/svn/Documentation/Archive/EUCDM%205.2/EN/index.htm
									</details>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SequenceNumeric" type="ds:AdditionalInformationSequenceNumericType" minOccurs="1">
									<xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType" minOccurs="1"/>
									<xs:annotation>
										<xs:documentation>
											Statement code will always start with '1' for import. 
											One character. 
										</xs:documentation>
									</xs:annotation>
									<xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0"/>
									<xs:element name="StatementTypeCode" type="ds:AdditionalInformationStatementTypeCodeType" minOccurs="1"/>
									<xs:annotation>
										<xs:documentation>
											Four characters. 
										</xs:documentation>
									</xs:annotation>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Consignment" minOccurs="0" maxOccurs="1">
							<annotation>
								<documentation>
									Mandatory for an IMA.
								</documentation>
							</annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="GoodsLocation" minOccurs="1" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
												<type>EUCDM 5.2</type>
												<code>5/23</code>
												<details>
													Location of good. Country code is ISO 3166 ALPHA-2
													<!-- https://svn.taxud.gefeg.com/svn/Documentation/EUCDM/EN/EUCDM/Annex-B/e31.htm#1FMain/FData%20groups/TGroup-5/EB-5-23/AB-5-23-a3 -->
													https://svn.taxud.gefeg.com/svn/Documentation/Archive/EUCDM%205.2/EN/index.htm
												</details>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Name" type="ds:GoodsLocationNameTextType" minOccurs="1">
													<xs:annotation>
														<xs:documentation>UN/LOCODE</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ID" type="ds:GoodsLocationIdentificationIDType" minOccurs="1">
													<xs:annotation>
														<xs:documentation>Additional identifier</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="TypeCode" type="ds:GoodsLocationTypeCodeType" minOccurs="1">
													<xs:annotation>
														<xs:documentation>Type of location</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Address">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="TypeCode" type="ds:AddressTypeCodeType" minOccurs="1">
																<xs:annotation>
																	<xs:documentation xml:lang="EN">Qualifier of identification
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="0"/>
															<xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="1"/>
															<xs:element name="Line" type="ds:AddressLineTextType" minOccurs="0"/>
															<xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="CustomsValuation" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									<type>EUCDM 5.2</type>
									<code>4/19</code>
									<details>
										Transportation cost.
									</details>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="FreightChargeAmount" type="ds:CustomsValuationFreightChargeAmountType" minOccurs="1"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						
						<xs:element name="DomesticDutyTaxParty" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ID" type="ds:DomesticDutyTaxPartyIdentificationIDType" minOccurs="0"/>
									<xs:element name="RoleCode" type="ds:DomesticDutyTaxPartyRoleCodeType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element> 
						<xs:element name="GovernmentAgencyGoodsItem" minOccurs="1" maxOccurs="999">
							<xs:annotation>
								<xs:documentation>
									<details>
										H7 Item.
									</details>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CustomsValueAmount" type="ds:GovernmentAgencyGoodsItemCustomsValueAmountType" minOccurs="1">
										<xs:annotation>
											<xs:documentation>
												<type>EUCDM 5.2</type>
												<code>4/18</code>
												<details>
													The value of the imported Item. Written as CurrencyCode + Value. Any Currency code is allowed.
												</details>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="SequenceNumeric" type="ds:GovernmentAgencyGoodsItemSequenceNumericType" minOccurs="1">
										<xs:annotation>
											<xs:documentation>
												<type>EUCDM 5.2</type>
												<code>1/6</code>
												<details>
													Goods item number. The sequence identifier. Has to be sequential.
													Start at 1.
												</details>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="AdditionalDocument" minOccurs="1" maxOccurs="unbounded">
										<!-- Mandatory as bugfix -->
										<xs:annotation>
											<xs:documentation>
												<type>EUCDM 5.2</type>
												<code>2/3</code>
												<details>
													Used for any additional documents.
													If one subfield is filled, all subfields have to be filled.
												</details>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:AdditionalDocumentSequenceNumericType" minOccurs="1">
												</xs:element>
												<xs:element name="CategoryCode" type="ds:AdditionalDocumentCategoryCodeType" minOccurs="1"/>
												<xs:annotation>
												<xs:documentation>
													In H7 documentation this is the type code, but here it's split into two fields, category code and type code.
												</xs:documentation>
											</xs:annotation>
												<xs:element name="ID" type="ds:AdditionalDocumentIdentificationIDType" minOccurs="1"/>
												<xs:element name="TypeCode" type="ds:AdditionalDocumentTypeCodeType" minOccurs="1"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>
												<type>EUCDM 5.2</type>
												<code>2/2</code>
												<details>
													Used for any additional information.
													If filled, both codes (StatementCode and StatementTypeCode) have to be filled.
												</details>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:AdditionalInformationSequenceNumericType" minOccurs="1">
												<xs:element name="StatementCode" type="ds:AdditionalInformationStatementCodeType" minOccurs="1"/>
												<xs:annotation>
													<xs:documentation>
														Statement code will always start with '1' for import. 
														One character. 
													</xs:documentation>
												</xs:annotation>	
												<xs:element name="StatementDescription" type="ds:AdditionalInformationStatementDescriptionTextType" minOccurs="0"/>
												<xs:element name="StatementTypeCode" type="ds:AdditionalInformationStatementTypeCodeType" minOccurs="1"/>
												<xs:annotation>
													<xs:documentation>
														Four characters
													</xs:documentation>
												</xs:annotation>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Commodity">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Description" type="ds:CommodityDescriptionTextType" minOccurs="1">
													<xs:annotation>
														<xs:documentation>
															<type>EUCDM 5.2</type>
															<code>6/8</code>
															<details>Short description of the goods item.</details>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Classification" minOccurs="1">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ID" type="ds:ClassificationIdentificationIDType" minOccurs="1">
																<xs:annotation>
																	<xs:documentation>
																		<type>EUCDM 5.2</type>
																		<code>6/14</code>
																		<details>
																			Type of goods.
																			6 characters. 
																			There will be a reference list for it.
																			Validated towards Taric.
																		</details>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="IdentificationTypeCode" type="ds:ClassificationIdentificationTypeCodeType" minOccurs="1">
																<xs:annotation>
																	<xs:documentation>
																		<type>DMS Specific field</type>
																		<details>
																			Set to TSP for all H7 declarations.
																			Scheduled for future removal. !!!!!!!
																		</details>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="GoodsMeasure" minOccurs="0" maxOccurs="1">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="GrossMassMeasure" type="ds:GoodsMeasureGrossMassMeasureType" minOccurs="1">
																<xs:annotation>
																	<xs:documentation>
																		<type>EUCDM 5.2</type>
																		<code>6/5</code>
																		<details>
																			Can be filled on either item or header level.
																			System has a ruleset for maximum weight.
																			On header level it is the total gross weight.
																		</details>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="TariffQuantity" type="ds:GoodsMeasureTariffQuantityType" minOccurs="0">
																<xs:annotation>
																	<xs:documentation>
																		<type>EUCDM 5.2</type>
																		<code>6/5</code>
																		<details>
																			Only needed if CurrentCode C08.
																		</details>
																	</xs:documentation>
																</xs:annotation>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="CustomsValuation" minOccurs="0" maxOccurs="1">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="FreightChargeAmount" type="ds:CustomsValuationFreightChargeAmountType" minOccurs="1">
													<xs:annotation>
														<xs:documentation>
															<type>EUCDM 5.2</type>
															<code>4/19</code>
															<details>
																Transportation cost, specific on each item.
															</details>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="DomesticDutyTaxParty" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>
												<type>EUCDM 5.2</type>
												<code>3/40</code>
												<details>
													Required by DMS if
													RoleCode=IOSS. Can either be filed out with IOSS number or VAT
													number.
													For ID see https://svn.taxud.gefeg.com/svn/Documentation/Archive/EUCDM%205.2/EN/index.htm
													<!-- https://svn.taxud.gefeg.com/svn/Documentation/EUCDM/EN/EUCDM/Annex-B/e31.htm#1FMain/FData
													groups/TGroup-3/EB-3-40 -->
												</details>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ID" type="ds:DomesticDutyTaxPartyIdentificationIDType" minOccurs="0">
												</xs:element>
												<xs:element name="RoleCode" type="ds:DomesticDutyTaxPartyRoleCodeType" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="GovernmentProcedure" minOccurs="1" maxOccurs="3">
										<xs:annotation>
											<xs:documentation>
												<type>DMS specific field</type>
												<details>
													DMS requires:
													40 in CurrentCode,
													00 in PreviousCode
												</details>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:GovernmentProcedureSequenceNumericType" minOccurs="1"/>
												<xs:element name="CurrentCode" type="ds:GovernmentProcedureCurrentCodeType" minOccurs="1"/>
												<xs:element name="PreviousCode" type="ds:GovernmentProcedurePreviousCodeType" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Packaging" minOccurs="1" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>
												<type>EUCDM 5.2</type>
												<code>6/10</code>
												<details>
													Number of packages. The SequenceNumeric is for the quantity on that item.
												</details>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SequenceNumeric" type="ds:PackagingSequenceNumericType" minOccurs="1">
													<xs:annotation>
														<xs:documentation>
															<type>DMS specific field</type>
															<details>
																DMS currently requires this. Fill the sequential number of the package.
															</details>
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="QuantityQuantity" type="ds:PackagingQuantityQuantityType" minOccurs="0" maxOccurs="50"/>
												<xs:annotation>
														<xs:documentation>
															Number of packages
														</xs:documentation>
													</xs:annotation>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="PreviousDocument" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>
												<type>EUCDM 5.2</type>
												<code>2/1</code>
												<details>
													If one subfield is filled, all subfields have to be filled.
												</details>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CategoryCode" type="ds:PreviousDocumentCategoryCodeType" minOccurs="1"/>
													<xs:annotation>
														<xs:documentation>
															In H7 documentation this is the type code, but here it's split into two fields, category code and type code.
														</xs:documentation>
													</xs:annotation>
												<xs:element name="ID" type="ds:PreviousDocumentIdentificationIDType" minOccurs="1"/>
												<xs:element name="TypeCode" type="ds:PreviousDocumentTypeCodeType" minOccurs="1"/>
												<xs:element name="LineNumeric" type="ds:PreviousDocumentLineNumericType" minOccurs="1"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="UCR" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>
												<type>EUCDM 5.2</type>
												<code>2/4</code>
												<details>
													Unique number that follows the good all the way. Used by transporters.
												</details>
											</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="TraderAssignedReferenceID" type="ds:UCRTraderAssignedReferenceIDType" minOccurs="1"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Importer">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Name" type="ds:ImporterNameTextType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
												<type>EUCDM 5.2</type>
												<code>3/15</code>
												<details>
													Importer name.
												</details>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ID" type="ds:ImporterIdentificationIDType" minOccurs="1">
										<xs:annotation>
											<xs:documentation>
												<type>EUCDM 5.2</type>
												<code>3/16</code>
												<details>
													EORI.
												</details>
											</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Address" minOccurs="1" maxOccurs="1">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CityName" type="ds:AddressCityNameTextType" minOccurs="1"/>
												<xs:element name="CountryCode" type="ds:AddressCountryCodeType" minOccurs="1">
													<xs:annotation>
														<xs:documentation>
															Must always be DK
														</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Line" type="ds:AddressLineTextType" minOccurs="1"/>
												<xs:element name="PostcodeID" type="ds:AddressPostcodeIDType" minOccurs="1"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PreviousDocument" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									<type>EUCDM 5.2</type>
									<code>2/1</code>
									<details>
										If one subfield is filled, all subfields have to be filled.
									</details>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CategoryCode" type="ds:PreviousDocumentCategoryCodeType" minOccurs="1"/>
									<xs:annotation>
										<xs:documentation>
											In H7 documentation this is the type code, but here it's split into two fields, category code and type code.
										</xs:documentation>
									</xs:annotation>
									<xs:element name="ID" type="ds:PreviousDocumentIdentificationIDType" minOccurs="1"/>
									<xs:element name="TypeCode" type="ds:PreviousDocumentTypeCodeType" minOccurs="1"/>
									<xs:element name="LineNumeric" type="ds:PreviousDocumentLineNumericType" minOccurs="1"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="UCR" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									<type>EUCDM 5.2</type>
									<code>2/4</code>
									<details>
										Unique number that follows the good all the way. Used by transporters.
									</details>
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TraderAssignedReferenceID" type="ds:UCRTraderAssignedReferenceIDType" minOccurs="1"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>